Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets, @Azure/azureml-data, @azure/azureml-inference-idc, @Azure/aml-model-monitoring

Make AssetConfig hashable
  scripts/azureml-assets/CHANGELOG.md
  scripts/azureml-assets/azureml/assets/config.py
Owners: @azure/aml-assets

Prepare for azureml-assets release
  scripts/azureml-assets/CHANGELOG.md
  scripts/azureml-assets/setup.py
Owners: @azure/aml-assets

Remove extra whitespace
  scripts/azureml-assets/azureml/assets/config.py
Owners: @azure/aml-assets

review comments addressed
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

updating the model cards with model specific defaults
  models/system/bert-base-cased/spec.yaml
  models/system/bert-base-uncased/spec.yaml
  models/system/bert-large-cased/spec.yaml
  models/system/bert-large-uncased/spec.yaml
  models/system/camembert-base/spec.yaml
  models/system/deepset-minilm-uncased-squad2/spec.yaml
  models/system/deepset-roberta-base-squad2/spec.yaml
  models/system/distilbert-base-cased-distilled-squad/spec.yaml
  models/system/distilbert-base-cased/spec.yaml
  models/system/distilbert-base-uncased-distilled-squad/spec.yaml
  models/system/distilbert-base-uncased-finetuned-sst-2-english/spec.yaml
  models/system/distilbert-base-uncased/spec.yaml
  models/system/distilgpt2/spec.yaml
  models/system/distilroberta-base/spec.yaml
  models/system/facebook-bart-large-cnn/spec.yaml
  models/system/finiteautomata-bertweet-base-sentiment-analysis/spec.yaml
  models/system/gpt2-large/spec.yaml
  models/system/gpt2-medium/spec.yaml
  models/system/gpt2/spec.yaml
  models/system/jean-baptiste-camembert-ner/spec.yaml
  models/system/microsoft-deberta-base-mnli/spec.yaml
  models/system/microsoft-deberta-base/spec.yaml
  models/system/microsoft-deberta-large-mnli/spec.yaml
  models/system/microsoft-deberta-large/spec.yaml
  models/system/microsoft-deberta-xlarge/spec.yaml
  models/system/roberta-base-openai-detector/spec.yaml
  models/system/roberta-base/spec.yaml
  models/system/roberta-large-mnli/spec.yaml
  models/system/roberta-large-openai-detector/spec.yaml
  models/system/roberta-large/spec.yaml
  models/system/sshleifer-distilbart-cnn-12-6/spec.yaml
  models/system/t5-base/spec.yaml
  models/system/t5-large/spec.yaml
  models/system/t5-small/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Add DeploymentConfig.should_create
  scripts/azureml-assets/azureml/assets/deployment_config.py
  test/test_deploy_configs.py
Owners: @azure/aml-assets

Update CHANGELOG
  scripts/azureml-assets/CHANGELOG.md
Owners: @azure/aml-assets

review comment addressed
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

Make AssetConfig hashable, add DeployConfig.should_create (#777)
  scripts/azureml-assets/CHANGELOG.md
  scripts/azureml-assets/azureml/assets/config.py
  scripts/azureml-assets/azureml/assets/deployment_config.py
  scripts/azureml-assets/setup.py
  test/test_deploy_configs.py
Owners: @azure/aml-assets

bump signal version
  model_monitoring/components/src/model_monitor_output_metrics/entities/signals/generation_safety_quality_signal.py
Owners: @Azure/aml-model-monitoring

review comment addressed
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

Update training/model_management/src/azureml/model/mgmt/downloader/downloader.py
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

change error string
  responsibleai/tabular/components/src/create_score_card.py
Owners: @azure/aml-rai

Update Components with latest Environment
  common/components/register_model/spec.yaml
  training/model_management/components/convert_model_to_mlflow/spec.yaml
  training/model_management/components/download_model/spec.yaml
  training/model_management/components/import_model/spec.yaml
  training/model_management/components/mlflow_model_local_validation/spec.yaml
Owners: @azure/aml-training

reverting the version for Pipeline Component
  training/model_management/components/import_model/spec.yaml
Owners: @azure/aml-training

update model versions
  models/system/bert-base-cased/spec.yaml
  models/system/bert-base-uncased/spec.yaml
  models/system/bert-large-cased/spec.yaml
  models/system/bert-large-uncased/spec.yaml
  models/system/camembert-base/spec.yaml
  models/system/deepset-minilm-uncased-squad2/spec.yaml
  models/system/deepset-roberta-base-squad2/spec.yaml
  models/system/distilbert-base-cased-distilled-squad/spec.yaml
  models/system/distilbert-base-cased/spec.yaml
  models/system/distilbert-base-uncased-distilled-squad/spec.yaml
  models/system/distilbert-base-uncased-finetuned-sst-2-english/spec.yaml
  models/system/distilbert-base-uncased/spec.yaml
  models/system/distilgpt2/spec.yaml
  models/system/distilroberta-base/spec.yaml
  models/system/facebook-bart-large-cnn/spec.yaml
  models/system/finiteautomata-bertweet-base-sentiment-analysis/spec.yaml
  models/system/gpt2-large/spec.yaml
  models/system/gpt2-medium/spec.yaml
  models/system/gpt2/spec.yaml
  models/system/jean-baptiste-camembert-ner/spec.yaml
  models/system/microsoft-deberta-base-mnli/spec.yaml
  models/system/microsoft-deberta-base/spec.yaml
  models/system/microsoft-deberta-large-mnli/spec.yaml
  models/system/microsoft-deberta-large/spec.yaml
  models/system/microsoft-deberta-xlarge/spec.yaml
  models/system/roberta-base-openai-detector/spec.yaml
  models/system/roberta-base/spec.yaml
  models/system/roberta-large-mnli/spec.yaml
  models/system/roberta-large-openai-detector/spec.yaml
  models/system/roberta-large/spec.yaml
  models/system/sshleifer-distilbart-cnn-12-6/spec.yaml
  models/system/t5-base/spec.yaml
  models/system/t5-large/spec.yaml
  models/system/t5-small/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Pmanoj/update model specific defaults (#778)
  models/system/bert-base-cased/spec.yaml
  models/system/bert-base-uncased/spec.yaml
  models/system/bert-large-cased/spec.yaml
  models/system/bert-large-uncased/spec.yaml
  models/system/camembert-base/spec.yaml
  models/system/deepset-minilm-uncased-squad2/spec.yaml
  models/system/deepset-roberta-base-squad2/spec.yaml
  models/system/distilbert-base-cased-distilled-squad/spec.yaml
  models/system/distilbert-base-cased/spec.yaml
  models/system/distilbert-base-uncased-distilled-squad/spec.yaml
  models/system/distilbert-base-uncased-finetuned-sst-2-english/spec.yaml
  models/system/distilbert-base-uncased/spec.yaml
  models/system/distilgpt2/spec.yaml
  models/system/distilroberta-base/spec.yaml
  models/system/facebook-bart-large-cnn/spec.yaml
  models/system/finiteautomata-bertweet-base-sentiment-analysis/spec.yaml
  models/system/gpt2-large/spec.yaml
  models/system/gpt2-medium/spec.yaml
  models/system/gpt2/spec.yaml
  models/system/jean-baptiste-camembert-ner/spec.yaml
  models/system/microsoft-deberta-base-mnli/spec.yaml
  models/system/microsoft-deberta-base/spec.yaml
  models/system/microsoft-deberta-large-mnli/spec.yaml
  models/system/microsoft-deberta-large/spec.yaml
  models/system/microsoft-deberta-xlarge/spec.yaml
  models/system/roberta-base-openai-detector/spec.yaml
  models/system/roberta-base/spec.yaml
  models/system/roberta-large-mnli/spec.yaml
  models/system/roberta-large-openai-detector/spec.yaml
  models/system/roberta-large/spec.yaml
  models/system/sshleifer-distilbart-cnn-12-6/spec.yaml
  models/system/t5-base/spec.yaml
  models/system/t5-large/spec.yaml
  models/system/t5-small/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

try excpet catch for hf api failures
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

try excpet catch for hf api failures
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

Updated logging of input args, after validations
  common/src/model_registration/register.py
  training/model_management/src/run_model_download.py
  training/model_management/src/run_model_preprocess.py
Owners: @azure/aml-training

fixing the update of model versions. versions update in incorrect place
  models/system/bert-base-cased/spec.yaml
  models/system/bert-base-uncased/spec.yaml
  models/system/bert-large-cased/spec.yaml
  models/system/bert-large-uncased/spec.yaml
  models/system/camembert-base/spec.yaml
  models/system/deepset-minilm-uncased-squad2/spec.yaml
  models/system/deepset-roberta-base-squad2/spec.yaml
  models/system/distilbert-base-cased-distilled-squad/spec.yaml
  models/system/distilbert-base-cased/spec.yaml
  models/system/distilbert-base-uncased-distilled-squad/spec.yaml
  models/system/distilbert-base-uncased-finetuned-sst-2-english/spec.yaml
  models/system/distilbert-base-uncased/spec.yaml
  models/system/distilgpt2/spec.yaml
  models/system/distilroberta-base/spec.yaml
  models/system/facebook-bart-large-cnn/spec.yaml
  models/system/finiteautomata-bertweet-base-sentiment-analysis/spec.yaml
  models/system/gpt2-large/spec.yaml
  models/system/gpt2-medium/spec.yaml
  models/system/gpt2/spec.yaml
  models/system/jean-baptiste-camembert-ner/spec.yaml
  models/system/microsoft-deberta-base-mnli/spec.yaml
  models/system/microsoft-deberta-base/spec.yaml
  models/system/microsoft-deberta-large-mnli/spec.yaml
  models/system/microsoft-deberta-large/spec.yaml
  models/system/microsoft-deberta-xlarge/spec.yaml
  models/system/roberta-base-openai-detector/spec.yaml
  models/system/roberta-base/spec.yaml
  models/system/roberta-large-mnli/spec.yaml
  models/system/roberta-large-openai-detector/spec.yaml
  models/system/roberta-large/spec.yaml
  models/system/sshleifer-distilbart-cnn-12-6/spec.yaml
  models/system/t5-base/spec.yaml
  models/system/t5-large/spec.yaml
  models/system/t5-small/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Pmanoj/update model specific defaults2 (#781)
  models/system/bert-base-cased/spec.yaml
  models/system/bert-base-uncased/spec.yaml
  models/system/bert-large-cased/spec.yaml
  models/system/bert-large-uncased/spec.yaml
  models/system/camembert-base/spec.yaml
  models/system/deepset-minilm-uncased-squad2/spec.yaml
  models/system/deepset-roberta-base-squad2/spec.yaml
  models/system/distilbert-base-cased-distilled-squad/spec.yaml
  models/system/distilbert-base-cased/spec.yaml
  models/system/distilbert-base-uncased-distilled-squad/spec.yaml
  models/system/distilbert-base-uncased-finetuned-sst-2-english/spec.yaml
  models/system/distilbert-base-uncased/spec.yaml
  models/system/distilgpt2/spec.yaml
  models/system/distilroberta-base/spec.yaml
  models/system/facebook-bart-large-cnn/spec.yaml
  models/system/finiteautomata-bertweet-base-sentiment-analysis/spec.yaml
  models/system/gpt2-large/spec.yaml
  models/system/gpt2-medium/spec.yaml
  models/system/gpt2/spec.yaml
  models/system/jean-baptiste-camembert-ner/spec.yaml
  models/system/microsoft-deberta-base-mnli/spec.yaml
  models/system/microsoft-deberta-base/spec.yaml
  models/system/microsoft-deberta-large-mnli/spec.yaml
  models/system/microsoft-deberta-large/spec.yaml
  models/system/microsoft-deberta-xlarge/spec.yaml
  models/system/roberta-base-openai-detector/spec.yaml
  models/system/roberta-base/spec.yaml
  models/system/roberta-large-mnli/spec.yaml
  models/system/roberta-large-openai-detector/spec.yaml
  models/system/roberta-large/spec.yaml
  models/system/sshleifer-distilbart-cnn-12-6/spec.yaml
  models/system/t5-base/spec.yaml
  models/system/t5-large/spec.yaml
  models/system/t5-small/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

update cryptography version to 41.0.0
  pipelines/environments/mldesigner-minimal/context/conda_dependencies.yaml
  pipelines/environments/mldesigner/context/conda_dependencies.yaml
Owners: @azure/aml-assets

code duplicacy removed
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

categories changed for model downloadcomponent
  training/model_management/components/download_model/asset.yaml
Owners: @azure/aml-training

app insights changes
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
  training/model_management/src/azureml/model/mgmt/processors/preprocess.py
  training/model_management/src/azureml/model/mgmt/processors/pyfunc/convert.py
  training/model_management/src/azureml/model/mgmt/processors/transformers/convertors.py
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
  training/model_management/src/azureml/model/mgmt/utils/logging_utils/__init__.py
  training/model_management/src/azureml/model/mgmt/utils/logging_utils/config.py
  training/model_management/src/azureml/model/mgmt/utils/logging_utils/logger.py
  training/model_management/src/azureml/model/mgmt/utils/logging_utils/logger_util.py
  training/model_management/src/run_model_download.py
  training/model_management/src/run_model_preprocess.py
Owners: @azure/aml-training

minor restructure
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

fixed lint issues
  common/src/model_registration/register.py
  training/model_management/src/run_model_preprocess.py
Owners: @azure/aml-training

Added categories in asset.yaml
  training/model_management/components/download_model/asset.yaml
  training/model_management/components/mlflow_model_local_validation/asset.yaml
Owners: @azure/aml-training

Updated categories
  training/model_management/components/convert_model_to_mlflow/asset.yaml
  training/model_management/components/mlflow_model_local_validation/asset.yaml
Owners: @azure/aml-training

Added Check for modle id
  training/model_management/src/run_model_download.py
Owners: @azure/aml-training

fixed lint issue
  training/model_management/src/run_model_download.py
Owners: @azure/aml-training

Reverted potenital PII input logging
  common/src/model_registration/register.py
  training/model_management/components/import_model/spec.yaml
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
  training/model_management/src/run_model_download.py
  training/model_management/src/run_model_preprocess.py
Owners: @azure/aml-training

Validate asset names too
  .github/workflows/assets-validation.yaml
Owners: @azure/aml-assets

Fixed Lint Issue
  common/src/model_registration/register.py
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
  training/model_management/src/run_model_download.py
Owners: @azure/aml-training

Validate asset names too (#784)
  .github/workflows/assets-validation.yaml
Owners: @azure/aml-assets

Fixed Lint issue
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
Owners: @azure/aml-training

handling invalid hf model id (#768)
  training/model_management/components/download_model/asset.yaml
  training/model_management/components/download_model/spec.yaml
  training/model_management/components/import_model/spec.yaml
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

Update Components with latest Environment (#780)
  common/components/register_model/spec.yaml
  common/src/model_registration/register.py
  training/model_management/components/convert_model_to_mlflow/asset.yaml
  training/model_management/components/convert_model_to_mlflow/spec.yaml
  training/model_management/components/download_model/spec.yaml
  training/model_management/components/import_model/spec.yaml
  training/model_management/components/mlflow_model_local_validation/asset.yaml
  training/model_management/components/mlflow_model_local_validation/spec.yaml
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
  training/model_management/src/run_model_download.py
  training/model_management/src/run_model_preprocess.py
Owners: @azure/aml-training

Improve warning for dropping non-categorical features for fairness assessment #779
  responsibleai/tabular/components/src/create_score_card.py
Owners: @azure/aml-rai

.github/CODEOWNERS:

*     @azure/aml-assets
/benchmark/ @azure/aims
/responsibleai/ @azure/aml-rai
/training/ @azure/aml-training 
/sample/ @Azure/aml-assets
/data/ @Azure/azureml-data
/models/ @azure/aml-training @azure/azureml-inference-idc
/common/components/register_model/ @azure/aml-training
/common/components/deploy_model/ @azure/aml-training
/common/src/model_deployment/ @azure/aml-training
/common/src/model_registration/ @azure/aml-training
/model_monitoring/ @Azure/aml-model-monitoring
