Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets

.github/CODEOWNERS:

*     @azure/aml-assets
/benchmark/ @azure/aims
/responsibleai/ @azure/aml-rai
/training/ @azure/aml-training 
/sample/ @Azure/aml-assets

Create script to extract tagged assets (#361)
  scripts/azureml-assets/azureml/assets/extract_tagged_assets.py
  scripts/azureml-assets/azureml/assets/update_assets.py
  scripts/azureml-assets/azureml/assets/util/__init__.py
  scripts/azureml-assets/azureml/assets/util/util.py
Owners: @azure/aml-assets

Create script to extract tagged assets (#361)
  scripts/azureml-assets/azureml/assets/extract_tagged_assets.py
  scripts/azureml-assets/azureml/assets/update_assets.py
  scripts/azureml-assets/azureml/assets/util/__init__.py
  scripts/azureml-assets/azureml/assets/util/util.py
Owners: @azure/aml-assets

Update release branch
  scripts/azureml-assets/azureml/assets/extract_tagged_assets.py
  scripts/azureml-assets/azureml/assets/update_assets.py
  scripts/azureml-assets/azureml/assets/util/__init__.py
  scripts/azureml-assets/azureml/assets/util/util.py
  scripts/release/requirements.txt
Owners: @azure/aml-assets

Unpin pip to get latest base python packages for fixing vulnearbility.
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Unpin pip to get latest base python packages for fixing vulnearbility. (#362)
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Unpin pip to get latest base python packages for fixing vulnearbility. (#362)
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Update release branch
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  latest/environment/responsibleai-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/spec.yaml
Owners: @azure/aml-assets

remove Component SDK content
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/asset.yaml
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/context/Dockerfile
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/environment.yaml
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/spec.yaml
Owners: @azure/aml-assets

upgrade mldesigner version
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-assets

Support prerelease Python packages
  scripts/azureml-assets/azureml/assets/environment/pin_package_versions.py
Owners: @azure/aml-assets

Support prerelease Python packages (#364)
  scripts/azureml-assets/azureml/assets/environment/pin_package_versions.py
Owners: @azure/aml-assets

Support prerelease Python packages (#364)
  scripts/azureml-assets/azureml/assets/environment/pin_package_versions.py
Owners: @azure/aml-assets

Update release branch
  scripts/azureml-assets/azureml/assets/environment/pin_package_versions.py
Owners: @azure/aml-assets

Remove environment metadata (use tags instead)
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/environment.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/environment.yaml
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/environment.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/environment.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/environment.yaml
  scripts/azureml-assets/azureml/assets/config.py
  test/resources/validate/good-validation/environment.yaml
  training/general/src/environments/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/environment.yaml
  training/general/src/environments/sklearn-1.1-ubuntu20.04-py38-cpu/environment.yaml
  training/general/src/environments/tensorflow-2.8-ubuntu20.04-py38-cuda11-gpu/environment.yaml
  training/general/src/environments/tensorflow-2.9-ubuntu20.04-py38-cuda11-gpu/environment.yaml
Owners: @azure/aml-assets, @azure/aml-rai, @azure/aml-training

Remove environment metadata (use tags instead) (#366)
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/environment.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/environment.yaml
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/environment.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/environment.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/environment.yaml
  scripts/azureml-assets/azureml/assets/config.py
  test/resources/validate/good-validation/environment.yaml
  training/general/src/environments/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/environment.yaml
  training/general/src/environments/sklearn-1.1-ubuntu20.04-py38-cpu/environment.yaml
  training/general/src/environments/tensorflow-2.8-ubuntu20.04-py38-cuda11-gpu/environment.yaml
  training/general/src/environments/tensorflow-2.9-ubuntu20.04-py38-cuda11-gpu/environment.yaml
Owners: @azure/aml-assets, @azure/aml-rai, @azure/aml-training

Remove environment metadata (use tags instead) (#366)
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/environment.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/environment.yaml
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/environment.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/environment.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/environment.yaml
  scripts/azureml-assets/azureml/assets/config.py
  test/resources/validate/good-validation/environment.yaml
  training/general/src/environments/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/environment.yaml
  training/general/src/environments/sklearn-1.1-ubuntu20.04-py38-cpu/environment.yaml
  training/general/src/environments/tensorflow-2.8-ubuntu20.04-py38-cuda11-gpu/environment.yaml
  training/general/src/environments/tensorflow-2.9-ubuntu20.04-py38-cuda11-gpu/environment.yaml
Owners: @azure/aml-assets, @azure/aml-rai, @azure/aml-training

Update release branch
  latest/environment/minimal-ubuntu20.04-py38-cpu-inference/environment.yaml
  latest/environment/minimal-ubuntu20.04-py38-cpu-inference/spec.yaml
  latest/environment/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/environment.yaml
  latest/environment/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/spec.yaml
  latest/environment/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/environment.yaml
  latest/environment/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/spec.yaml
  latest/environment/responsibleai-ubuntu20.04-py38-cpu/environment.yaml
  latest/environment/responsibleai-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/environment.yaml
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/sklearn-1.1-ubuntu20.04-py38-cpu/environment.yaml
  latest/environment/sklearn-1.1-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/tensorflow-2.8-ubuntu20.04-py38-cuda11-gpu/environment.yaml
  latest/environment/tensorflow-2.8-ubuntu20.04-py38-cuda11-gpu/spec.yaml
  latest/environment/tensorflow-2.9-ubuntu20.04-py38-cuda11-gpu/environment.yaml
  latest/environment/tensorflow-2.9-ubuntu20.04-py38-cuda11-gpu/spec.yaml
  scripts/azureml-assets/azureml/assets/config.py
Owners: @azure/aml-assets

add pytorch 1.13 env
  training/general/src/environments/lightgbm-3.2-py38-cpu/asset.yaml
  training/general/src/environments/lightgbm-3.2-py38-cpu/context/Dockerfile
  training/general/src/environments/lightgbm-3.2-py38-cpu/tests/lightgbm_sample_test.py
  training/general/src/environments/lightgbm-3.2-py38-cpu/tests/src/main.py
  training/general/src/environments/pytorch-1.10-py38-cuda11-gpu/spec.yaml
  training/general/src/environments/pytorch-1.11-cuda11.3/environment.yaml
  training/general/src/environments/pytorch-1.11-cuda11.5/environment.yaml
  training/general/src/environments/pytorch-1.12-cuda11.6/environment.yaml
  training/general/src/environments/pytorch-1.12-py39-cuda11.6/environment.yaml
  training/general/src/environments/pytorch-1.13-cuda11.7/asset.yaml
  training/general/src/environments/pytorch-1.13-cuda11.7/context/Dockerfile
  training/general/src/environments/pytorch-1.13-cuda11.7/environment.yaml
  training/general/src/environments/pytorch-1.13-cuda11.7/spec.yaml
  training/general/src/environments/pytorch-1.13-cuda11.7/tests/pytorch1_13_sample_test.py
  training/general/src/environments/pytorch-1.13-cuda11.7/tests/requirements.txt
  training/general/src/environments/pytorch-1.13-cuda11.7/tests/src/main.py
  training/general/src/environments/pytorch-1.13-cuda11.7/tests/src/network.py
  training/general/src/environments/pytorch-1.13-cuda11.7/tests/src/requirements.txt
  training/general/src/environments/sklearn-0.24-py38-cpu/context/Dockerfile
  training/general/src/environments/sklearn-0.24-py38-cpu/environment.yaml
  training/general/src/environments/sklearn-0.24-py38-cpu/spec.yaml
  training/general/src/environments/sklearn-0.24-py38-cpu/tests/requirements.txt
  training/general/src/environments/sklearn-0.24-py38-cpu/tests/src/main.py
  training/general/src/environments/sklearn-1.0/tests/sklearn_sample_test.py
  training/general/src/environments/sklearn-1.1/tests/sklearn_sample_test.py
  training/general/src/environments/tensorflow-2.6-cuda11/tests/tensorflow2_6_sample_test.py
  training/general/src/environments/tensorflow-2.7-cuda11/tests/tensorflow2_7_sample_test.py
  training/general/src/environments/tensorflow-2.8-cuda11/tests/tensorflow2_8_sample_test.py
  training/general/src/environments/tensorflow-2.9-cuda11/asset.yaml
  training/general/src/environments/tensorflow-2.9-cuda11/context/Dockerfile
  training/general/src/environments/tensorflow-2.9-cuda11/context/conda_dependencies.yaml
  training/general/src/environments/tensorflow-2.9-cuda11/environment.yaml
  training/general/src/environments/tensorflow-2.9-cuda11/spec.yaml
  training/general/src/environments/tensorflow-2.9-cuda11/tests/requirements.txt
  training/general/src/environments/tensorflow-2.9-cuda11/tests/src/main.py
  training/general/src/environments/tensorflow-2.9-cuda11/tests/tensorflow2_9_sample_test.py
  training/general/src/environments/tensorflow-2.9-py38-cuda11-gpu/tests/tensorflow2_9_sample_test.py
Owners: @azure/aml-training

Remove -q switch from conda create for build logs. Add pip back as dependecy without version pin.
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Add silence switch back and add pip freeze after installation to list packages installed.
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
Owners: @azure/aml-rai

add intel extension flavor to containers
  training/general/src/environments/sklearn-1.1-ubuntu20.04-py38-cpu/context/README.md
  training/general/src/environments/sklearn-1.1-ubuntu20.04-py38-cpu/context/intel-extension/Dockerfile
  training/general/src/environments/sklearn-1.1-ubuntu20.04-py38-cpu/context/intel-extension/conda_dependencies.yaml
  training/general/src/environments/sklearn-1.1-ubuntu20.04-py38-cpu/tests/src/main.py
Owners: @azure/aml-training

remove print statements
  training/general/src/environments/sklearn-1.1-ubuntu20.04-py38-cpu/tests/src/main.py
Owners: @azure/aml-training

remove line spaces
  training/general/src/environments/sklearn-1.1-ubuntu20.04-py38-cpu/context/README.md
Owners: @azure/aml-training

update ipykernel version
  training/general/src/environments/pytorch-1.11-cuda11.3/context/Dockerfile
  training/general/src/environments/pytorch-1.11-cuda11.5/context/Dockerfile
  training/general/src/environments/pytorch-1.12-cuda11.6/context/Dockerfile
  training/general/src/environments/pytorch-1.12-py39-cuda11.6/context/Dockerfile
  training/general/src/environments/pytorch-1.13-cuda11.7/context/Dockerfile
  training/general/src/environments/sklearn-1.0/context/Dockerfile
  training/general/src/environments/sklearn-1.1/context/conda_dependencies.yaml
  training/general/src/environments/tensorflow-2.6-cuda11/context/Dockerfile
  training/general/src/environments/tensorflow-2.7-cuda11/context/Dockerfile
  training/general/src/environments/tensorflow-2.8-cuda11/context/conda_dependencies.yaml
  training/general/src/environments/tensorflow-2.9-cuda11/context/conda_dependencies.yaml
Owners: @azure/aml-training

Update conda_dependencies.yaml
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

fix env test bugs
  training/general/src/environments/pytorch-1.13-cuda11.7/context/Dockerfile
  training/general/src/environments/pytorch-1.13-cuda11.7/tests/pytorch1_13_sample_test.py
  training/general/src/environments/sklearn-1.0/tests/sklearn_sample_test.py
Owners: @azure/aml-training

Update conda_dependencies.yaml
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

remove tensorflow 2.6, 2.7
  training/general/src/environments/tensorflow-2.6-cuda11/asset.yaml
  training/general/src/environments/tensorflow-2.6-cuda11/context/Dockerfile
  training/general/src/environments/tensorflow-2.6-cuda11/environment.yaml
  training/general/src/environments/tensorflow-2.6-cuda11/spec.yaml
  training/general/src/environments/tensorflow-2.6-cuda11/tests/requirements.txt
  training/general/src/environments/tensorflow-2.6-cuda11/tests/src/main.py
  training/general/src/environments/tensorflow-2.6-cuda11/tests/tensorflow2_6_sample_test.py
  training/general/src/environments/tensorflow-2.7-cuda11/asset.yaml
  training/general/src/environments/tensorflow-2.7-cuda11/context/Dockerfile
  training/general/src/environments/tensorflow-2.7-cuda11/environment.yaml
  training/general/src/environments/tensorflow-2.7-cuda11/spec.yaml
  training/general/src/environments/tensorflow-2.7-cuda11/tests/requirements.txt
  training/general/src/environments/tensorflow-2.7-cuda11/tests/src/main.py
  training/general/src/environments/tensorflow-2.7-cuda11/tests/tensorflow2_7_sample_test.py
Owners: @azure/aml-training

Update nlp feature extractor to bump protobuf version for vulnerability. Add pip freeze to show packages installed. (#368)
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Update nlp feature extractor to bump protobuf version for vulnerability. Add pip freeze to show packages installed. (#368)
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Update release branch
  latest/environment/minimal-ubuntu20.04-py38-cpu-inference/context/Dockerfile
  latest/environment/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/Dockerfile
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/environment.yaml
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/responsibleai-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-assets

init
  scripts/release/e2e_test.py
  scripts/release/group_test.py
Owners: @azure/aml-assets

use new template for pre version
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-assets

add mldesigner-minimal
  pipelines/environments/mldesigner-minimal-2.0-ubuntu20.04-py38-cpu copy/asset.yaml
  pipelines/environments/mldesigner-minimal-2.0-ubuntu20.04-py38-cpu copy/context/Dockerfile
  pipelines/environments/mldesigner-minimal-2.0-ubuntu20.04-py38-cpu copy/context/conda_dependencies.yaml
  pipelines/environments/mldesigner-minimal-2.0-ubuntu20.04-py38-cpu copy/environment.yaml
  pipelines/environments/mldesigner-minimal-2.0-ubuntu20.04-py38-cpu copy/spec.yaml
Owners: @azure/aml-assets

Apply suggestions from code review
  scripts/release/e2e_test.py
  scripts/release/group_test.py
Owners: @azure/aml-assets

fix introduction and typos
  training/general/src/environments/sklearn-1.1-ubuntu20.04-py38-cpu/context/README.md
  training/general/src/environments/sklearn-1.1-ubuntu20.04-py38-cpu/context/intel-extension/Dockerfile
  training/general/src/environments/sklearn-1.1-ubuntu20.04-py38-cpu/context/intel-extension/conda_dependencies.yaml
Owners: @azure/aml-training

Enable filtering via regex
  scripts/azureml-assets/azureml/assets/__init__.py
  scripts/azureml-assets/azureml/assets/config.py
  scripts/azureml-assets/azureml/assets/copy_unreleased_assets.py
  scripts/azureml-assets/azureml/assets/extract_tagged_assets.py
  scripts/azureml-assets/azureml/assets/tag_released_assets.py
  scripts/azureml-assets/azureml/assets/update_assets.py
  scripts/azureml-assets/azureml/assets/util/__init__.py
  scripts/azureml-assets/azureml/assets/util/util.py
  test/test_update_assets.py
Owners: @azure/aml-assets

Rename var
  scripts/azureml-assets/azureml/assets/config.py
Owners: @azure/aml-assets

Add docs
  scripts/azureml-assets/azureml/assets/tag_released_assets.py
Owners: @azure/aml-assets

Enable filtering via regex (#372)
  scripts/azureml-assets/azureml/assets/__init__.py
  scripts/azureml-assets/azureml/assets/config.py
  scripts/azureml-assets/azureml/assets/copy_unreleased_assets.py
  scripts/azureml-assets/azureml/assets/extract_tagged_assets.py
  scripts/azureml-assets/azureml/assets/tag_released_assets.py
  scripts/azureml-assets/azureml/assets/update_assets.py
  scripts/azureml-assets/azureml/assets/util/__init__.py
  scripts/azureml-assets/azureml/assets/util/util.py
  test/test_update_assets.py
Owners: @azure/aml-assets
