Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets

Remove unused env var
  .github/workflows/assets-test.yaml
Owners: @azure/aml-assets

Fix path to test_assets.py (#326)
  .github/workflows/assets-test.yaml
Owners: @azure/aml-assets

Fix path to test_assets.py (#326)
  .github/workflows/assets-test.yaml
Owners: @azure/aml-assets

Update training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/environment.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/environment.yaml
Owners: @azure/aml-training

Update training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/environment.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/environment.yaml
Owners: @azure/aml-training

Update training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/environment.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/environment.yaml
Owners: @azure/aml-training

Update training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/environment.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/environment.yaml
Owners: @azure/aml-training

Update training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/environment.yaml
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/environment.yaml
Owners: @azure/aml-training

Update training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/environment.yaml
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/environment.yaml
Owners: @azure/aml-training

updated test
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/pytorch1_11_sample_test.py
Owners: @azure/aml-training

updated test
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/pytorch1_11_sample_test.py
Owners: @azure/aml-training

updated spec
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/environment.yaml
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/spec.yaml
Owners: @azure/aml-training

updated spec
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/environment.yaml
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/spec.yaml
Owners: @azure/aml-training

Address comments
  scripts/release/e2e_test.py
  scripts/release/group_test.py
Owners: @azure/aml-assets

Fix Doc strings
  training/automl/tests/preprocessing/__init__.py
  training/automl/tests/preprocessing/automl_preprocessing.py
  training/automl/tests/preprocessing/vision/__init__.py
  training/automl/tests/preprocessing/vision/prepare_classification_data.py
  training/automl/tests/preprocessing/vision/prepare_classification_multilabel_data.py
  training/automl/tests/preprocessing/vision/prepare_instance_segmentation_data.py
  training/automl/tests/preprocessing/vision/prepare_object_detection_data.py
  training/automl/tests/preprocessing/vision/utils.py
Owners: @azure/aml-training

Fix NLP & Image tests and restructure test files
  scripts/release/requirements.txt
  training/automl/components/automl_text_classification_multilabel/asset.yaml
  training/automl/components/automl_text_classification_multilabel/spec.yaml
  training/automl/tests/conftest.py
  training/automl/tests/preprocessing/automl_preprocessing.py
  training/automl/tests/preprocessing/vision/__init__.py
  training/automl/tests/test_automl_components.py
  training/automl/tests/test_automl_nlp_components.py
  training/automl/tests/test_automl_tabular_components.py
  training/automl/tests/test_automl_vision_components.py
  training/automl/tests/test_configs/payload/classification_bankmarketing_payload.json
  training/automl/tests/test_configs/payload/forecasting_energy_demand_payload.json
  training/automl/tests/test_configs/payload/image_classification_fridge_items_payload.json
  training/automl/tests/test_configs/payload/image_classification_multilabel_fridge_items_payload.json
  training/automl/tests/test_configs/payload/image_instance_segmentation_fridge_items_payload.json
  training/automl/tests/test_configs/payload/image_object_detection_fridge_items_payload.json
  training/automl/tests/test_configs/payload/regression_hardware_performance_payload.json
  training/automl/tests/test_configs/payload/test_paylaod.json
  training/automl/tests/test_configs/payload/text_classification_multilabel_newsgroup_payload.json
  training/automl/tests/test_configs/payload/text_classification_newsgroup_payload.json
  training/automl/tests/test_configs/payload/text_ner_conll_payload.json
  training/automl/tests/utils.py
  training/automl/tests/validate_automl_components.py
  training/tests.yml
Owners: @azure/aml-assets, @azure/aml-training

fix flake
  training/automl/tests/preprocessing/automl_preprocessing.py
  training/automl/tests/preprocessing/vision/__init__.py
Owners: @azure/aml-training

fix flake
  training/automl/tests/test_automl_vision_components.py
  training/automl/tests/validate_automl_components.py
Owners: @azure/aml-training

fix tests
  training/tests.yml
Owners: @azure/aml-training

Adress comment
  scripts/release/group_test.py
  training/automl/tests/preprocessing/vision/utils.py
Owners: @azure/aml-assets, @azure/aml-training

remove image data version
  training/automl/tests/preprocessing/vision/utils.py
Owners: @azure/aml-training

[WIP] Add a file for automl rai computations
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/rai_automl.py
Owners: @azure/aml-rai

Add test
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/rai_automl.py
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/tests/responsibleai_sample_test.py
Owners: @azure/aml-rai

Fix test
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/tests/responsibleai_sample_test.py
Owners: @azure/aml-rai

Update release branch
  latest/environment/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/Dockerfile
Owners: @azure/aml-assets

Add installation via blob store
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/rai_automl.py
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/tests/responsibleai_sample_test.py
Owners: @azure/aml-rai

Fix review comments
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/context/Dockerfile
Owners: @azure/aml-assets

Arunsu/addinference (#269)
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/asset.yaml
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/context/Dockerfile
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/context/conda_dependencies.yaml
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/environment.yaml
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/spec.yaml
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/tests/minimal_inference_test.py
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/tests/requirements.txt
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/tests/src/main.py
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/tests/src/valid_score.py
Owners: @azure/aml-assets

Arunsu/addinference (#269)
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/asset.yaml
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/context/Dockerfile
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/context/conda_dependencies.yaml
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/environment.yaml
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/spec.yaml
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/tests/minimal_inference_test.py
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/tests/requirements.txt
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/tests/src/main.py
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/tests/src/valid_score.py
Owners: @azure/aml-assets

Update release branch
  latest/environment/minimal-ubuntu20.04-py38-cpu-inference/asset.yaml
  latest/environment/minimal-ubuntu20.04-py38-cpu-inference/context/Dockerfile
  latest/environment/minimal-ubuntu20.04-py38-cpu-inference/context/conda_dependencies.yaml
  latest/environment/minimal-ubuntu20.04-py38-cpu-inference/environment.yaml
  latest/environment/minimal-ubuntu20.04-py38-cpu-inference/spec.yaml
Owners: @azure/aml-assets

Remove code for file addition
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/rai_automl.py
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/tests/responsibleai_sample_test.py
Owners: @azure/aml-rai

update mltable dependency to 1.0.0 in RAI images
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Fix the blob store link
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Update conda_dependencies.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Update conda_dependencies.yaml
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Update conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

update mltable dependency to 1.0.0 in RAI images (#322)
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

update mltable dependency to 1.0.0 in RAI images (#322)
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

update ml-wrapper to latest version
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

update ml-wrapper to latest version
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

.github/CODEOWNERS:

*     @azure/aml-assets
/benchmark/ @azure/aims
/responsibleai/ @azure/aml-rai
/training/ @azure/aml-training 
/sample/ @Azure/aml-assets
