Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets, @Azure/azureml-data, @azure/azureml-inference-idc, @Azure/aml-model-monitoring

.github/CODEOWNERS:

*     @azure/aml-assets
/benchmark/ @azure/aims
/responsibleai/ @azure/aml-rai
/training/ @azure/aml-training 
/sample/ @Azure/aml-assets
/data/ @Azure/azureml-data
/models/ @azure/aml-training @azure/azureml-inference-idc
/common/components/register_model/ @azure/aml-training
/common/components/deploy_model/ @azure/aml-training
/common/src/model_deployment/ @azure/aml-training
/common/src/model_registration/ @azure/aml-training
/model_monitoring/ @Azure/aml-model-monitoring

Pmanoj/update supported skus (#758)
  models/system/bert-base-cased/spec.yaml
  models/system/bert-base-uncased/spec.yaml
  models/system/bert-large-cased/spec.yaml
  models/system/bert-large-uncased/spec.yaml
  models/system/camembert-base/spec.yaml
  models/system/databricks-dolly-v2-12b/spec.yaml
  models/system/deepset-minilm-uncased-squad2/spec.yaml
  models/system/deepset-roberta-base-squad2/spec.yaml
  models/system/distilbert-base-cased-distilled-squad/spec.yaml
  models/system/distilbert-base-cased/spec.yaml
  models/system/distilbert-base-uncased-distilled-squad/spec.yaml
  models/system/distilbert-base-uncased-finetuned-sst-2-english/spec.yaml
  models/system/distilbert-base-uncased/spec.yaml
  models/system/distilgpt2/spec.yaml
  models/system/distilroberta-base/spec.yaml
  models/system/facebook-bart-large-cnn/spec.yaml
  models/system/finiteautomata-bertweet-base-sentiment-analysis/spec.yaml
  models/system/gpt2-large/spec.yaml
  models/system/gpt2-medium/spec.yaml
  models/system/gpt2/spec.yaml
  models/system/jean-baptiste-camembert-ner/spec.yaml
  models/system/microsoft-deberta-base-mnli/spec.yaml
  models/system/microsoft-deberta-base/spec.yaml
  models/system/microsoft-deberta-large-mnli/spec.yaml
  models/system/microsoft-deberta-large/spec.yaml
  models/system/microsoft-deberta-xlarge/spec.yaml
  models/system/openai-whisper-large/spec.yaml
  models/system/roberta-base-openai-detector/spec.yaml
  models/system/roberta-base/spec.yaml
  models/system/roberta-large-mnli/spec.yaml
  models/system/roberta-large-openai-detector/spec.yaml
  models/system/roberta-large/spec.yaml
  models/system/sshleifer-distilbart-cnn-12-6/spec.yaml
  models/system/t5-base/spec.yaml
  models/system/t5-large/spec.yaml
  models/system/t5-small/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

[Model Monitor]- Ensure out of bounds maps to the right data type (#759)
  model_monitoring/components/data_quality/data_quality_compute_metrics/spec.yaml
  model_monitoring/components/data_quality/data_quality_signal_monitor/spec.yaml
  model_monitoring/components/src/data_quality_compute_metrics/compute_data_quality_metrics.py
Owners: @Azure/aml-model-monitoring

removed tags from whisper
  models/system/openai-whisper-large/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Update rai tabular environment
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

add promptflow data for faiss index sample
  promptflow/data/faiss-index-lookup/asset.yaml
  promptflow/data/faiss-index-lookup/faiss_index_sample/index.faiss
  promptflow/data/faiss-index-lookup/faiss_index_sample/index.pkl
  promptflow/data/faiss-index-lookup/spec.yaml
Owners: @azure/aml-assets

Update rai tabular environment (#763)
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Integrating serverless compute with pipeline components (#749)
  training/finetune_acft_hf_nlp/components/pipeline_components/question_answering/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/summarization/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/text_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/token_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/translation/spec.yaml
Owners: @azure/aml-training

Rename function to get_latest_release_tag_versions and use previous_release_version var
  scripts/azureml-assets/azureml/assets/__init__.py
  scripts/azureml-assets/azureml/assets/copy_assets.py
  scripts/azureml-assets/azureml/assets/update_assets.py
Owners: @azure/aml-assets

Remove automatic registration of model
  training/model_management/components/import_model/spec.yaml
Owners: @azure/aml-training

Import and use _urlopen_with_retries
  scripts/azureml-assets/azureml/assets/__init__.py
  scripts/azureml-assets/azureml/assets/copy_assets.py
Owners: @azure/aml-assets

Uncomment util.copy_asset_to_output_dir
  scripts/azureml-assets/azureml/assets/copy_assets.py
Owners: @azure/aml-assets

Update for scripts-syntax check
  scripts/azureml-assets/azureml/assets/__init__.py
  scripts/azureml-assets/azureml/assets/copy_assets.py
  scripts/azureml-assets/azureml/assets/update_assets.py
Owners: @azure/aml-assets

[Model Monitor] - Bump data quality to 0.3.3
  model_monitoring/components/data_quality/data_quality_signal_monitor/spec.yaml
Owners: @Azure/aml-model-monitoring

[Model Monitor] - Bump data quality to 0.3.3 (#767)
  model_monitoring/components/data_quality/data_quality_signal_monitor/spec.yaml
Owners: @Azure/aml-model-monitoring

Pmanoj/remove compute tags whisper (#762)
  models/system/openai-whisper-large/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

handling invalid hf model id
  training/model_management/components/download_model/spec.yaml
  training/model_management/components/import_model/spec.yaml
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

nit reformmated
  training/model_management/src/azureml/model/mgmt/downloader/download_utils.py
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

nit reformmated
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

nit reformmated
  training/model_management/components/import_model/spec.yaml
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

updated error msg
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

updated error msg
  training/model_management/components/download_model/spec.yaml
Owners: @azure/aml-training

updated error msg
  training/model_management/components/download_model/spec.yaml
Owners: @azure/aml-training

updated error msg
  training/model_management/components/download_model/asset.yaml
  training/model_management/components/download_model/spec.yaml
  training/model_management/components/import_model/spec.yaml
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

updated error msg
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

Updated Pipeline component for serverless
  training/model_management/components/import_model/spec.yaml
Owners: @azure/aml-training

updated compute for local validation
  training/model_management/components/import_model/spec.yaml
Owners: @azure/aml-training

add promptflow data for faiss index sample (#764)
  promptflow/data/faiss-index-lookup/asset.yaml
  promptflow/data/faiss-index-lookup/faiss_index_sample/index.faiss
  promptflow/data/faiss-index-lookup/faiss_index_sample/index.pkl
  promptflow/data/faiss-index-lookup/spec.yaml
Owners: @azure/aml-assets

updated component path to refer to registries
  training/model_management/components/import_model/spec.yaml
Owners: @azure/aml-training

Updated version to sync with registry
  training/model_management/components/import_model/spec.yaml
Owners: @azure/aml-training

Updating the version to publish to azureml registry
  training/model_management/components/mlflow_model_local_validation/spec.yaml
Owners: @azure/aml-training

Add logging on HTTPError exception
  scripts/azureml-assets/azureml/assets/copy_assets.py
Owners: @azure/aml-assets

Undo the change
  training/model_management/components/mlflow_model_local_validation/spec.yaml
Owners: @azure/aml-training

revert the reigstry expnasion
  training/model_management/components/import_model/spec.yaml
Owners: @azure/aml-training

updated error msg
  training/model_management/src/azureml/model/mgmt/downloader/download_utils.py
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

updated error msg
  training/model_management/src/azureml/model/mgmt/downloader/download_utils.py
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

Update model eval default compute for serverless
  training/finetune_acft_hf_nlp/components/pipeline_components/question_answering/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/summarization/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/text_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/token_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/translation/spec.yaml
Owners: @azure/aml-training

updated error msg
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

Create _get_manifest function for reusability
  scripts/azureml-assets/azureml/assets/__init__.py
  scripts/azureml-assets/azureml/assets/copy_assets.py
  scripts/azureml-assets/azureml/assets/environment/pin_image_versions.py
Owners: @azure/aml-assets

Update __init__.py
  scripts/azureml-assets/azureml/assets/__init__.py
Owners: @azure/aml-assets

Update based on scripts-syntax suggestions
  scripts/azureml-assets/azureml/assets/copy_assets.py
  scripts/azureml-assets/azureml/assets/environment/pin_image_versions.py
Owners: @azure/aml-assets
