Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aml-benchmarking, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets, @Azure/azureml-data, @azure/azureml-inference-idc, @Azure/aml-model-monitoring, @azure/aml-llm

remove agieval
  assets/evaluation_results/agieval_gpt_35_turbo_0301_question_answering/asset.yaml
  assets/evaluation_results/agieval_gpt_35_turbo_0301_question_answering/job_files/job_def_mfe.json
  assets/evaluation_results/agieval_gpt_35_turbo_0301_question_answering/spec.yaml
  assets/evaluation_results/agieval_gpt_4_0314_question_answering/asset.yaml
  assets/evaluation_results/agieval_gpt_4_0314_question_answering/job_files/job_def_mfe.json
  assets/evaluation_results/agieval_gpt_4_0314_question_answering/spec.yaml
  assets/evaluation_results/agieval_gpt_4_32k_0314_question_answering/asset.yaml
  assets/evaluation_results/agieval_gpt_4_32k_0314_question_answering/job_files/job_def_mfe.json
  assets/evaluation_results/agieval_gpt_4_32k_0314_question_answering/spec.yaml
  assets/evaluation_results/agieval_llama_2_13b_question_answering/asset.yaml
  assets/evaluation_results/agieval_llama_2_13b_question_answering/job_files/job_def_mfe.json
  assets/evaluation_results/agieval_llama_2_13b_question_answering/spec.yaml
  assets/evaluation_results/agieval_llama_2_7b_question_answering/asset.yaml
  assets/evaluation_results/agieval_llama_2_7b_question_answering/job_files/job_def_mfe.json
  assets/evaluation_results/agieval_llama_2_7b_question_answering/spec.yaml
Owners: @azure/aml-benchmarking, @azure/aml-llm

fix lint
  assets/training/finetune_acft_hf_nlp/src/register_model/register_presets_model.py
Owners: @azure/aml-training

make perf pipeline work with image + text embeddings
  assets/aml-benchmark/components/batch-benchmark-inference/spec.yaml
  assets/aml-benchmark/components/perf_pipeline/perf_pipeline.yml
  assets/aml-benchmark/components/src/batch_inference_preparer/resources/perf_data.jsonl
Owners: @azure/aml-benchmarking

lint fixes
  scripts/azureml-assets/azureml/assets/config.py
Owners: @azure/aml-assets

fixing more lint issues
  scripts/azureml-assets/azureml/assets/config.py
Owners: @azure/aml-assets

default api version
  assets/model_monitoring/components/generation_safety_quality/annotation_compute_histogram/spec.yaml
  assets/model_monitoring/components/generation_safety_quality/generation_safety_quality_signal_monitor/spec.yaml
  assets/model_monitoring/components/src/generation_safety_quality/annotation_compute_histogram/run.py
Owners: @Azure/aml-model-monitoring

remove dataset registration step, and use HOBO path from run document (#1644)
  assets/training/finetune_acft_hf_nlp/src/register_model/register_model.py
  assets/training/finetune_acft_hf_nlp/src/register_model/register_presets_model.py
Owners: @azure/aml-training

remove print
  assets/model_monitoring/components/src/generation_safety_quality/annotation_compute_histogram/run.py
Owners: @Azure/aml-model-monitoring

update blip model versions
  assets/models/system/salesforce-blip-image-captioning-base/spec.yaml
  assets/models/system/salesforce-blip-vqa-base/spec.yaml
  assets/models/system/salesforce-blip2-opt-2-7b-image-to-text/spec.yaml
  assets/models/system/salesforce-blip2-opt-2-7b-vqa/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

use preview
  assets/model_monitoring/components/src/generation_safety_quality/annotation_compute_histogram/run.py
Owners: @Azure/aml-model-monitoring

default api version (#1646)
  assets/model_monitoring/components/generation_safety_quality/annotation_compute_histogram/spec.yaml
  assets/model_monitoring/components/generation_safety_quality/generation_safety_quality_signal_monitor/spec.yaml
  assets/model_monitoring/components/src/generation_safety_quality/annotation_compute_histogram/run.py
Owners: @Azure/aml-model-monitoring

rename columns if custom column input
  assets/model_monitoring/components/generation_safety_quality/annotation_compute_histogram/spec.yaml
  assets/model_monitoring/components/generation_safety_quality/generation_safety_quality_signal_monitor/spec.yaml
  assets/model_monitoring/components/src/generation_safety_quality/annotation_compute_histogram/run.py
Owners: @Azure/aml-model-monitoring

still drop chat_history due to mltable limit
  assets/model_monitoring/components/src/model_data_collector_preprocessor/run.py
Owners: @Azure/aml-model-monitoring

update preprocessor version
  assets/model_monitoring/components/model_monitor/model_data_collector_preprocessor/spec.yaml
  assets/model_monitoring/components/tests/unit/raw_mdc_data/2023/10/24/22/mdc_chat_history.jsonl
  assets/model_monitoring/components/tests/unit/test_mdc_preprocessor.py
Owners: @Azure/aml-model-monitoring

update test
  assets/model_monitoring/components/tests/unit/test_mdc_preprocessor.py
Owners: @Azure/aml-model-monitoring

remove trailing whitespace
  assets/model_monitoring/components/src/model_data_collector_preprocessor/run.py
Owners: @Azure/aml-model-monitoring

add doc string
  assets/model_monitoring/components/tests/unit/test_mdc_preprocessor.py
Owners: @Azure/aml-model-monitoring

support json columns like chat_history (#1628)
  assets/model_monitoring/components/model_monitor/model_data_collector_preprocessor/spec.yaml
  assets/model_monitoring/components/src/model_data_collector_preprocessor/run.py
  assets/model_monitoring/components/src/shared_utilities/constants.py
  assets/model_monitoring/components/tests/unit/raw_mdc_data/2023/10/24/22/mdc_chat_history.jsonl
  assets/model_monitoring/components/tests/unit/raw_mdc_data/2023/10/30/16/mdc_data_chat_history.jsonl
  assets/model_monitoring/components/tests/unit/test_mdc_preprocessor.py
Owners: @Azure/aml-model-monitoring

roberta-base-openai-detector_hfflavour2
  assets/models/system/roberta-base-openai-detector/description.md
  assets/models/system/roberta-base-openai-detector/model.yaml
  assets/models/system/roberta-base-openai-detector/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

adding-hf-model-id-roberta-large-openai-detector
  assets/models/system/roberta-large-openai-detector/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

adding-hf-model-id-openai-whisper-large
  assets/models/system/openai-whisper-large/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

adding-hf-model-id-sshleifer-distilbart-cnn-12-6
  assets/models/system/sshleifer-distilbart-cnn-12-6/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Automatically identify the ground truth and prediction keys
  assets/aml-benchmark/scripts/custom_inference_postprocessors/humaneval.py
Owners: @azure/aml-benchmarking

Update the latest changes
  assets/aml-benchmark/scripts/custom_inference_postprocessors/humaneval.py
Owners: @azure/aml-benchmarking

adding-hf-model-id-distilroberta-base
  assets/models/system/distilroberta-base/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Update scripts
  assets/training/finetune_acft_hf_nlp/src/finetune/finetune.py
  assets/training/finetune_acft_hf_nlp/src/preprocess/preprocess.py
Owners: @azure/aml-training

adding-hf-model-id-roberta-base
  assets/models/system/roberta-base/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Minor revert
  assets/training/finetune_acft_hf_nlp/src/finetune/finetune.py
Owners: @azure/aml-training

Update spec.yaml
  assets/models/system/bert-base-uncased/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Update spec.yaml
  assets/models/system/deepset-minilm-uncased-squad2/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Update spec.yaml
  assets/models/system/deepset-minilm-uncased-squad2/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Update spec.yaml
  assets/models/system/distilgpt2/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Update spec.yaml
  assets/models/system/gpt2/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Update spec.yaml
  assets/models/system/t5-small/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Update spec.yaml
  assets/models/system/jean-baptiste-camembert-ner/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Update spec.yaml
  assets/models/system/bert-base-cased/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Update spec.yaml
  assets/models/system/bert-base-uncased/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

.github/CODEOWNERS:

*     @azure/aml-assets
/assets/aml-benchmark/ @azure/aml-benchmarking
/assets/benchmark/ @azure/aims
/assets/responsibleai/ @azure/aml-rai
/assets/training/ @azure/aml-training
/assets/sample/ @Azure/aml-assets
/assets/data/ @Azure/azureml-data
/assets/models/ @azure/aml-training @azure/azureml-inference-idc
/assets/common/ @azure/aml-training
/assets/model_monitoring/ @Azure/aml-model-monitoring
/assets/large_language_models/ @azure/aml-training @azure/aml-llm
/assets/evaluation_results/ @azure/aml-benchmarking @azure/aml-llm
