Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wayliums, @elesel, @quchuyuan, @jfomhover, @kicha0, @daholste

.github/CODEOWNERS:

*     @wayliums @elesel @quchuyuan
/benchmark/ @jfomhover
/responsibleai/ @kicha0
/training/ @daholste

add azure login to assets-test (#125)
  .github/workflows/assets-test.yaml
  .github/workflows/scripts-test.yaml
  test/test_test_assets.py
Owners: @wayliums, @elesel, @quchuyuan

add azure login to assets-test (#125)
  .github/workflows/assets-test.yaml
  .github/workflows/scripts-test.yaml
  test/test_test_assets.py
Owners: @wayliums, @elesel, @quchuyuan

resolved comments
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/e2e_test.py
  scripts/azureml-assets/azureml/assets/release/group_test.py
  scripts/azureml-assets/azureml/assets/release/test_file_convert.py
  test/Test Framework/E2E_Test.ipynb
Owners: @wayliums, @elesel, @quchuyuan

rename components into scripts
  benchmark/src/scripts/common/profiling.py
  benchmark/src/scripts/export_dataset/run.py
  benchmark/src/scripts/generate_random_image_classes/run.py
  benchmark/src/scripts/generate_random_image_classes/spec.yaml
  benchmark/src/scripts/pytorch_image_classifier/spec.yaml
  benchmark/src/scripts/pytorch_image_classifier/torch_helper/__init__.py
  benchmark/src/scripts/pytorch_image_classifier/torch_helper/image_io.py
  benchmark/src/scripts/pytorch_image_classifier/torch_helper/model/__init__.py
  benchmark/src/scripts/pytorch_image_classifier/torch_helper/model/model_loader.py
  benchmark/src/scripts/pytorch_image_classifier/torch_helper/model/swin_models.py
  benchmark/src/scripts/pytorch_image_classifier/torch_helper/model/test_model.py
  benchmark/src/scripts/pytorch_image_classifier/torch_helper/model/torchvision_models.py
  benchmark/src/scripts/pytorch_image_classifier/torch_helper/profiling.py
  benchmark/src/scripts/pytorch_image_classifier/train.py
  benchmark/src/scripts/tensorflow/spec.yaml
  benchmark/src/scripts/tensorflow/tf_helper/__init__.py
  benchmark/src/scripts/tensorflow/tf_helper/image_io.py
  benchmark/src/scripts/tensorflow/tf_helper/model.py
  benchmark/src/scripts/tensorflow/tf_helper/profiling.py
  benchmark/src/scripts/tensorflow/train.py
  benchmark/tests/scripts/pytorch_image_classifier/test_ptic_model_loader.py
  benchmark/tests/scripts/pytorch_image_classifier/test_ptic_train.py
  benchmark/tests/scripts/tensorflow_image_segmentation/test_tfis_model_loader.py
  benchmark/tests/scripts/tensorflow_image_segmentation/test_tfis_train.py
  benchmark/tests/scripts/test_generate_random_image_classes.py
Owners: @jfomhover

restructure pt folder
  benchmark/src/scripts/pytorch_benchmark/helper/__init__.py
  benchmark/src/scripts/pytorch_benchmark/helper/classification/__init__.py
  benchmark/src/scripts/pytorch_benchmark/helper/classification/io.py
  benchmark/src/scripts/pytorch_benchmark/helper/classification/model/__init__.py
  benchmark/src/scripts/pytorch_benchmark/helper/classification/model/model_loader.py
  benchmark/src/scripts/pytorch_benchmark/helper/classification/model/swin_models.py
  benchmark/src/scripts/pytorch_benchmark/helper/classification/model/test_model.py
  benchmark/src/scripts/pytorch_benchmark/helper/classification/model/torchvision_models.py
  benchmark/src/scripts/pytorch_benchmark/helper/profiling.py
  benchmark/src/scripts/pytorch_benchmark/helper/training.py
  benchmark/src/scripts/pytorch_benchmark/image_classifier.py
  benchmark/src/scripts/pytorch_benchmark/image_classifier_spec.yaml
Owners: @jfomhover

refactor folders
  benchmark/src/scripts/pytorch_benchmark/classification/__init__.py
  benchmark/src/scripts/pytorch_benchmark/classification/io.py
  benchmark/src/scripts/pytorch_benchmark/classification/model/__init__.py
  benchmark/src/scripts/pytorch_benchmark/classification/model/model_loader.py
  benchmark/src/scripts/pytorch_benchmark/classification/model/swin_models.py
  benchmark/src/scripts/pytorch_benchmark/classification/model/test_model.py
  benchmark/src/scripts/pytorch_benchmark/classification/model/torchvision_models.py
  benchmark/src/scripts/pytorch_benchmark/image_classifier.py
  benchmark/tests/scripts/pytorch_image_classifier/test_ptic_model_loader.py
  benchmark/tests/scripts/pytorch_image_classifier/test_ptic_train.py
Owners: @jfomhover

Delete test/Test Framework directory
  test/Test Framework/E2E.py
Owners: @wayliums, @elesel, @quchuyuan

align paths
  benchmark/src/scripts/pytorch_benchmark/helper/profiling.py
  benchmark/src/scripts/pytorch_benchmark/helper/training.py
  benchmark/src/scripts/pytorch_benchmark/image_classifier.py
Owners: @jfomhover

Delete benchmark/pytorch_image_classifier directory
  benchmark/pytorch_image_classifier/__init__.py
  benchmark/pytorch_image_classifier/image_io.py
  benchmark/pytorch_image_classifier/model/__init__.py
  benchmark/pytorch_image_classifier/model/model_loader.py
  benchmark/pytorch_image_classifier/model/swin_models.py
  benchmark/pytorch_image_classifier/model/test_model.py
  benchmark/pytorch_image_classifier/model/torchvision_models.py
  benchmark/pytorch_image_classifier/pre.py
  benchmark/pytorch_image_classifier/profiling.py
  benchmark/pytorch_image_classifier/spec.yaml
  benchmark/pytorch_image_classifier/train.py
Owners: @jfomhover

resolved code health check
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/e2e_test.py
  scripts/azureml-assets/azureml/assets/release/group_test.py
  scripts/azureml-assets/azureml/assets/release/test_file_convert.py
  training/vision/jobs/object-detection-using-built-in-component/prepare_data.py
Owners: @wayliums, @elesel, @quchuyuan, @daholste

resolved code health check
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/e2e_test.py
  scripts/azureml-assets/azureml/assets/release/group_test.py
Owners: @wayliums, @elesel, @quchuyuan

move profiler to training sequence
  benchmark/src/scripts/pytorch_benchmark/helper/profiling.py
  benchmark/src/scripts/pytorch_benchmark/helper/training.py
  benchmark/src/scripts/pytorch_benchmark/image_classifier.py
Owners: @jfomhover

added fake_release for testing
  fake_release/scripts/asset_publish.py
  fake_release/scripts/e2e_test.py
  fake_release/scripts/group_test.py
  fake_release/tests/training/tests.yml
  fake_release/tests/training/vision/jobs/object-detection-using-built-in-component/README.md
  fake_release/tests/training/vision/jobs/object-detection-using-built-in-component/pipeline.yml
  fake_release/tests/training/vision/jobs/object-detection-using-built-in-component/predict.yml
  fake_release/tests/training/vision/jobs/object-detection-using-built-in-component/prepare_data.py
  fake_release/tests/training/vision/jobs/object-detection-using-built-in-component/resources/training-mltable-folder/MLTable
  fake_release/tests/training/vision/jobs/object-detection-using-built-in-component/resources/training-mltable-folder/train_annotations.jsonl
  fake_release/tests/training/vision/jobs/object-detection-using-built-in-component/resources/validation-mltable-folder/MLTable
  fake_release/tests/training/vision/jobs/object-detection-using-built-in-component/resources/validation-mltable-folder/validation_annotations.jsonl
  fake_release/tests/training/vision/jobs/object-detection-using-built-in-component/src/predict.py
Owners: @wayliums, @elesel, @quchuyuan

fixing test
  fake_release/scripts/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @wayliums, @elesel, @quchuyuan

fixing test
  fake_release/scripts/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @wayliums, @elesel, @quchuyuan

modify path in jobs
  benchmark/src/jobs/benchmark/tf_unet_pets.yml
  benchmark/src/jobs/benchmark/tf_unet_pets_sweep_datafetching.yml
  benchmark/src/pipelines/benchmark/pt_image_classification.yml
  benchmark/src/pipelines/benchmark/tf_unet_pets.yml
  benchmark/src/pipelines/canary/classification_random.yml
Owners: @jfomhover

fixing test
  fake_release/scripts/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @wayliums, @elesel, @quchuyuan

fixing test
  fake_release/scripts/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @wayliums, @elesel, @quchuyuan

fixing test
  fake_release/scripts/e2e_test.py
  scripts/azureml-assets/azureml/assets/release/e2e_test.py
Owners: @wayliums, @elesel, @quchuyuan

fixing test
  fake_release/scripts/e2e_test.py
  scripts/azureml-assets/azureml/assets/release/e2e_test.py
Owners: @wayliums, @elesel, @quchuyuan

fixing test
  fake_release/scripts/asset_publish.py
  fake_release/scripts/group_test.py
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/group_test.py
Owners: @wayliums, @elesel, @quchuyuan

rollback change to components folder name
  benchmark/src/components/common/profiling.py
  benchmark/src/components/export_dataset/run.py
  benchmark/src/components/generate_random_image_classes/run.py
  benchmark/src/components/generate_random_image_classes/spec.yaml
  benchmark/src/components/pytorch_benchmark/classification/__init__.py
  benchmark/src/components/pytorch_benchmark/classification/io.py
  benchmark/src/components/pytorch_benchmark/classification/model/__init__.py
  benchmark/src/components/pytorch_benchmark/classification/model/model_loader.py
  benchmark/src/components/pytorch_benchmark/classification/model/swin_models.py
  benchmark/src/components/pytorch_benchmark/classification/model/test_model.py
  benchmark/src/components/pytorch_benchmark/classification/model/torchvision_models.py
  benchmark/src/components/pytorch_benchmark/helper/__init__.py
  benchmark/src/components/pytorch_benchmark/helper/profiling.py
  benchmark/src/components/pytorch_benchmark/helper/training.py
  benchmark/src/components/pytorch_benchmark/image_classifier.py
  benchmark/src/components/pytorch_benchmark/image_classifier_spec.yaml
  benchmark/src/components/tensorflow/spec.yaml
  benchmark/src/components/tensorflow/tf_helper/__init__.py
  benchmark/src/components/tensorflow/tf_helper/image_io.py
  benchmark/src/components/tensorflow/tf_helper/model.py
  benchmark/src/components/tensorflow/tf_helper/profiling.py
  benchmark/src/components/tensorflow/train.py
  benchmark/tests/components/pytorch_image_classifier/test_ptic_model_loader.py
  benchmark/tests/components/pytorch_image_classifier/test_ptic_train.py
  benchmark/tests/components/tensorflow_image_segmentation/test_tfis_model_loader.py
  benchmark/tests/components/tensorflow_image_segmentation/test_tfis_train.py
  benchmark/tests/components/test_generate_random_image_classes.py
Owners: @jfomhover

rollback change to components folder name
  benchmark/src/jobs/benchmark/tf_unet_pets.yml
  benchmark/src/jobs/benchmark/tf_unet_pets_sweep_datafetching.yml
  benchmark/src/pipelines/benchmark/pt_image_classification.yml
  benchmark/src/pipelines/benchmark/tf_unet_pets.yml
  benchmark/src/pipelines/canary/classification_random.yml
Owners: @jfomhover

rollback change to components folder name
  benchmark/src/components/tensorflow_image_segmentation/spec.yaml
  benchmark/src/components/tensorflow_image_segmentation/tf_helper/__init__.py
  benchmark/src/components/tensorflow_image_segmentation/tf_helper/image_io.py
  benchmark/src/components/tensorflow_image_segmentation/tf_helper/model.py
  benchmark/src/components/tensorflow_image_segmentation/tf_helper/profiling.py
  benchmark/src/components/tensorflow_image_segmentation/train.py
Owners: @jfomhover

linting
  benchmark/src/components/pytorch_benchmark/classification/io.py
  benchmark/src/components/pytorch_benchmark/classification/model/model_loader.py
  benchmark/src/components/pytorch_benchmark/helper/profiling.py
  benchmark/src/components/pytorch_benchmark/helper/training.py
  benchmark/src/components/pytorch_benchmark/image_classifier.py
Owners: @jfomhover

linting
  benchmark/src/components/pytorch_benchmark/classification/model/__init__.py
Owners: @jfomhover

change path to components
  benchmark/src/components/pytorch_benchmark/image_classifier.py
  benchmark/tests/components/pytorch_image_classifier/test_ptic_model_loader.py
  benchmark/tests/components/pytorch_image_classifier/test_ptic_train.py
  benchmark/tests/components/tensorflow_image_segmentation/test_tfis_model_loader.py
  benchmark/tests/components/tensorflow_image_segmentation/test_tfis_train.py
  benchmark/tests/conftest.py
Owners: @jfomhover

linting
  benchmark/src/components/pytorch_benchmark/classification/model/__init__.py
  benchmark/src/components/pytorch_benchmark/image_classifier.py
  benchmark/tests/conftest.py
Owners: @jfomhover

fix import path
  benchmark/tests/components/test_generate_random_image_classes.py
Owners: @jfomhover
