Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets, @Azure/azureml-data, @azure/azureml-inference-idc, @Azure/aml-model-monitoring

Update scripts/azureml-assets/azureml/assets/copy_assets.py
  scripts/azureml-assets/azureml/assets/copy_assets.py
Owners: @azure/aml-assets

Pass tags_sorted into _get_latest_tag_or_digest
  scripts/azureml-assets/azureml/assets/environment/pin_image_versions.py
Owners: @azure/aml-assets

Change _get_manifest to get_manifest & Retry inside get_manifest
  scripts/azureml-assets/azureml/assets/__init__.py
  scripts/azureml-assets/azureml/assets/copy_assets.py
  scripts/azureml-assets/azureml/assets/environment/pin_image_versions.py
Owners: @azure/aml-assets

Update Dockerfile
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
Owners: @azure/aml-rai

Update conda_dependencies.yaml
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Update conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Update Dockerfile
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
Owners: @azure/aml-rai

Update Dockerfile
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
Owners: @azure/aml-rai

Update RAI text/vision environments (#771)
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Pinning azureml dependencies to fix cryptography dependency issue with mltable
  training/model_evaluation/environment/context/conda.yaml
Owners: @azure/aml-training

Added Debug logs to app insight for all import components
  common/environments/python-sdk-v2/context/Dockerfile
  common/src/model_registration/register.py
  training/model_management/environments/model-management/context/Dockerfile
  training/model_management/src/run_model_download.py
  training/model_management/src/run_model_preprocess.py
  training/model_management/src/run_model_sanity_validations.py
Owners: @azure/aml-assets, @azure/aml-training

Update model eval default compute for serverless (#773)
  training/finetune_acft_hf_nlp/components/pipeline_components/question_answering/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/summarization/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/text_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/token_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/translation/spec.yaml
Owners: @azure/aml-training

Update FT component versions
  training/finetune_acft_hf_nlp/components/finetune/question_answering/spec.yaml
  training/finetune_acft_hf_nlp/components/finetune/summarization/spec.yaml
  training/finetune_acft_hf_nlp/components/finetune/text_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/finetune/token_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/finetune/translation/spec.yaml
  training/finetune_acft_hf_nlp/components/model_import/question_answering/spec.yaml
  training/finetune_acft_hf_nlp/components/model_import/summarization/spec.yaml
  training/finetune_acft_hf_nlp/components/model_import/text_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/model_import/token_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/model_import/translation/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/question_answering/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/summarization/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/text_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/token_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/translation/spec.yaml
  training/finetune_acft_hf_nlp/components/preprocess/question_answering/spec.yaml
  training/finetune_acft_hf_nlp/components/preprocess/summarization/spec.yaml
  training/finetune_acft_hf_nlp/components/preprocess/text_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/preprocess/token_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/preprocess/translation/spec.yaml
Owners: @azure/aml-training

Update FT component versions (#775)
  training/finetune_acft_hf_nlp/components/finetune/question_answering/spec.yaml
  training/finetune_acft_hf_nlp/components/finetune/summarization/spec.yaml
  training/finetune_acft_hf_nlp/components/finetune/text_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/finetune/token_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/finetune/translation/spec.yaml
  training/finetune_acft_hf_nlp/components/model_import/question_answering/spec.yaml
  training/finetune_acft_hf_nlp/components/model_import/summarization/spec.yaml
  training/finetune_acft_hf_nlp/components/model_import/text_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/model_import/token_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/model_import/translation/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/question_answering/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/summarization/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/text_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/token_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/translation/spec.yaml
  training/finetune_acft_hf_nlp/components/preprocess/question_answering/spec.yaml
  training/finetune_acft_hf_nlp/components/preprocess/summarization/spec.yaml
  training/finetune_acft_hf_nlp/components/preprocess/text_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/preprocess/token_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/preprocess/translation/spec.yaml
Owners: @azure/aml-training

Fixed Lint issues
  common/src/model_registration/register.py
  training/model_management/src/run_model_download.py
  training/model_management/src/run_model_preprocess.py
  training/model_management/src/run_model_sanity_validations.py
Owners: @azure/aml-training

Fixed Lint failures
  common/src/model_registration/register.py
  training/model_management/src/run_model_download.py
  training/model_management/src/run_model_preprocess.py
  training/model_management/src/run_model_sanity_validations.py
Owners: @azure/aml-training

Pass tags_sorted into _get_latest_tag_or_digest (#770)
  scripts/azureml-assets/azureml/assets/environment/pin_image_versions.py
Owners: @azure/aml-assets

Moved appinsight installation to conda and requirement.txt created init_tc, tc_log, tc_exception moved functions to common_utils
  common/environments/python-sdk-v2/context/Dockerfile
  common/environments/python-sdk-v2/context/conda_dependencies.yaml
  common/src/model_registration/register.py
  training/model_management/environments/model-management/context/Dockerfile
  training/model_management/environments/model-management/context/requirements.txt
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
  training/model_management/src/run_model_download.py
  training/model_management/src/run_model_preprocess.py
  training/model_management/src/run_model_sanity_validations.py
Owners: @azure/aml-assets, @azure/aml-training

Fixed lint issues
  common/src/model_registration/register.py
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
  training/model_management/src/run_model_preprocess.py
  training/model_management/src/run_model_sanity_validations.py
Owners: @azure/aml-training

removed last blank line
  common/environments/python-sdk-v2/context/Dockerfile
Owners: @azure/aml-assets

fixed lint issue
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
Owners: @azure/aml-training

Added doc string to functions
  common/src/model_registration/register.py
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
Owners: @azure/aml-training

Updated Pipeline component for serverless (#769)
  training/model_management/components/import_model/spec.yaml
Owners: @azure/aml-training

Move environment check to copy_assets and handle get_manifest exceptions
  scripts/azureml-assets/azureml/assets/copy_assets.py
  scripts/azureml-assets/azureml/assets/update_assets.py
Owners: @azure/aml-assets

Update based on scripts-syntax suggestions
  scripts/azureml-assets/azureml/assets/copy_assets.py
  scripts/azureml-assets/azureml/assets/update_assets.py
Owners: @azure/aml-assets

Handle review comments
  common/src/model_registration/register.py
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
  training/model_management/src/run_model_download.py
  training/model_management/src/run_model_preprocess.py
  training/model_management/src/run_model_sanity_validations.py
Owners: @azure/aml-training

moved print stmt befoe tc call
  common/src/model_registration/register.py
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
Owners: @azure/aml-training

Handle review comments
  common/src/model_registration/register.py
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
  training/model_management/src/run_model_sanity_validations.py
Owners: @azure/aml-training

Apply suggestions from code review
  scripts/azureml-assets/azureml/assets/copy_assets.py
Owners: @azure/aml-assets

Move HTTPError import up
  scripts/azureml-assets/azureml/assets/copy_assets.py
Owners: @azure/aml-assets

Skip unreleased environment versions (#747)
  scripts/azureml-assets/azureml/assets/__init__.py
  scripts/azureml-assets/azureml/assets/copy_assets.py
  scripts/azureml-assets/azureml/assets/environment/pin_image_versions.py
  scripts/azureml-assets/azureml/assets/update_assets.py
Owners: @azure/aml-assets

Added Debug logs to app insight for all import components (#774)
  common/environments/python-sdk-v2/context/conda_dependencies.yaml
  common/src/model_registration/register.py
  training/model_management/environments/model-management/context/requirements.txt
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
  training/model_management/src/run_model_download.py
  training/model_management/src/run_model_preprocess.py
  training/model_management/src/run_model_sanity_validations.py
Owners: @azure/aml-assets, @azure/aml-training

Adjust predict and compute metrics component for image mlflow signature change
  training/model_evaluation/src/evaluate_model.py
  training/model_evaluation/src/model_prediction.py
  training/model_evaluation/src/task_factory/image/classification.py
  training/model_evaluation/src/task_factory/image/constants.py
  training/model_evaluation/src/utils.py
Owners: @azure/aml-training

Pep
  training/model_evaluation/src/task_factory/image/classification.py
Owners: @azure/aml-training

review comments address
  training/model_management/components/import_model/spec.yaml
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

removed unnecessary library
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

removed unnecessary library
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

updated the code
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

updated the code
  training/model_management/src/azureml/model/mgmt/downloader/downloader.py
Owners: @azure/aml-training

Adjust predict and compute metrics component for image mlflow signature change (#776)
  training/model_evaluation/src/evaluate_model.py
  training/model_evaluation/src/model_prediction.py
  training/model_evaluation/src/task_factory/image/classification.py
  training/model_evaluation/src/task_factory/image/constants.py
  training/model_evaluation/src/utils.py
Owners: @azure/aml-training

.github/CODEOWNERS:

*     @azure/aml-assets
/benchmark/ @azure/aims
/responsibleai/ @azure/aml-rai
/training/ @azure/aml-training 
/sample/ @Azure/aml-assets
/data/ @Azure/azureml-data
/models/ @azure/aml-training @azure/azureml-inference-idc
/common/components/register_model/ @azure/aml-training
/common/components/deploy_model/ @azure/aml-training
/common/src/model_deployment/ @azure/aml-training
/common/src/model_registration/ @azure/aml-training
/model_monitoring/ @Azure/aml-model-monitoring
