Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets

Specify exact cores
  scripts/release/group_test.py
Owners: @azure/aml-assets

update tests.yml
  training/tests.yml
Owners: @azure/aml-training

Support version directories
  scripts/azureml-assets/azureml/assets/environment/build.py
  scripts/azureml-assets/azureml/assets/util/util.py
Owners: @azure/aml-assets

Support version dirs in copy script
  scripts/azureml-assets/azureml/assets/copy_unreleased_assets.py
Owners: @azure/aml-assets

Create module level docstring
  scripts/azureml-assets/azureml/assets/copy_unreleased_assets.py
Owners: @azure/aml-assets

Support version directories (#314)
  scripts/azureml-assets/azureml/assets/copy_unreleased_assets.py
  scripts/azureml-assets/azureml/assets/environment/build.py
  scripts/azureml-assets/azureml/assets/util/util.py
Owners: @azure/aml-assets

Support version directories (#314)
  scripts/azureml-assets/azureml/assets/copy_unreleased_assets.py
  scripts/azureml-assets/azureml/assets/environment/build.py
  scripts/azureml-assets/azureml/assets/util/util.py
Owners: @azure/aml-assets

Update release branch
  scripts/azureml-assets/azureml/assets/copy_unreleased_assets.py
  scripts/azureml-assets/azureml/assets/environment/build.py
  scripts/azureml-assets/azureml/assets/util/util.py
Owners: @azure/aml-assets

Updarte spec desc. Use logical cores in pytest.
  scripts/release/group_test.py
  training/automl/components/automl_image_classification/spec.yaml
  training/automl/components/automl_image_classification_multilabel/spec.yaml
  training/automl/components/automl_image_instance_segmentation/spec.yaml
  training/automl/components/automl_image_object_detection/spec.yaml
  training/automl/components/automl_tabular_classification/spec.yaml
  training/automl/components/automl_tabular_forecasting/spec.yaml
  training/automl/components/automl_tabular_regression/spec.yaml
  training/automl/components/automl_text_classification/spec.yaml
  training/automl/components/automl_text_classification_multilable/spec.yaml
  training/automl/components/automl_text_ner/spec.yaml
  training/automl/tests/test_configs/payload/text_classification_multilable_newsgroup_payload.json
  training/automl/tests/test_configs/payload/text_classification_newsgroup_payload.json
  training/automl/tests/test_configs/payload/text_ner_conll_payload.json
  training/tests.yml
Owners: @azure/aml-assets, @azure/aml-training

fix tests
  .github/workflows/assets-validation.yaml
  scripts/release/group_test.py
  training/automl/tests/preprocessing/vision/prepare_instance_segmentation_data.py
Owners: @azure/aml-assets, @azure/aml-training

added pytorch 1.13
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/context/requirements.txt
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/context/requirements.txt
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/asset.yaml
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/context/Dockerfile
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/context/requirements.txt
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/environment.yaml
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/spec.yaml
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/requirements.txt
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/src/main.py
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/src/network.py
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/src/requirements.txt
Owners: @azure/aml-training

added pytorch 1.13
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/context/requirements.txt
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/context/requirements.txt
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/asset.yaml
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/context/Dockerfile
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/context/requirements.txt
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/environment.yaml
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/spec.yaml
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/requirements.txt
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/src/main.py
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/src/network.py
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/src/requirements.txt
Owners: @azure/aml-training

Remove legacy prefixes, clean up asset names
  responsibleai/tabular/components/causal/spec.yaml
  responsibleai/tabular/components/counterfactual/spec.yaml
  responsibleai/tabular/components/error_analysis/spec.yaml
  responsibleai/tabular/components/explanation/spec.yaml
  responsibleai/tabular/components/insight_create/spec.yaml
  responsibleai/tabular/components/insight_gather/spec.yaml
  responsibleai/tabular/components/score_card/spec.yaml
  responsibleai/text/components/rai_text_insights/spec.yaml
  responsibleai/vision/components/rai_vision_insights/spec.yaml
  sample/general/components/sample-component/asset.yaml
  sample/general/components/sample-component/spec.yaml
  sample/general/jobs/pipeline.yml
  sample/tests.yml
  training/automl/components/automl_image_classification/spec.yaml
  training/automl/components/automl_image_classification_multilabel/spec.yaml
  training/automl/components/automl_image_instance_segmentation/spec.yaml
  training/automl/components/automl_image_object_detection/spec.yaml
  training/automl/components/automl_tabular_classification/spec.yaml
  training/automl/components/automl_tabular_forecasting/spec.yaml
  training/automl/components/automl_tabular_regression/spec.yaml
  training/automl/components/automl_text_classification/spec.yaml
  training/automl/components/automl_text_classification_multilable/spec.yaml
  training/automl/components/automl_text_ner/spec.yaml
  training/vision/components/image_classification/spec.yaml
  training/vision/components/instance_segmentation/spec.yaml
  training/vision/components/object_detection/spec.yaml
Owners: @azure/aml-rai, @Azure/aml-assets, @azure/aml-training

Remove legacy prefixes, clean up asset names
  responsibleai/tabular/components/causal/spec.yaml
  responsibleai/tabular/components/counterfactual/spec.yaml
  responsibleai/tabular/components/error_analysis/spec.yaml
  responsibleai/tabular/components/explanation/spec.yaml
  responsibleai/tabular/components/insight_create/spec.yaml
  responsibleai/tabular/components/insight_gather/spec.yaml
  responsibleai/tabular/components/score_card/spec.yaml
  responsibleai/text/components/rai_text_insights/spec.yaml
  responsibleai/vision/components/rai_vision_insights/spec.yaml
  sample/general/components/sample-component/asset.yaml
  sample/general/components/sample-component/spec.yaml
  sample/general/jobs/pipeline.yml
  sample/tests.yml
  training/automl/components/automl_image_classification/spec.yaml
  training/automl/components/automl_image_classification_multilabel/spec.yaml
  training/automl/components/automl_image_instance_segmentation/spec.yaml
  training/automl/components/automl_image_object_detection/spec.yaml
  training/automl/components/automl_tabular_classification/spec.yaml
  training/automl/components/automl_tabular_forecasting/spec.yaml
  training/automl/components/automl_tabular_regression/spec.yaml
  training/automl/components/automl_text_classification/spec.yaml
  training/automl/components/automl_text_classification_multilable/spec.yaml
  training/automl/components/automl_text_ner/spec.yaml
  training/vision/components/image_classification/spec.yaml
  training/vision/components/instance_segmentation/spec.yaml
  training/vision/components/object_detection/spec.yaml
Owners: @azure/aml-rai, @Azure/aml-assets, @azure/aml-training

Fix path to test_file_convert.py
  .github/workflows/assets-validation.yaml
Owners: @azure/aml-assets

Fix path to test_file_convert.py (#318)
  .github/workflows/assets-validation.yaml
Owners: @azure/aml-assets

Fix path to test_file_convert.py (#318)
  .github/workflows/assets-validation.yaml
Owners: @azure/aml-assets

Update directories, remove "component" suffix
  responsibleai/text/components/rai-text-insights/asset.yaml
  responsibleai/text/components/rai-text-insights/spec.yaml
  training/automl/components/image_classification/asset.yaml
  training/automl/components/image_classification/spec.yaml
  training/automl/components/image_classification_multilabel/asset.yaml
  training/automl/components/image_classification_multilabel/spec.yaml
  training/automl/components/image_instance_segmentation/asset.yaml
  training/automl/components/image_instance_segmentation/spec.yaml
  training/automl/components/image_object_detection/asset.yaml
  training/automl/components/image_object_detection/spec.yaml
  training/automl/components/tabular_classification/asset.yaml
  training/automl/components/tabular_classification/spec.yaml
  training/automl/components/tabular_forecasting/asset.yaml
  training/automl/components/tabular_forecasting/spec.yaml
  training/automl/components/tabular_regression/asset.yaml
  training/automl/components/tabular_regression/spec.yaml
  training/automl/components/text_classification/asset.yaml
  training/automl/components/text_classification/spec.yaml
  training/automl/components/text_classification_multilable/asset.yaml
  training/automl/components/text_classification_multilable/spec.yaml
  training/automl/components/text_ner/asset.yaml
  training/automl/components/text_ner/spec.yaml
  training/vision/jobs/object-detection-using-built-in-component/pipeline.yml
Owners: @azure/aml-rai, @azure/aml-training

Update directories, remove "component" suffix
  responsibleai/text/components/rai-text-insights/asset.yaml
  responsibleai/text/components/rai-text-insights/spec.yaml
  training/automl/components/image_classification/asset.yaml
  training/automl/components/image_classification/spec.yaml
  training/automl/components/image_classification_multilabel/asset.yaml
  training/automl/components/image_classification_multilabel/spec.yaml
  training/automl/components/image_instance_segmentation/asset.yaml
  training/automl/components/image_instance_segmentation/spec.yaml
  training/automl/components/image_object_detection/asset.yaml
  training/automl/components/image_object_detection/spec.yaml
  training/automl/components/tabular_classification/asset.yaml
  training/automl/components/tabular_classification/spec.yaml
  training/automl/components/tabular_forecasting/asset.yaml
  training/automl/components/tabular_forecasting/spec.yaml
  training/automl/components/tabular_regression/asset.yaml
  training/automl/components/tabular_regression/spec.yaml
  training/automl/components/text_classification/asset.yaml
  training/automl/components/text_classification/spec.yaml
  training/automl/components/text_classification_multilable/asset.yaml
  training/automl/components/text_classification_multilable/spec.yaml
  training/automl/components/text_ner/asset.yaml
  training/automl/components/text_ner/spec.yaml
  training/vision/jobs/object-detection-using-built-in-component/pipeline.yml
Owners: @azure/aml-rai, @azure/aml-training

Rename dir
  responsibleai/vision/components/rai-vision-insights/asset.yaml
  responsibleai/vision/components/rai-vision-insights/spec.yaml
Owners: @azure/aml-rai

Rename dir
  responsibleai/vision/components/rai-vision-insights/asset.yaml
  responsibleai/vision/components/rai-vision-insights/spec.yaml
Owners: @azure/aml-rai

Fix env reference
  .github/workflows/assets-test.yaml
Owners: @azure/aml-assets

Fix env reference (#319)
  .github/workflows/assets-test.yaml
Owners: @azure/aml-assets

Fix env reference (#319)
  .github/workflows/assets-test.yaml
Owners: @azure/aml-assets

Create config.yaml
  .github/ISSUE_TEMPLATE/config.yaml
Owners: @azure/aml-assets

Create bug.yml
  .github/ISSUE_TEMPLATE/bug.yml
Owners: @azure/aml-assets

Update bug.yml
  .github/ISSUE_TEMPLATE/bug.yml
Owners: @azure/aml-assets

docstyle
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/network.py
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/src/network.py
Owners: @azure/aml-training

added pytorch 1.13
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/context/requirements.txt
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/context/requirements.txt
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/asset.yaml
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/context/Dockerfile
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/context/requirements.txt
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/environment.yaml
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/spec.yaml
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/requirements.txt
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/src/main.py
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/src/network.py
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/src/requirements.txt
Owners: @azure/aml-training

added pytorch 1.13
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/context/requirements.txt
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/context/requirements.txt
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/asset.yaml
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/context/Dockerfile
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/context/requirements.txt
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/environment.yaml
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/spec.yaml
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/requirements.txt
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/src/main.py
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/src/network.py
  training/general/src/environments/acpt-pytorch-1.13-py38-cuda11.7-gpu/tests/src/requirements.txt
Owners: @azure/aml-training

changed the docker to pull latest pypi
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/context/Dockerfile
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/context/Dockerfile
Owners: @azure/aml-training

new azure container for pytorch env
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/asset.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/context/Dockerfile
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/context/conda_dependencies.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/environment.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/spec.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/requirements.txt
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/main.py
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/network.py
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/requirements.txt
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/asset.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/context/Dockerfile
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/context/conda_dependencies.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/environment.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/spec.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/requirements.txt
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/src/main.py
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/src/network.py
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/src/requirements.txt
Owners: @azure/aml-training

changed exp name to be <36 chars
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/pytorch1_11_sample_test.py
Owners: @azure/aml-training

changed the docker to pull latest pypi
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/context/Dockerfile
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/context/Dockerfile
Owners: @azure/aml-training

added sklearn
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/requirements.txt
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/src/requirements.txt
Owners: @azure/aml-training

changed description and fix docstyle errors
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/spec.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/network.py
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/src/network.py
Owners: @azure/aml-training

deleted old folder
  training/general/src/environments/acpt-pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/asset.yaml
Owners: @azure/aml-training

added back empty conda yml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/context/conda_dependencies.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/context/conda_dependencies.yaml
Owners: @azure/aml-training

updated env
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/context/Dockerfile
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/context/conda_dependencies.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/environment.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/requirements.txt
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/context/Dockerfile
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/context/conda_dependencies.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/requirements.txt
Owners: @azure/aml-training

added sklearn
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/requirements.txt
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/src/requirements.txt
Owners: @azure/aml-training

.github/CODEOWNERS:

*     @azure/aml-assets
/benchmark/ @azure/aims
/responsibleai/ @azure/aml-rai
/training/ @azure/aml-training 
/sample/ @Azure/aml-assets
