Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets

resolved comments
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

updates
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

updated from fake_release
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

Update release branch
  latest/environment/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/context/Dockerfile
  latest/environment/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/spec.yaml
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/sklearn-1.1-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/sklearn-1.1-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/tensorflow-2.8-ubuntu20.04-py38-cuda11-gpu/context/Dockerfile
  latest/environment/tensorflow-2.8-ubuntu20.04-py38-cuda11-gpu/spec.yaml
  latest/environment/tensorflow-2.9-ubuntu20.04-py38-cuda11-gpu/context/Dockerfile
  latest/environment/tensorflow-2.9-ubuntu20.04-py38-cuda11-gpu/spec.yaml
Owners: @azure/aml-assets

Add sklearn envs
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.3-gpu/asset.yaml
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.3-gpu/context/DockerFile
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.3-gpu/environment.yaml
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.3-gpu/spec.yaml
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.3-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.3-gpu/tests/requirements.txt
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.3-gpu/tests/src/main.py
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.3-gpu/tests/src/network.py
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.3-gpu/tests/src/requirements.txt
  training/general/src/environments/AzureML-sklearn-0.24-ubuntu20.04-py37-cpu/asset.yaml
  training/general/src/environments/AzureML-sklearn-0.24-ubuntu20.04-py37-cpu/context/DockerFile
  training/general/src/environments/AzureML-sklearn-0.24-ubuntu20.04-py37-cpu/environment.yaml
  training/general/src/environments/AzureML-sklearn-0.24-ubuntu20.04-py37-cpu/spec.yaml
  training/general/src/environments/AzureML-sklearn-0.24-ubuntu20.04-py37-cpu/tests/requirements.txt
  training/general/src/environments/AzureML-sklearn-0.24-ubuntu20.04-py37-cpu/tests/sklearn_sample_test.py
  training/general/src/environments/AzureML-sklearn-0.24-ubuntu20.04-py37-cpu/tests/src/main.py
  training/general/src/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/asset.yaml
  training/general/src/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/context/DockerFile
  training/general/src/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/environment.yaml
  training/general/src/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/spec.yaml
  training/general/src/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/tests/requirements.txt
  training/general/src/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/tests/sklearn_sample_test.py
  training/general/src/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/tests/src/main.py
Owners: @azure/aml-training

generate failed assets report (#294)
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

generate failed assets report (#294)
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

Update release branch
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

add pytorch cuda 11.5 env
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/asset.yaml
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/context/Dockerfile
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/environment.yaml
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/spec.yaml
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/tests/requirements.txt
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/tests/src/main.py
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/tests/src/network.py
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/tests/src/requirements.txt
Owners: @azure/aml-training

Rename DockerFile to Dockerfile
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.3-gpu/context/Dockerfile
Owners: @azure/aml-training

Rename DockerFile to Dockerfile
  training/general/src/environments/AzureML-sklearn-0.24-ubuntu20.04-py37-cpu/context/Dockerfile
Owners: @azure/aml-training

Rename DockerFile to Dockerfile
  training/general/src/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/context/Dockerfile
Owners: @azure/aml-training

add empty conda_dependencies file
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.3-gpu/context/conda_dependencies.yaml
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/context/conda_dependencies.yaml
  training/general/src/environments/AzureML-sklearn-0.24-ubuntu20.04-py37-cpu/context/conda_dependencies.yaml
  training/general/src/environments/AzureML-sklearn-1.0-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-training

change env name to lowercase
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.3-gpu/asset.yaml
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.3-gpu/environment.yaml
Owners: @azure/aml-training

rename env
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/asset.yaml
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/context/Dockerfile
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/context/conda_dependencies.yaml
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/environment.yaml
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/spec.yaml
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/requirements.txt
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/main.py
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/network.py
  training/general/src/environments/AzureML-ACPT-pytorch-1.11-py38-cuda11.5-gpu/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/requirements.txt
Owners: @azure/aml-training

move file
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/asset.yaml
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/context/Dockerfile
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/context/conda_dependencies.yaml
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/environment.yaml
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/spec.yaml
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/requirements.txt
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/main.py
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/network.py
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/requirements.txt
Owners: @azure/aml-training

change env names
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/asset.yaml
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/context/Dockerfile
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/context/conda_dependencies.yaml
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/environment.yaml
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/spec.yaml
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/requirements.txt
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/src/main.py
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/src/network.py
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/src/requirements.txt
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/asset.yaml
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/context/Dockerfile
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/context/conda_dependencies.yaml
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/environment.yaml
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/spec.yaml
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/tests/requirements.txt
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/tests/sklearn_sample_test.py
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/tests/src/main.py
  training/general/src/environments/azureml-sklearn-1.0-ubuntu20.04-py38-cpu/asset.yaml
  training/general/src/environments/azureml-sklearn-1.0-ubuntu20.04-py38-cpu/context/Dockerfile
  training/general/src/environments/azureml-sklearn-1.0-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  training/general/src/environments/azureml-sklearn-1.0-ubuntu20.04-py38-cpu/environment.yaml
  training/general/src/environments/azureml-sklearn-1.0-ubuntu20.04-py38-cpu/spec.yaml
  training/general/src/environments/azureml-sklearn-1.0-ubuntu20.04-py38-cpu/tests/requirements.txt
  training/general/src/environments/azureml-sklearn-1.0-ubuntu20.04-py38-cpu/tests/sklearn_sample_test.py
  training/general/src/environments/azureml-sklearn-1.0-ubuntu20.04-py38-cpu/tests/src/main.py
Owners: @azure/aml-training

change dockerfile installs
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/context/Dockerfile
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/context/Dockerfile
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/context/Dockerfile
  training/general/src/environments/azureml-sklearn-1.0-ubuntu20.04-py38-cpu/context/Dockerfile
Owners: @azure/aml-training

increase timeout
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/context/Dockerfile
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/context/Dockerfile
  training/general/src/environments/azureml-sklearn-1.0-ubuntu20.04-py38-cpu/context/Dockerfile
Owners: @azure/aml-training

fix sklearn docker pull
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/spec.yaml
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/context/Dockerfile
  training/general/src/environments/azureml-sklearn-1.0-ubuntu20.04-py38-cpu/context/Dockerfile
Owners: @azure/aml-training

change sklearn openmpi version
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/context/Dockerfile
Owners: @azure/aml-training

add pytorch 1.12 envs
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/azureml-acpt-pytorch-1.12-py38-cuda11.6-gpu/asset.yaml
  training/general/src/environments/azureml-acpt-pytorch-1.12-py38-cuda11.6-gpu/context/Dockerfile
  training/general/src/environments/azureml-acpt-pytorch-1.12-py38-cuda11.6-gpu/context/conda_dependencies.yaml
  training/general/src/environments/azureml-acpt-pytorch-1.12-py38-cuda11.6-gpu/environment.yaml
  training/general/src/environments/azureml-acpt-pytorch-1.12-py38-cuda11.6-gpu/spec.yaml
  training/general/src/environments/azureml-acpt-pytorch-1.12-py38-cuda11.6-gpu/tests/pytorch1_12_sample_test.py
  training/general/src/environments/azureml-acpt-pytorch-1.12-py38-cuda11.6-gpu/tests/requirements.txt
  training/general/src/environments/azureml-acpt-pytorch-1.12-py38-cuda11.6-gpu/tests/src/main.py
  training/general/src/environments/azureml-acpt-pytorch-1.12-py38-cuda11.6-gpu/tests/src/network.py
  training/general/src/environments/azureml-acpt-pytorch-1.12-py38-cuda11.6-gpu/tests/src/requirements.txt
  training/general/src/environments/azureml-acpt-pytorch-1.12-py39-cuda11.6-gpu/asset.yaml
  training/general/src/environments/azureml-acpt-pytorch-1.12-py39-cuda11.6-gpu/context/Dockerfile
  training/general/src/environments/azureml-acpt-pytorch-1.12-py39-cuda11.6-gpu/context/conda_dependencies.yaml
  training/general/src/environments/azureml-acpt-pytorch-1.12-py39-cuda11.6-gpu/environment.yaml
  training/general/src/environments/azureml-acpt-pytorch-1.12-py39-cuda11.6-gpu/spec.yaml
  training/general/src/environments/azureml-acpt-pytorch-1.12-py39-cuda11.6-gpu/tests/pytorch1_12_sample_test.py
  training/general/src/environments/azureml-acpt-pytorch-1.12-py39-cuda11.6-gpu/tests/requirements.txt
  training/general/src/environments/azureml-acpt-pytorch-1.12-py39-cuda11.6-gpu/tests/src/main.py
  training/general/src/environments/azureml-acpt-pytorch-1.12-py39-cuda11.6-gpu/tests/src/network.py
  training/general/src/environments/azureml-acpt-pytorch-1.12-py39-cuda11.6-gpu/tests/src/requirements.txt
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/context/Dockerfile
Owners: @azure/aml-training

Add tensorflow envs
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/network.py
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/src/network.py
  training/general/src/environments/azureml-acpt-pytorch-1.12-py38-cuda11.6-gpu/tests/src/network.py
  training/general/src/environments/azureml-acpt-pytorch-1.12-py39-cuda11.6-gpu/tests/src/network.py
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/tests/src/main.py
  training/general/src/environments/azureml-sklearn-1.0-ubuntu20.04-py38-cpu/tests/src/main.py
  training/general/src/environments/azureml-tensorflow-2.6-ubuntu20.04-py38-cuda11-gpu/asset.yaml
  training/general/src/environments/azureml-tensorflow-2.6-ubuntu20.04-py38-cuda11-gpu/context/Dockerfile
  training/general/src/environments/azureml-tensorflow-2.6-ubuntu20.04-py38-cuda11-gpu/context/conda_dependencies.yaml
  training/general/src/environments/azureml-tensorflow-2.6-ubuntu20.04-py38-cuda11-gpu/environment.yaml
  training/general/src/environments/azureml-tensorflow-2.6-ubuntu20.04-py38-cuda11-gpu/spec.yaml
  training/general/src/environments/azureml-tensorflow-2.6-ubuntu20.04-py38-cuda11-gpu/tests/requirements.txt
  training/general/src/environments/azureml-tensorflow-2.6-ubuntu20.04-py38-cuda11-gpu/tests/src/main.py
  training/general/src/environments/azureml-tensorflow-2.6-ubuntu20.04-py38-cuda11-gpu/tests/tensorflow2_6_sample_test.py
  training/general/src/environments/azureml-tensorflow-2.7-ubuntu20.04-py38-cuda11-gpu/asset.yaml
  training/general/src/environments/azureml-tensorflow-2.7-ubuntu20.04-py38-cuda11-gpu/context/Dockerfile
  training/general/src/environments/azureml-tensorflow-2.7-ubuntu20.04-py38-cuda11-gpu/context/conda_dependencies.yaml
  training/general/src/environments/azureml-tensorflow-2.7-ubuntu20.04-py38-cuda11-gpu/environment.yaml
  training/general/src/environments/azureml-tensorflow-2.7-ubuntu20.04-py38-cuda11-gpu/spec.yaml
  training/general/src/environments/azureml-tensorflow-2.7-ubuntu20.04-py38-cuda11-gpu/tests/requirements.txt
  training/general/src/environments/azureml-tensorflow-2.7-ubuntu20.04-py38-cuda11-gpu/tests/src/main.py
  training/general/src/environments/azureml-tensorflow-2.7-ubuntu20.04-py38-cuda11-gpu/tests/tensorflow2_7_sample_test.py
Owners: @azure/aml-training

add lightgbm and last pytorch env
  training/general/src/environments/azureml-lightgbm-3.2-ubuntu20.04-py37-cpu/asset.yaml
  training/general/src/environments/azureml-lightgbm-3.2-ubuntu20.04-py37-cpu/context/Dockerfile
  training/general/src/environments/azureml-lightgbm-3.2-ubuntu20.04-py37-cpu/context/conda_dependencies.yaml
  training/general/src/environments/azureml-lightgbm-3.2-ubuntu20.04-py37-cpu/environment.yaml
  training/general/src/environments/azureml-lightgbm-3.2-ubuntu20.04-py37-cpu/spec.yaml
  training/general/src/environments/azureml-lightgbm-3.2-ubuntu20.04-py37-cpu/tests/lightgbm_sample_test.py
  training/general/src/environments/azureml-lightgbm-3.2-ubuntu20.04-py37-cpu/tests/requirements.txt
  training/general/src/environments/azureml-lightgbm-3.2-ubuntu20.04-py37-cpu/tests/src/main.py
  training/general/src/environments/azureml-pytorch-1.10-ubuntu20.04-py38-cuda11-gpu/asset.yaml
  training/general/src/environments/azureml-pytorch-1.10-ubuntu20.04-py38-cuda11-gpu/context/Dockerfile
  training/general/src/environments/azureml-pytorch-1.10-ubuntu20.04-py38-cuda11-gpu/context/conda_dependencies.yaml
  training/general/src/environments/azureml-pytorch-1.10-ubuntu20.04-py38-cuda11-gpu/environment.yaml
  training/general/src/environments/azureml-pytorch-1.10-ubuntu20.04-py38-cuda11-gpu/spec.yaml
  training/general/src/environments/azureml-pytorch-1.10-ubuntu20.04-py38-cuda11-gpu/tests/pytorch1_10_sample_test.py
  training/general/src/environments/azureml-pytorch-1.10-ubuntu20.04-py38-cuda11-gpu/tests/requirements.txt
  training/general/src/environments/azureml-pytorch-1.10-ubuntu20.04-py38-cuda11-gpu/tests/src/main.py
  training/general/src/environments/azureml-pytorch-1.10-ubuntu20.04-py38-cuda11-gpu/tests/src/network.py
  training/general/src/environments/azureml-pytorch-1.10-ubuntu20.04-py38-cuda11-gpu/tests/src/requirements.txt
  training/general/src/environments/azureml-tensorflow-2.6-ubuntu20.04-py38-cuda11-gpu/tests/src/main.py
  training/general/src/environments/azureml-tensorflow-2.7-ubuntu20.04-py38-cuda11-gpu/tests/src/main.py
Owners: @azure/aml-training

Fix flake errors
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/network.py
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/src/network.py
  training/general/src/environments/azureml-acpt-pytorch-1.12-py38-cuda11.6-gpu/tests/src/network.py
  training/general/src/environments/azureml-acpt-pytorch-1.12-py39-cuda11.6-gpu/tests/src/network.py
  training/general/src/environments/azureml-lightgbm-3.2-ubuntu20.04-py37-cpu/tests/src/main.py
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/tests/src/main.py
  training/general/src/environments/azureml-sklearn-1.0-ubuntu20.04-py38-cpu/tests/src/main.py
  training/general/src/environments/azureml-tensorflow-2.6-ubuntu20.04-py38-cuda11-gpu/tests/src/main.py
  training/general/src/environments/azureml-tensorflow-2.7-ubuntu20.04-py38-cuda11-gpu/tests/src/main.py
Owners: @azure/aml-training

change docker image for lightgbm env
  training/general/src/environments/azureml-lightgbm-3.2-ubuntu20.04-py37-cpu/context/Dockerfile
  training/general/src/environments/azureml-lightgbm-3.2-ubuntu20.04-py37-cpu/spec.yaml
Owners: @azure/aml-training

change openmpi version
  training/general/src/environments/azureml-lightgbm-3.2-ubuntu20.04-py37-cpu/environment.yaml
Owners: @azure/aml-training

fix docker image
  training/general/src/environments/azureml-lightgbm-3.2-ubuntu20.04-py37-cpu/context/Dockerfile
Owners: @azure/aml-training

add newlines
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/network.py
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/src/network.py
  training/general/src/environments/azureml-acpt-pytorch-1.12-py38-cuda11.6-gpu/tests/src/network.py
Owners: @azure/aml-training

add time to timeout length
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/azureml-acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/pytorch1_11_sample_test.py
  training/general/src/environments/azureml-acpt-pytorch-1.12-py38-cuda11.6-gpu/tests/pytorch1_12_sample_test.py
  training/general/src/environments/azureml-acpt-pytorch-1.12-py39-cuda11.6-gpu/tests/pytorch1_12_sample_test.py
  training/general/src/environments/azureml-lightgbm-3.2-ubuntu20.04-py37-cpu/tests/lightgbm_sample_test.py
  training/general/src/environments/azureml-lightgbm-3.2-ubuntu20.04-py37-cpu/tests/src/main.py
  training/general/src/environments/azureml-pytorch-1.10-ubuntu20.04-py38-cuda11-gpu/tests/pytorch1_10_sample_test.py
  training/general/src/environments/azureml-pytorch-1.10-ubuntu20.04-py38-cuda11-gpu/tests/src/network.py
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/tests/sklearn_sample_test.py
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/tests/src/main.py
  training/general/src/environments/azureml-sklearn-1.0-ubuntu20.04-py38-cpu/tests/sklearn_sample_test.py
  training/general/src/environments/azureml-sklearn-1.0-ubuntu20.04-py38-cpu/tests/src/main.py
  training/general/src/environments/azureml-tensorflow-2.6-ubuntu20.04-py38-cuda11-gpu/tests/tensorflow2_6_sample_test.py
  training/general/src/environments/azureml-tensorflow-2.7-ubuntu20.04-py38-cuda11-gpu/tests/tensorflow2_7_sample_test.py
Owners: @azure/aml-training

fix syntax errors
  training/general/src/environments/azureml-lightgbm-3.2-ubuntu20.04-py37-cpu/tests/src/main.py
  training/general/src/environments/azureml-sklearn-0.24-ubuntu20.04-py37-cpu/tests/src/main.py
  training/general/src/environments/azureml-sklearn-1.0-ubuntu20.04-py38-cpu/tests/src/main.py
Owners: @azure/aml-training

Update release branch
  latest/environment/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/context/Dockerfile
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/sklearn-1.1-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/tensorflow-2.8-ubuntu20.04-py38-cuda11-gpu/context/Dockerfile
  latest/environment/tensorflow-2.9-ubuntu20.04-py38-cuda11-gpu/context/Dockerfile
Owners: @azure/aml-assets

Fix workflows
  scripts/test-requirements.txt
  training/automl/tests/__init__.py
  training/automl/tests/conftest.py
  training/automl/tests/test_automl_components.py
  training/automl/tests/test_utilities.py
Owners: @azure/aml-assets, @azure/aml-training

Fix flake
  scripts/azureml-assets/azureml/assets/release/group_test.py
  training/automl/tests/conftest.py
  training/automl/tests/test_utilities.py
Owners: @azure/aml-assets, @azure/aml-training

Refactor scripts directory
  .github/workflows/assets-test.yaml
  .github/workflows/scripts-syntax.yaml
  .github/workflows/scripts-test.yaml
  scripts/azureml-assets/azureml/assets/__init__.py
  scripts/azureml-assets/azureml/assets/model/__init__.py
  scripts/azureml-assets/azureml/assets/model/mlflow_utils.py
  scripts/azureml-assets/azureml/assets/model/utils.py
  scripts/azureml-assets/setup.py
  scripts/azureml-assets/validation_rules.json
  scripts/release/asset_publish.py
  scripts/release/e2e_test.py
  scripts/release/group_test.py
  scripts/release/requirements.txt
  scripts/release/test_file_convert.py
  scripts/release/test_results_analysis.py
  scripts/requirements.txt
  scripts/script-check-requirements.txt
  scripts/test-requirements.txt
  scripts/test/create_asset_test_matrix.py
  scripts/test/requirements.txt
  scripts/test/test_assets.py
  scripts/validation/requirements.txt
  test/test_test_assets.py
Owners: @azure/aml-assets

Execute test_assets via subprocess
  test/test_test_assets.py
Owners: @azure/aml-assets

Remove unused import
  test/test_test_assets.py
Owners: @azure/aml-assets

Remove azureml-assets from requirements.txt
  scripts/release/requirements.txt
  scripts/test/requirements.txt
  scripts/validation/requirements.txt
Owners: @azure/aml-assets

Copy all scripts to release branch
  .github/workflows/assets-release.yaml
Owners: @azure/aml-assets

Bump minimum Python version
  scripts/azureml-assets/setup.py
Owners: @azure/aml-assets

.github/CODEOWNERS:

*     @azure/aml-assets
/benchmark/ @azure/aims
/responsibleai/ @azure/aml-rai
/training/ @azure/aml-training 
/sample/ @Azure/aml-assets
