Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets

add docstring for util.py
  scripts/azureml-assets/azureml/assets/util/util.py
Owners: @azure/aml-assets

use asset version
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

prevent exceptions in model publishing to stop asset publishing process
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/model_publish_utils/utils.py
Owners: @azure/aml-assets

Support model download from public blobstore endpoints (#280)
  .github/workflows/assets-test.yaml
  inference/mlflow-huggingface/src/models/bert-base-uncased/asset.yaml
  inference/mlflow-huggingface/src/models/bert-base-uncased/model.yaml
  inference/mlflow-huggingface/src/models/bert-base-uncased/output_schema.json
  inference/mlflow-huggingface/src/models/bert-base-uncased/payload.json
  inference/mlflow-huggingface/src/models/bert-base-uncased/spec.yaml
  scripts/azureml-assets/azureml/assets/__init__.py
  scripts/azureml-assets/azureml/assets/config.py
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/model_publish_utils/__init__.py
  scripts/azureml-assets/azureml/assets/release/model_publish_utils/mlflow_utils.py
  scripts/azureml-assets/azureml/assets/release/model_publish_utils/utils.py
  scripts/azureml-assets/azureml/assets/util/__init__.py
  scripts/azureml-assets/azureml/assets/util/util.py
  scripts/azureml-assets/setup.py
  scripts/install_azcopy.sh
Owners: @azure/aml-assets

Support model download from public blobstore endpoints (#280)
  .github/workflows/assets-test.yaml
  inference/mlflow-huggingface/src/models/bert-base-uncased/asset.yaml
  inference/mlflow-huggingface/src/models/bert-base-uncased/model.yaml
  inference/mlflow-huggingface/src/models/bert-base-uncased/output_schema.json
  inference/mlflow-huggingface/src/models/bert-base-uncased/payload.json
  inference/mlflow-huggingface/src/models/bert-base-uncased/spec.yaml
  scripts/azureml-assets/azureml/assets/__init__.py
  scripts/azureml-assets/azureml/assets/config.py
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/model_publish_utils/__init__.py
  scripts/azureml-assets/azureml/assets/release/model_publish_utils/mlflow_utils.py
  scripts/azureml-assets/azureml/assets/release/model_publish_utils/utils.py
  scripts/azureml-assets/azureml/assets/util/__init__.py
  scripts/azureml-assets/azureml/assets/util/util.py
  scripts/azureml-assets/setup.py
  scripts/install_azcopy.sh
Owners: @azure/aml-assets

Update release branch
  scripts/azureml-assets/azureml/assets/__init__.py
  scripts/azureml-assets/azureml/assets/config.py
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/model_publish_utils/__init__.py
  scripts/azureml-assets/azureml/assets/release/model_publish_utils/mlflow_utils.py
  scripts/azureml-assets/azureml/assets/release/model_publish_utils/utils.py
  scripts/azureml-assets/azureml/assets/util/__init__.py
  scripts/azureml-assets/azureml/assets/util/util.py
  scripts/azureml-assets/setup.py
Owners: @azure/aml-assets

Remove bert-base-uncased model
  latest/model/bert-base-uncased/asset.yaml
  latest/model/bert-base-uncased/model.yaml
  latest/model/bert-base-uncased/spec.yaml
Owners: @azure/aml-assets

Remove bert-base-uncased model (#286)
  latest/model/bert-base-uncased/asset.yaml
  latest/model/bert-base-uncased/model.yaml
  latest/model/bert-base-uncased/spec.yaml
Owners: @azure/aml-assets

Add option to install mlflow dependency and release RAI 0.4.0 components
  responsibleai/tabular/components/causal/spec.yaml
  responsibleai/tabular/components/counterfactual/spec.yaml
  responsibleai/tabular/components/error_analysis/spec.yaml
  responsibleai/tabular/components/explanation/spec.yaml
  responsibleai/tabular/components/insight_create/spec.yaml
  responsibleai/tabular/components/insight_gather/spec.yaml
  responsibleai/tabular/components/score_card/spec.yaml
  responsibleai/tabular/components/src/constants.py
  responsibleai/tabular/components/src/create_rai_insights.py
  responsibleai/tabular/components/src/rai_component_utilities.py
Owners: @azure/aml-rai

Add option to install mlflow dependency and release RAI 0.4.0 components (#287)
  responsibleai/tabular/components/causal/spec.yaml
  responsibleai/tabular/components/counterfactual/spec.yaml
  responsibleai/tabular/components/error_analysis/spec.yaml
  responsibleai/tabular/components/explanation/spec.yaml
  responsibleai/tabular/components/insight_create/spec.yaml
  responsibleai/tabular/components/insight_gather/spec.yaml
  responsibleai/tabular/components/score_card/spec.yaml
  responsibleai/tabular/components/src/constants.py
  responsibleai/tabular/components/src/create_rai_insights.py
  responsibleai/tabular/components/src/rai_component_utilities.py
Owners: @azure/aml-rai

Add option to install mlflow dependency and release RAI 0.4.0 components (#287)
  responsibleai/tabular/components/causal/spec.yaml
  responsibleai/tabular/components/counterfactual/spec.yaml
  responsibleai/tabular/components/error_analysis/spec.yaml
  responsibleai/tabular/components/explanation/spec.yaml
  responsibleai/tabular/components/insight_create/spec.yaml
  responsibleai/tabular/components/insight_gather/spec.yaml
  responsibleai/tabular/components/score_card/spec.yaml
  responsibleai/tabular/components/src/constants.py
  responsibleai/tabular/components/src/create_rai_insights.py
  responsibleai/tabular/components/src/rai_component_utilities.py
Owners: @azure/aml-rai

renaming of the directory
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/asset.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/Dockerfile
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/conda_dependencies.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/environment.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/spec.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/tests/minimal_inference_test.py
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/tests/requirements.txt
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/tests/src/main.py
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/tests/src/valid_score.py
Owners: @azure/aml-assets

Update environment.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/environment.yaml
Owners: @azure/aml-assets

Update Dockerfile
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/Dockerfile
Owners: @azure/aml-assets

Removed azcopy login and some minor fixes
  scripts/azureml-assets/azureml/assets/config.py
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/model_publish_utils/utils.py
Owners: @azure/aml-assets

send Path object
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

Update Dockerfile
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/Dockerfile
Owners: @azure/aml-assets

fix model mlflow path
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

Removed azcopy login and some minor fixes (#289)
  scripts/azureml-assets/azureml/assets/config.py
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/model_publish_utils/utils.py
Owners: @azure/aml-assets

Removed azcopy login and some minor fixes (#289)
  scripts/azureml-assets/azureml/assets/config.py
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/model_publish_utils/utils.py
Owners: @azure/aml-assets

Update release branch
  scripts/azureml-assets/azureml/assets/config.py
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/model_publish_utils/utils.py
Owners: @azure/aml-assets

Don't ignore scripts directory in assets-release workflow
  .github/workflows/assets-release.yaml
Owners: @azure/aml-assets

Don't ignore scripts directory in assets-release workflow (#291)
  .github/workflows/assets-release.yaml
Owners: @azure/aml-assets

Don't ignore scripts directory in assets-release workflow (#291)
  .github/workflows/assets-release.yaml
Owners: @azure/aml-assets

Model Monitoring initial commit
  model_monitoring/components/evaluate_threshold/asset.yaml
  model_monitoring/components/evaluate_threshold/spec.yaml
  model_monitoring/components/metric_processing/asset.yaml
  model_monitoring/components/metric_processing/spec.yaml
  model_monitoring/components/output_metrics/asset.yaml
  model_monitoring/components/output_metrics/spec.yaml
  model_monitoring/components/src/evaluate_threshold/__init__.py
  model_monitoring/components/src/evaluate_threshold/run.py
  model_monitoring/components/src/metric_processing/__init__.py
  model_monitoring/components/src/metric_processing/run.py
  model_monitoring/components/src/output_metrics/__init__.py
  model_monitoring/components/src/output_metrics/run.py
Owners: @azure/aml-assets

Update Dockerfile
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/Dockerfile
Owners: @azure/aml-assets

Changing the port number
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/tests/src/main.py
Owners: @azure/aml-assets

Update release branch
  latest/environment/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/context/conda_dependencies.yaml
  latest/environment/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/spec.yaml
  latest/environment/sklearn-1.1-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  latest/environment/sklearn-1.1-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/tensorflow-2.8-ubuntu20.04-py38-cuda11-gpu/context/conda_dependencies.yaml
  latest/environment/tensorflow-2.8-ubuntu20.04-py38-cuda11-gpu/spec.yaml
  latest/environment/tensorflow-2.9-ubuntu20.04-py38-cuda11-gpu/context/conda_dependencies.yaml
  latest/environment/tensorflow-2.9-ubuntu20.04-py38-cuda11-gpu/spec.yaml
Owners: @azure/aml-assets

edited comments
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

Add port
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/tests/src/main.py
Owners: @azure/aml-assets

Update group_test.py
  scripts/azureml-assets/azureml/assets/release/group_test.py
Owners: @azure/aml-assets

Delete latest/model/bert-base-uncased directory
  latest/model/bert-base-uncased/asset.yaml
  latest/model/bert-base-uncased/model.yaml
  latest/model/bert-base-uncased/spec.yaml
Owners: @azure/aml-assets

Update port
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/tests/src/main.py
Owners: @azure/aml-assets

add deepspeed examples
  training/deepspeed/deepspeed-autotuning/README.md
  training/deepspeed/deepspeed-autotuning/data/cifar-10-batches-py/batches.meta
  training/deepspeed/deepspeed-autotuning/data/cifar-10-batches-py/readme.html
  training/deepspeed/deepspeed-autotuning/deepspeed-autotune-aml.yaml
  training/deepspeed/deepspeed-autotuning/ds_config.json
  training/deepspeed/deepspeed-autotuning/model.py
  training/deepspeed/deepspeed-autotuning/train.py
  training/deepspeed/deepspeed-training/README.md
  training/deepspeed/deepspeed-training/data/cifar-10-batches-py/batches.meta
  training/deepspeed/deepspeed-training/data/cifar-10-batches-py/readme.html
  training/deepspeed/deepspeed-training/deepspeed-training-aml.yaml
  training/deepspeed/deepspeed-training/ds_config.json
  training/deepspeed/deepspeed-training/model.py
  training/deepspeed/deepspeed-training/train.py
Owners: @azure/aml-training

set is_deterministic flag to False for automl components
  training/automl/components/automl_image_classification/spec.yaml
  training/automl/components/automl_image_classification_multilabel/spec.yaml
  training/automl/components/automl_image_instance_segmentation/spec.yaml
  training/automl/components/automl_image_object_detection/spec.yaml
  training/automl/components/automl_tabular_classification/spec.yaml
  training/automl/components/automl_tabular_forecasting/spec.yaml
  training/automl/components/automl_tabular_regression/spec.yaml
  training/automl/components/automl_text_classification/spec.yaml
  training/automl/components/automl_text_classification_multilable/spec.yaml
  training/automl/components/automl_text_ner/spec.yaml
Owners: @azure/aml-training

Add validations
  training/automl/tests/__init__.py
  training/automl/tests/conftest.py
  training/automl/tests/test_automl_classification_component.py
  training/automl/tests/test_configs/assets/classification_bankmarketing/test-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/classification_bankmarketing/test-mltable-folder/bank_marketing_test_data.csv
  training/automl/tests/test_configs/assets/classification_bankmarketing/training-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/classification_bankmarketing/training-mltable-folder/bank_marketing_train_data.csv
  training/automl/tests/test_configs/assets/classification_bankmarketing/validation-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/classification_bankmarketing/validation-mltable-folder/bank_marketing_validation_data.csv
  training/automl/tests/test_configs/payload/canary/classification_ui_payload.json
  training/automl/tests/test_configs/payload/create_pipeline_draft_payload.json
  training/automl/tests/test_utilities.py
  training/tests.yml
Owners: @azure/aml-training

Update asset_publish.py
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

update
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

updated
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/e2e_test.py
  scripts/azureml-assets/azureml/assets/release/group_test.py
  scripts/azureml-assets/azureml/assets/release/test_file_convert.py
Owners: @azure/aml-assets

updating port number
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/tests/src/main.py
Owners: @azure/aml-assets

.github/CODEOWNERS:

*     @azure/aml-assets
/benchmark/ @azure/aims
/responsibleai/ @azure/aml-rai
/training/ @azure/aml-training 
/sample/ @Azure/aml-assets
