Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets

.github/CODEOWNERS:

*     @azure/aml-assets
/benchmark/ @azure/aims
/responsibleai/ @azure/aml-rai
/training/ @azure/aml-training 
/sample/ @Azure/aml-assets

Update conda_dependencies.yaml (#343)
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

remove redundant line from paste
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/context/Dockerfile
Owners: @azure/aml-assets

add version: auto for automated versioning
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/asset.yaml
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/asset.yaml
Owners: @azure/aml-assets

add newline for all files
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/asset.yaml
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/context/Dockerfile
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/environment.yaml
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/spec.yaml
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/asset.yaml
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/context/Dockerfile
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/environment.yaml
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/spec.yaml
Owners: @azure/aml-assets

use conda file and hard-code mldesigner version
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/context/Dockerfile
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/context/Dockerfile
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-assets

add conda file in template file
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/environment.yaml
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/environment.yaml
Owners: @azure/aml-assets

Update release branch
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  latest/environment/responsibleai-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/spec.yaml
Owners: @azure/aml-assets

Add package responsibleai_tabular_automl to conda dependencies for automl rai computations (#328)
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/tests/responsibleai_sample_test.py
Owners: @azure/aml-rai

Add package responsibleai_tabular_automl to conda dependencies for automl rai computations (#328)
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/tests/responsibleai_sample_test.py
Owners: @azure/aml-rai

Update release branch
  latest/environment/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-assets

increase timeout for old env
  training/general/src/environments/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/tests/pytorch1_11_sample_test.py
Owners: @azure/aml-training

add deprecation notice
  training/general/src/environments/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/spec.yaml
Owners: @azure/aml-training

fix syntax errors
  training/general/src/environments/sklearn-1.1-py38-cpu/tests/src/main.py
  training/general/src/environments/tensorflow-2.8-py38-cuda11-gpu/tests/src/main.py
  training/general/src/environments/tensorflow-2.9-py38-cuda11-gpu/tests/src/main.py
Owners: @azure/aml-training

increase sklearn test timeout
  training/general/src/environments/sklearn-1.1-py38-cpu/tests/sklearn_sample_test.py
Owners: @azure/aml-training

Update release branch
  latest/environment/minimal-ubuntu20.04-py38-cpu-inference/context/Dockerfile
  latest/environment/minimal-ubuntu20.04-py38-cpu-inference/spec.yaml
  latest/environment/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/Dockerfile
  latest/environment/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/spec.yaml
Owners: @azure/aml-assets

Update release branch
  latest/environment/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/context/Dockerfile
  latest/environment/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/spec.yaml
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/responsibleai-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/responsibleai-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/sklearn-1.1-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/sklearn-1.1-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/tensorflow-2.8-ubuntu20.04-py38-cuda11-gpu/context/Dockerfile
  latest/environment/tensorflow-2.8-ubuntu20.04-py38-cuda11-gpu/spec.yaml
  latest/environment/tensorflow-2.9-ubuntu20.04-py38-cuda11-gpu/context/Dockerfile
  latest/environment/tensorflow-2.9-ubuntu20.04-py38-cuda11-gpu/spec.yaml
Owners: @azure/aml-assets

Change release script to leverage azure-ai-ml 1.2.0
  scripts/release/requirements.txt
Owners: @azure/aml-assets

Change release script to leverage azure-ai-ml 1.2.0 (#349)
  scripts/release/requirements.txt
Owners: @azure/aml-assets

Change release script to leverage azure-ai-ml 1.2.0 (#349)
  scripts/release/requirements.txt
Owners: @azure/aml-assets

Update release branch
  scripts/release/requirements.txt
Owners: @azure/aml-assets

Update create_rai_insights.py
  responsibleai/tabular/components/src/create_rai_insights.py
Owners: @azure/aml-rai

Update gather_rai_insights.py
  responsibleai/tabular/components/src/gather_rai_insights.py
Owners: @azure/aml-rai

Update rai_component_utilities.py
  responsibleai/tabular/components/src/rai_component_utilities.py
Owners: @azure/aml-rai

Update _rai_insight_data.py
  responsibleai/tabular/components/src/_score_card/_rai_insight_data.py
Owners: @azure/aml-rai

Update create_rai_insights.py
  responsibleai/tabular/components/src/create_rai_insights.py
Owners: @azure/aml-rai

Update create_rai_insights.py
  responsibleai/tabular/components/src/create_rai_insights.py
Owners: @azure/aml-rai

Update rai_component_utilities.py
  responsibleai/tabular/components/src/rai_component_utilities.py
Owners: @azure/aml-rai

Enable feature_metadata in RAI components (#351)
  responsibleai/tabular/components/src/_score_card/_rai_insight_data.py
  responsibleai/tabular/components/src/create_rai_insights.py
  responsibleai/tabular/components/src/gather_rai_insights.py
  responsibleai/tabular/components/src/rai_component_utilities.py
Owners: @azure/aml-rai

Enable feature_metadata in RAI components (#351)
  responsibleai/tabular/components/src/_score_card/_rai_insight_data.py
  responsibleai/tabular/components/src/create_rai_insights.py
  responsibleai/tabular/components/src/gather_rai_insights.py
  responsibleai/tabular/components/src/rai_component_utilities.py
Owners: @azure/aml-rai

Update release branch
  latest/component/microsoft_azureml_rai_tabular_causal/src/_score_card/_rai_insight_data.py
  latest/component/microsoft_azureml_rai_tabular_causal/src/create_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_causal/src/gather_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_causal/src/rai_component_utilities.py
  latest/component/microsoft_azureml_rai_tabular_counterfactual/src/_score_card/_rai_insight_data.py
  latest/component/microsoft_azureml_rai_tabular_counterfactual/src/create_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_counterfactual/src/gather_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_counterfactual/src/rai_component_utilities.py
  latest/component/microsoft_azureml_rai_tabular_erroranalysis/src/_score_card/_rai_insight_data.py
  latest/component/microsoft_azureml_rai_tabular_erroranalysis/src/create_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_erroranalysis/src/gather_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_erroranalysis/src/rai_component_utilities.py
  latest/component/microsoft_azureml_rai_tabular_explanation/src/_score_card/_rai_insight_data.py
  latest/component/microsoft_azureml_rai_tabular_explanation/src/create_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_explanation/src/gather_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_explanation/src/rai_component_utilities.py
  latest/component/microsoft_azureml_rai_tabular_insight_constructor/src/_score_card/_rai_insight_data.py
  latest/component/microsoft_azureml_rai_tabular_insight_constructor/src/create_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_insight_constructor/src/gather_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_insight_constructor/src/rai_component_utilities.py
  latest/component/microsoft_azureml_rai_tabular_insight_gather/src/_score_card/_rai_insight_data.py
  latest/component/microsoft_azureml_rai_tabular_insight_gather/src/create_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_insight_gather/src/gather_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_insight_gather/src/rai_component_utilities.py
  latest/component/microsoft_azureml_rai_tabular_score_card/src/_score_card/_rai_insight_data.py
  latest/component/microsoft_azureml_rai_tabular_score_card/src/create_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_score_card/src/gather_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_score_card/src/rai_component_utilities.py
Owners: @azure/aml-assets

Update rai_component_utilities.py
  responsibleai/tabular/components/src/rai_component_utilities.py
Owners: @azure/aml-rai

Update create_rai_insights.py
  responsibleai/tabular/components/src/create_rai_insights.py
Owners: @azure/aml-rai

Update _loggerfactory.py
  responsibleai/tabular/components/src/_telemetry/_loggerfactory.py
Owners: @azure/aml-rai

Update _rai_insight_data.py
  responsibleai/tabular/components/src/_score_card/_rai_insight_data.py
Owners: @azure/aml-rai

Update classification_components.py
  responsibleai/tabular/components/src/_score_card/classification_components.py
Owners: @azure/aml-rai

Update common_components.py
  responsibleai/tabular/components/src/_score_card/common_components.py
Owners: @azure/aml-rai

Update rai_component_utilities.py
  responsibleai/tabular/components/src/rai_component_utilities.py
Owners: @azure/aml-rai

Update create_rai_insights.py
  responsibleai/tabular/components/src/create_rai_insights.py
Owners: @azure/aml-rai

Update rai_component_utilities.py
  responsibleai/tabular/components/src/rai_component_utilities.py
Owners: @azure/aml-rai

Update classification_components.py
  responsibleai/tabular/components/src/_score_card/classification_components.py
Owners: @azure/aml-rai
