Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets, @Azure/azureml-data, @azure/azureml-inference-idc, @Azure/aml-model-monitoring

.github/CODEOWNERS:

*     @azure/aml-assets
/benchmark/ @azure/aims
/responsibleai/ @azure/aml-rai
/training/ @azure/aml-training 
/sample/ @Azure/aml-assets
/data/ @Azure/azureml-data
/models/ @azure/aml-training @azure/azureml-inference-idc
/common/components/register_model/ @azure/aml-training
/common/components/deploy_model/ @azure/aml-training
/common/src/model_deployment/ @azure/aml-training
/common/src/model_registration/ @azure/aml-training
/model_monitoring/ @Azure/aml-model-monitoring

Fix mlflow local validation
  common/components/mlflow_model_local_validation/asset.yaml
  common/components/mlflow_model_local_validation/spec.yaml
  common/src/mlflow_model_local_validation/run_model_sanity_validations.py
Owners: @azure/aml-assets

Install applicationinsights
  common/components/mlflow_model_local_validation/spec.yaml
Owners: @azure/aml-assets

fix
  common/components/mlflow_model_local_validation/spec.yaml
Owners: @azure/aml-assets

remove redundant pip dependencies
  pipelines/environments/mldesigner-minimal/context/conda_dependencies.yaml
  pipelines/environments/mldesigner/context/conda_dependencies.yaml
Owners: @azure/aml-assets

update cryptography version to 41.0.0 (#783)
  pipelines/environments/mldesigner-minimal/context/conda_dependencies.yaml
  pipelines/environments/mldesigner/context/conda_dependencies.yaml
Owners: @azure/aml-assets

changes to support pad to max length
  training/finetune_acft_hf_nlp/components/pipeline_components/question_answering/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/summarization/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/text_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/token_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/pipeline_components/translation/spec.yaml
  training/finetune_acft_hf_nlp/components/preprocess/question_answering/spec.yaml
  training/finetune_acft_hf_nlp/components/preprocess/summarization/spec.yaml
  training/finetune_acft_hf_nlp/components/preprocess/text_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/preprocess/token_classification/spec.yaml
  training/finetune_acft_hf_nlp/components/preprocess/translation/spec.yaml
Owners: @azure/aml-training

bug fixes
  training/model_management/components/download_model/spec.yaml
  training/model_management/src/azureml/model/mgmt/downloader/download_utils.py
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
Owners: @azure/aml-training

updated flush position
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
Owners: @azure/aml-training

update tc event logs and conda env used for whisper model
  common/components/mlflow_model_local_validation/spec.yaml
  common/src/mlflow_model_local_validation/run_model_sanity_validations.py
  training/model_management/src/azureml/model/mgmt/processors/transformers/whisper/conda.yaml
Owners: @azure/aml-assets, @azure/aml-training

update mlflow local vaidation component version in import_model pipeline component
  training/model_management/components/import_model/spec.yaml
Owners: @azure/aml-training

Fixed the check model id issue
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
  training/model_management/src/run_model_download.py
  training/model_management/src/run_model_preprocess.py
Owners: @azure/aml-training

Fixed lint issues
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
  training/model_management/src/run_model_preprocess.py
Owners: @azure/aml-training

minor changes
  common/src/mlflow_model_local_validation/run_model_sanity_validations.py
Owners: @azure/aml-assets

minor changes
  training/model_management/src/azureml/model/mgmt/processors/transformers/whisper/conda.yaml
Owners: @azure/aml-training

bug fixes (#787)
  training/model_management/components/download_model/spec.yaml
  training/model_management/src/azureml/model/mgmt/downloader/download_utils.py
  training/model_management/src/azureml/model/mgmt/utils/common_utils.py
  training/model_management/src/run_model_download.py
  training/model_management/src/run_model_preprocess.py
Owners: @azure/aml-training

Flush logs for register component
  common/src/model_registration/register.py
Owners: @azure/aml-training

Vision HF Classification model release to prod
  models/system/facebook-deit-base-patch16-224/asset.yaml
  models/system/facebook-deit-base-patch16-224/description.md
  models/system/facebook-deit-base-patch16-224/spec.yaml
  models/system/google-vit-base-patch16-224/asset.yaml
  models/system/google-vit-base-patch16-224/description.md
  models/system/google-vit-base-patch16-224/spec.yaml
  models/system/microsoft-beit-base-patch16-224-pt22k-ft22k/asset.yaml
  models/system/microsoft-beit-base-patch16-224-pt22k-ft22k/description.md
  models/system/microsoft-beit-base-patch16-224-pt22k-ft22k/spec.yaml
  models/system/microsoft-swinv2-base-patch4-window12-192-22k/asset.yaml
  models/system/microsoft-swinv2-base-patch4-window12-192-22k/description.md
  models/system/microsoft-swinv2-base-patch4-window12-192-22k/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Vision HF Classification model release to prod
  models/system/facebook-deit-base-patch16-224/asset.yaml
  models/system/facebook-deit-base-patch16-224/description.md
  models/system/facebook-deit-base-patch16-224/model.yaml
  models/system/facebook-deit-base-patch16-224/spec.yaml
  models/system/google-vit-base-patch16-224/asset.yaml
  models/system/google-vit-base-patch16-224/description.md
  models/system/google-vit-base-patch16-224/model.yaml
  models/system/google-vit-base-patch16-224/spec.yaml
  models/system/microsoft-beit-base-patch16-224-pt22k-ft22k/asset.yaml
  models/system/microsoft-beit-base-patch16-224-pt22k-ft22k/description.md
  models/system/microsoft-beit-base-patch16-224-pt22k-ft22k/model.yaml
  models/system/microsoft-beit-base-patch16-224-pt22k-ft22k/spec.yaml
  models/system/microsoft-swinv2-base-patch4-window12-192-22k/asset.yaml
  models/system/microsoft-swinv2-base-patch4-window12-192-22k/description.md
  models/system/microsoft-swinv2-base-patch4-window12-192-22k/model.yaml
  models/system/microsoft-swinv2-base-patch4-window12-192-22k/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Updated to allow long form transcription
  training/model_management/src/azureml/model/mgmt/processors/transformers/whisper/predict.py
Owners: @azure/aml-training

remove redundant pip dependencies (#786)
  pipelines/environments/mldesigner-minimal/context/conda_dependencies.yaml
  pipelines/environments/mldesigner/context/conda_dependencies.yaml
Owners: @azure/aml-assets

Fix mlflow local validation (#785)
  common/components/mlflow_model_local_validation/asset.yaml
  common/components/mlflow_model_local_validation/spec.yaml
  common/src/mlflow_model_local_validation/run_model_sanity_validations.py
  common/src/model_registration/register.py
  training/model_management/components/import_model/spec.yaml
  training/model_management/src/azureml/model/mgmt/processors/transformers/whisper/conda.yaml
Owners: @azure/aml-assets, @azure/aml-training

When copying, also count assets by type
  scripts/azureml-assets/azureml/assets/copy_assets.py
Owners: @azure/aml-assets

Add validation for --check-previous-release arg
  scripts/azureml-assets/azureml/assets/copy_assets.py
Owners: @azure/aml-assets

Prepare for PyPI release
  scripts/azureml-assets/CHANGELOG.md
  scripts/azureml-assets/setup.py
Owners: @azure/aml-assets

Count assets by type when copying (#789)
  scripts/azureml-assets/CHANGELOG.md
  scripts/azureml-assets/azureml/assets/copy_assets.py
  scripts/azureml-assets/setup.py
Owners: @azure/aml-assets

Update MLtable version
  training/model_evaluation/environment/context/conda.yaml
Owners: @azure/aml-training

Update MLtable version (#790)
  training/model_evaluation/environment/context/conda.yaml
Owners: @azure/aml-training

Handle envs in parallel components, hide expected errors
  scripts/release/asset_publish.py
Owners: @azure/aml-assets

Handle envs in parallel components, hide expected errors (#791)
  scripts/release/asset_publish.py
Owners: @azure/aml-assets
