Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets

fixing fail list
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

add tabular validations
  training/automl/tests/conftest.py
  training/automl/tests/test_automl_tabular_classification.py
  training/automl/tests/test_automl_tabular_forecasting.py
  training/automl/tests/test_automl_tabular_regression.py
  training/automl/tests/test_configs/assets/forecasting-energy-demand/test-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/forecasting-energy-demand/test-mltable-folder/nyc_energy_test_clean.csv
  training/automl/tests/test_configs/assets/forecasting-energy-demand/training-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/forecasting-energy-demand/training-mltable-folder/nyc_energy_training_clean.csv
  training/automl/tests/test_configs/assets/forecasting-energy-demand/validation-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/forecasting-energy-demand/validation-mltable-folder/nyc_energy_validation_clean.csv
  training/automl/tests/test_configs/assets/regression_hardware_performance/training-mltable-folder/training-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/regression_hardware_performance/training-mltable-folder/training-mltable-folder/training-machine-dataset.csv
  training/automl/tests/test_configs/payload/classification_ui_payload.json
  training/automl/tests/test_configs/payload/forecasting_ui_payload.json
  training/automl/tests/test_configs/payload/regression_ui_payload.json
Owners: @azure/aml-training

fix
  training/automl/tests/__init__.py
  training/automl/tests/test_automl_tabular_classification.py
  training/automl/tests/test_automl_tabular_forecasting.py
  training/automl/tests/test_automl_tabular_regression.py
  training/automl/tests/test_configs/assets/regression_hardware_performance/training-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/regression_hardware_performance/training-mltable-folder/training-machine-dataset.csv
  training/tests.yml
Owners: @azure/aml-training

fixing dict
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

debugging
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

update
  tests/responsibleai/tabular/jobs/boston_analyze_scorecard_config/cohorts.json
  tests/responsibleai/tabular/jobs/boston_analyze_scorecard_config/pdf_gen.json
  tests/responsibleai/tabular/jobs/pipeline_boston_analyze.yml
  tests/responsibleai/tabular/jobs/prepare.py
  tests/responsibleai/tabular/jobs/resources/boston_test/MLTable
  tests/responsibleai/tabular/jobs/resources/boston_train/MLTable
  tests/responsibleai/tabular/jobs/src_boston/train.py
  tests/responsibleai/tabular/jobs/train_boston.yml
  tests/responsibleai/text/jobs/fetch_dbpedia_model.yml
  tests/responsibleai/text/jobs/pipeline_dbpedia_analyze.yml
  tests/responsibleai/text/jobs/prepare.py
  tests/responsibleai/text/jobs/resources/dbpedia_test/MLTable
  tests/responsibleai/text/jobs/resources/dbpedia_train/MLTable
  tests/responsibleai/text/jobs/src_dbpedia/fetch_text_model.py
  tests/responsibleai/vision/jobs/fetch_fridge_model.yml
  tests/responsibleai/vision/jobs/pipeline_fridge_analyze.yml
  tests/responsibleai/vision/jobs/prepare.py
  tests/responsibleai/vision/jobs/resources/fridge_test/MLTable
  tests/responsibleai/vision/jobs/resources/fridge_train/MLTable
  tests/responsibleai/vision/jobs/src_fridge/fetch_image_model.py
  tests/training/vision/jobs/object-detection-using-built-in-component/README.md
  tests/training/vision/jobs/object-detection-using-built-in-component/data/training-mltable-folder/MLTable
  tests/training/vision/jobs/object-detection-using-built-in-component/data/training-mltable-folder/train_annotations.jsonl
  tests/training/vision/jobs/object-detection-using-built-in-component/data/validation-mltable-folder/MLTable
  tests/training/vision/jobs/object-detection-using-built-in-component/data/validation-mltable-folder/validation_annotations.jsonl
  tests/training/vision/jobs/object-detection-using-built-in-component/pipeline.yml
  tests/training/vision/jobs/object-detection-using-built-in-component/predict.yml
  tests/training/vision/jobs/object-detection-using-built-in-component/prepare_data.py
  tests/training/vision/jobs/object-detection-using-built-in-component/resources/training-mltable-folder/MLTable
  tests/training/vision/jobs/object-detection-using-built-in-component/resources/training-mltable-folder/train_annotations.jsonl
  tests/training/vision/jobs/object-detection-using-built-in-component/resources/validation-mltable-folder/MLTable
  tests/training/vision/jobs/object-detection-using-built-in-component/resources/validation-mltable-folder/validation_annotations.jsonl
  tests/training/vision/jobs/object-detection-using-built-in-component/src/predict.py
Owners: @azure/aml-assets

update
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

update
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

update
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

update
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

fix tests
  training/automl/tests/test_automl_tabular_classification.py
  training/automl/tests/test_automl_tabular_components.py
  training/automl/tests/test_automl_tabular_forecasting.py
  training/automl/tests/test_automl_tabular_regression.py
  training/automl/tests/test_configs/payload/forecasting_ui_payload.json
  training/automl/tests/test_utilities.py
  training/tests.yml
Owners: @azure/aml-training

add pytest dist
  scripts/azureml-assets/azureml/assets/release/group_test.py
  scripts/test-requirements.txt
Owners: @azure/aml-assets

add location of optimal config file
  training/deepspeed/deepspeed-autotuning/README.md
Owners: @azure/aml-training

updating the version
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/tests/requirements.txt
Owners: @azure/aml-assets

Add scripts with working ssh
  training/deepspeed/deepspeed-autotuning/README.md
  training/deepspeed/deepspeed-autotuning/create-job.sh
  training/deepspeed/deepspeed-autotuning/start-deepspeed.sh
  training/deepspeed/deepspeed-training/README.md
  training/deepspeed/deepspeed-training/create-job.sh
  training/deepspeed/deepspeed-training/start-deepspeed.sh
Owners: @azure/aml-training

move data into higher folder
  training/deepspeed/data/cifar-10-batches-py/batches.meta
  training/deepspeed/data/cifar-10-batches-py/readme.html
  training/deepspeed/deepspeed-autotuning/train.py
  training/deepspeed/deepspeed-training/data/cifar-10-batches-py/batches.meta
  training/deepspeed/deepspeed-training/data/cifar-10-batches-py/readme.html
  training/deepspeed/deepspeed-training/train.py
Owners: @azure/aml-training

update tested changes
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

applied autopep8
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

use workspace guid
  training/automl/tests/__init__.py
  training/automl/tests/conftest.py
  training/automl/tests/test_automl_tabular_components.py
Owners: @azure/aml-training

flake
  training/automl/tests/test_utilities.py
Owners: @azure/aml-training

add command to skip prompt
  training/deepspeed/deepspeed-autotuning/README.md
  training/deepspeed/deepspeed-autotuning/create-job.sh
  training/deepspeed/deepspeed-training/README.md
  training/deepspeed/deepspeed-training/create-job.sh
Owners: @azure/aml-training

add copyright header
  training/deepspeed/deepspeed-autotuning/model.py
  training/deepspeed/deepspeed-autotuning/train.py
Owners: @azure/aml-training

add more copyright headers
  training/deepspeed/deepspeed-training/model.py
  training/deepspeed/deepspeed-training/train.py
Owners: @azure/aml-training

fix flake errors
  training/deepspeed/deepspeed-autotuning/model.py
  training/deepspeed/deepspeed-autotuning/train.py
  training/deepspeed/deepspeed-training/model.py
  training/deepspeed/deepspeed-training/train.py
Owners: @azure/aml-training

remove unused import
  training/deepspeed/deepspeed-autotuning/train.py
  training/deepspeed/deepspeed-training/train.py
Owners: @azure/aml-training

add function headers
  training/deepspeed/deepspeed-autotuning/model.py
  training/deepspeed/deepspeed-autotuning/train.py
  training/deepspeed/deepspeed-training/model.py
  training/deepspeed/deepspeed-training/train.py
Owners: @azure/aml-training

move copyright
  training/deepspeed/deepspeed-autotuning/model.py
  training/deepspeed/deepspeed-training/model.py
Owners: @azure/aml-training

change quotes
  training/deepspeed/deepspeed-autotuning/model.py
  training/deepspeed/deepspeed-autotuning/train.py
  training/deepspeed/deepspeed-training/model.py
  training/deepspeed/deepspeed-training/train.py
Owners: @azure/aml-training

Add periods
  training/deepspeed/deepspeed-autotuning/model.py
  training/deepspeed/deepspeed-autotuning/train.py
  training/deepspeed/deepspeed-training/model.py
  training/deepspeed/deepspeed-training/train.py
Owners: @azure/aml-training

fix flake
  training/deepspeed/deepspeed-autotuning/model.py
  training/deepspeed/deepspeed-autotuning/train.py
  training/deepspeed/deepspeed-training/model.py
  training/deepspeed/deepspeed-training/train.py
Owners: @azure/aml-training

add deepspeed examples (#293)
  training/deepspeed/data/cifar-10-batches-py/batches.meta
  training/deepspeed/data/cifar-10-batches-py/readme.html
  training/deepspeed/deepspeed-autotuning/README.md
  training/deepspeed/deepspeed-autotuning/create-job.sh
  training/deepspeed/deepspeed-autotuning/ds_config.json
  training/deepspeed/deepspeed-autotuning/model.py
  training/deepspeed/deepspeed-autotuning/start-deepspeed.sh
  training/deepspeed/deepspeed-autotuning/train.py
  training/deepspeed/deepspeed-training/README.md
  training/deepspeed/deepspeed-training/create-job.sh
  training/deepspeed/deepspeed-training/ds_config.json
  training/deepspeed/deepspeed-training/model.py
  training/deepspeed/deepspeed-training/start-deepspeed.sh
  training/deepspeed/deepspeed-training/train.py
Owners: @azure/aml-training

Update gather_rai_insights.py
  responsibleai/tabular/components/src/gather_rai_insights.py
Owners: @azure/aml-rai

Update gather_rai_insights.py (#297)
  responsibleai/tabular/components/src/gather_rai_insights.py
Owners: @azure/aml-rai

Update gather_rai_insights.py (#297)
  responsibleai/tabular/components/src/gather_rai_insights.py
Owners: @azure/aml-rai

Update release branch
  latest/component/microsoft_azureml_rai_tabular_causal/src/gather_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_counterfactual/src/gather_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_erroranalysis/src/gather_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_explanation/src/gather_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_insight_constructor/src/gather_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_insight_gather/src/gather_rai_insights.py
  latest/component/microsoft_azureml_rai_tabular_score_card/src/gather_rai_insights.py
Owners: @azure/aml-assets

remove pytest quite mode
  scripts/azureml-assets/azureml/assets/release/group_test.py
Owners: @azure/aml-assets

Creating non root user
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/Dockerfile
Owners: @azure/aml-assets

Update scripts/azureml-assets/azureml/assets/release/asset_publish.py
  scripts/azureml-assets/azureml/assets/release/asset_publish.py
Owners: @azure/aml-assets

adding nonroot user
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/Dockerfile
Owners: @azure/aml-assets

Update Dockerfile
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/Dockerfile
Owners: @azure/aml-assets

.github/CODEOWNERS:

*     @azure/aml-assets
/benchmark/ @azure/aims
/responsibleai/ @azure/aml-rai
/training/ @azure/aml-training 
/sample/ @Azure/aml-assets
