Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets, @Azure/azureml-data, @azure/azureml-inference-idc, @Azure/aml-model-monitoring

Enable exp flag for mlflow conversion
  assets/training/model_management/components/convert_model_to_mlflow/spec.yaml
  assets/training/model_management/components/import_model/spec.yaml
  assets/training/model_management/src/azureml/model/mgmt/utils/logging_utils.py
  assets/training/model_management/src/run_model_preprocess.py
Owners: @azure/aml-training

mlflow -> MLflow
  assets/training/model_management/components/convert_model_to_mlflow/spec.yaml
  assets/training/model_management/components/import_model/spec.yaml
  assets/training/model_management/src/azureml/model/mgmt/processors/pyfunc/convert.py
  assets/training/model_management/src/azureml/model/mgmt/processors/pyfunc/vision/detection_predict.py
  assets/training/model_management/src/azureml/model/mgmt/processors/transformers/config.py
  assets/training/model_management/src/azureml/model/mgmt/processors/transformers/convertors.py
  assets/training/model_management/src/run_model_preprocess.py
Owners: @azure/aml-training

Whisper spec.yaml updated version to 7
  assets/models/system/openai-whisper-large/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

fix flake
  assets/training/model_management/src/run_model_preprocess.py
Owners: @azure/aml-training

fix doc string
  assets/training/model_management/src/azureml/model/mgmt/processors/pyfunc/vision/detection_predict.py
Owners: @azure/aml-training

fix doc string
  assets/training/model_management/src/azureml/model/mgmt/processors/pyfunc/vision/detection_predict.py
Owners: @azure/aml-training

wrapper is not imperative enough :(
  assets/training/model_management/src/azureml/model/mgmt/processors/pyfunc/vision/detection_predict.py
Owners: @azure/aml-training

update
  assets/model_monitoring/components/data_drift/data_drift_signal_monitor/spec.yaml
  assets/model_monitoring/components/data_quality/data_quality_signal_monitor/spec.yaml
  assets/model_monitoring/components/feature_attribution_drift/feature_attribution_drift_signal_monitor/spec.yaml
  assets/model_monitoring/components/model_monitor/model_monitor_output_metrics/spec.yaml
  assets/model_monitoring/components/src/shared_utilities/run_metrics_utils.py
  assets/model_monitoring/components/tests/e2e/test_data_drift_signal_monitor_e2e.py
Owners: @Azure/aml-model-monitoring

Update prediction drift
  assets/model_monitoring/components/prediction_drift/prediction_drift_signal_monitor/spec.yaml
Owners: @Azure/aml-model-monitoring

update
  assets/model_monitoring/components/tests/e2e/conftest.py
  assets/model_monitoring/components/tests/e2e/test_data_drift_signal_monitor_e2e.py
Owners: @Azure/aml-model-monitoring

update
  assets/model_monitoring/components/src/shared_utilities/run_metrics_utils.py
Owners: @Azure/aml-model-monitoring

update
  assets/model_monitoring/components/src/shared_utilities/run_metrics_utils.py
Owners: @Azure/aml-model-monitoring

minor logging changes
  assets/training/model_management/src/azureml/model/mgmt/utils/logging_utils.py
  assets/training/model_management/src/run_model_preprocess.py
Owners: @azure/aml-training

fix doc
  assets/training/model_management/src/azureml/model/mgmt/utils/logging_utils.py
Owners: @azure/aml-training

Whisper model.yaml updated for lft release
  assets/models/system/openai-whisper-large/model.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

.github/CODEOWNERS:

*     @azure/aml-assets
/assets/benchmark/ @azure/aims
/assets/responsibleai/ @azure/aml-rai
/assets/training/ @azure/aml-training
/assets/sample/ @Azure/aml-assets
/assets/data/ @Azure/azureml-data
/assets/models/ @azure/aml-training @azure/azureml-inference-idc
/assets/common/components/register_model/ @azure/aml-training
/assets/common/components/deploy_model/ @azure/aml-training
/assets/common/src/model_deployment/ @azure/aml-training
/assets/common/src/model_registration/ @azure/aml-training
/assets/model_monitoring/ @Azure/aml-model-monitoring
/assets/large_language_models/ @azure/aml-training
