Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets

Update conda_dependencies.yaml (#381)
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Update conda_dependencies.yaml (#381)
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Update release branch
  latest/environment/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-assets

update to latest RAI vision and text components and environments
  responsibleai/text/components/rai_text_insights/spec.yaml
  responsibleai/text/components/src/constants.py
  responsibleai/text/components/src/rai_text_insights.py
  responsibleai/vision/components/rai_vision_insights/spec.yaml
  responsibleai/vision/components/src/aml_dataset_helper.py
  responsibleai/vision/components/src/constants.py
  responsibleai/vision/components/src/rai_vision_insights.py
Owners: @azure/aml-rai

Update release branch
  latest/environment/mldesigner-minimal/context/conda_dependencies.yaml
  latest/environment/mldesigner-minimal/spec.yaml
  latest/environment/mldesigner/context/conda_dependencies.yaml
Owners: @azure/aml-assets

update vision components
  training/vision/components/image_classification/spec.yaml
  training/vision/components/instance_segmentation/spec.yaml
  training/vision/components/object_detection/spec.yaml
Owners: @azure/aml-training

update to latest RAI vision and text components and environments
  responsibleai/text/components/rai_text_insights/spec.yaml
  responsibleai/text/components/src/constants.py
  responsibleai/text/components/src/rai_text_insights.py
  responsibleai/vision/components/rai_vision_insights/spec.yaml
  responsibleai/vision/components/src/aml_dataset_helper.py
  responsibleai/vision/components/src/constants.py
  responsibleai/vision/components/src/rai_vision_insights.py
Owners: @azure/aml-rai

update to latest RAI vision and text components and environments (#389)
  responsibleai/text/components/rai_text_insights/spec.yaml
  responsibleai/text/components/src/constants.py
  responsibleai/text/components/src/rai_text_insights.py
  responsibleai/vision/components/rai_vision_insights/spec.yaml
  responsibleai/vision/components/src/aml_dataset_helper.py
  responsibleai/vision/components/src/constants.py
  responsibleai/vision/components/src/rai_vision_insights.py
Owners: @azure/aml-rai

Update release branch
  latest/component/rai_text_insights/rai_text_insights/spec.yaml
  latest/component/rai_text_insights/src/constants.py
  latest/component/rai_text_insights/src/rai_text_insights.py
  latest/component/rai_vision_insights/rai_vision_insights/spec.yaml
  latest/component/rai_vision_insights/src/aml_dataset_helper.py
  latest/component/rai_vision_insights/src/constants.py
  latest/component/rai_vision_insights/src/rai_vision_insights.py
Owners: @azure/aml-assets

Update component env
  scripts/release/asset_publish.py
Owners: @azure/aml-assets

Allow specifying short env assetID in the component
  scripts/release/asset_publish.py
Owners: @azure/aml-assets

Continue if exception in model prepare
  scripts/release/asset_publish.py
Owners: @azure/aml-assets

Address comments
  scripts/release/asset_publish.py
Owners: @azure/aml-assets

Address comments
  scripts/release/asset_publish.py
Owners: @azure/aml-assets

adding PR again
  training/general/src/environments/sklearn-1.1/context/README.md
  training/general/src/environments/sklearn-1.1/context/intel-extension/Dockerfile
  training/general/src/environments/sklearn-1.1/context/intel-extension/conda_dependencies.yaml
  training/general/src/environments/sklearn-1.1/tests/src/main.py
Owners: @azure/aml-training

Update release branch
  latest/environment/mldesigner/context/conda_dependencies.yaml
  latest/environment/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/context/conda_dependencies.yaml
  latest/environment/pytorch-1.12-py39-cuda11.6/context/requirements.txt
  latest/environment/sklearn-1.0/context/conda_dependencies.yaml
  latest/environment/sklearn-1.1/context/conda_dependencies.yaml
  latest/environment/tensorflow-2.8-cuda11/context/conda_dependencies.yaml
  latest/environment/tensorflow-2.9-cuda11/context/conda_dependencies.yaml
Owners: @azure/aml-assets

Address comments
  scripts/release/asset_publish.py
Owners: @azure/aml-assets

Address comments
  scripts/release/asset_publish.py
Owners: @azure/aml-assets

Reset mldesigner-minimal version
  latest/environment/mldesigner-minimal/spec.yaml
Owners: @azure/aml-assets

Create readme
  data/readme
Owners: @azure/aml-assets

.github/CODEOWNERS:

*     @azure/aml-assets
/benchmark/ @azure/aims
/responsibleai/ @azure/aml-rai
/training/ @azure/aml-training 
/sample/ @Azure/aml-assets
