Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets

Enable filtering via regex (#372)
  scripts/azureml-assets/azureml/assets/__init__.py
  scripts/azureml-assets/azureml/assets/config.py
  scripts/azureml-assets/azureml/assets/copy_unreleased_assets.py
  scripts/azureml-assets/azureml/assets/extract_tagged_assets.py
  scripts/azureml-assets/azureml/assets/tag_released_assets.py
  scripts/azureml-assets/azureml/assets/update_assets.py
  scripts/azureml-assets/azureml/assets/util/__init__.py
  scripts/azureml-assets/azureml/assets/util/util.py
  test/test_update_assets.py
Owners: @azure/aml-assets

Update release branch
  scripts/azureml-assets/azureml/assets/__init__.py
  scripts/azureml-assets/azureml/assets/config.py
  scripts/azureml-assets/azureml/assets/copy_unreleased_assets.py
  scripts/azureml-assets/azureml/assets/extract_tagged_assets.py
  scripts/azureml-assets/azureml/assets/tag_released_assets.py
  scripts/azureml-assets/azureml/assets/update_assets.py
  scripts/azureml-assets/azureml/assets/util/__init__.py
  scripts/azureml-assets/azureml/assets/util/util.py
Owners: @azure/aml-assets

undo change to test files
  test/resources/config/env1-1.0.0/asset.yaml
  test/resources/config/env1-1.0.0/context/Dockerfile
  test/resources/config/env1-1.0.0/environment.yaml
  test/resources/config/env1-1.0.0/spec.yaml
  test/resources/config/env1-1.0.1/asset.yaml
  test/resources/config/env1-1.0.1/context/Dockerfile
  test/resources/config/env1-1.0.1/environment.yaml
  test/resources/config/env1-1.0.1/spec.yaml
  test/resources/config/env1-1/asset.yaml
  test/resources/config/env1-1/context/Dockerfile
  test/resources/config/env1-1/environment.yaml
  test/resources/config/env1-1/spec.yaml
  test/resources/config/env1-2/asset.yaml
  test/resources/config/env1-2/context/Dockerfile
  test/resources/config/env1-2/environment.yaml
  test/resources/config/env1-2/spec.yaml
  test/resources/config/env1-auto/asset.yaml
  test/resources/config/env1-auto/context/Dockerfile
  test/resources/config/env1-auto/environment.yaml
  test/resources/config/env1-auto/spec.yaml
  test/test_configs.py
  training/general/src/environments/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/context/conda_dependencies.yaml
  training/general/src/environments/sklearn-1.1/context/conda_dependencies.yaml
  training/general/src/environments/tensorflow-2.8-cuda11/context/conda_dependencies.yaml
  training/general/src/environments/tensorflow-2.9-cuda11/context/conda_dependencies.yaml
Owners: @azure/aml-assets, @azure/aml-training

resolved code health
  scripts/release/group_test.py
Owners: @azure/aml-assets

resolved code health
  scripts/release/group_test.py
Owners: @azure/aml-assets

Fix vulnerabilities from the default conda environment
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/context/conda_dependencies.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/conda_dependencies.yaml
Owners: @azure/aml-assets

resolved code health
  scripts/release/group_test.py
Owners: @azure/aml-assets

address comments
  training/general/src/environments/pytorch-1.10-py38-cuda11-gpu/asset.yaml
  training/general/src/environments/pytorch-1.10-py38-cuda11-gpu/context/Dockerfile
  training/general/src/environments/pytorch-1.10-py38-cuda11-gpu/environment.yaml
  training/general/src/environments/pytorch-1.10-py38-cuda11-gpu/spec.yaml
  training/general/src/environments/pytorch-1.10-py38-cuda11-gpu/tests/pytorch1_10_sample_test.py
  training/general/src/environments/pytorch-1.10-py38-cuda11-gpu/tests/requirements.txt
  training/general/src/environments/pytorch-1.10-py38-cuda11-gpu/tests/src/main.py
  training/general/src/environments/pytorch-1.10-py38-cuda11-gpu/tests/src/network.py
  training/general/src/environments/pytorch-1.10-py38-cuda11-gpu/tests/src/requirements.txt
  training/general/src/environments/pytorch-1.11-cuda11.3/environment.yaml
  training/general/src/environments/pytorch-1.11-cuda11.3/spec.yaml
  training/general/src/environments/pytorch-1.11-cuda11.5/environment.yaml
  training/general/src/environments/pytorch-1.11-cuda11.5/spec.yaml
  training/general/src/environments/pytorch-1.12-cuda11.6/environment.yaml
  training/general/src/environments/pytorch-1.12-cuda11.6/spec.yaml
  training/general/src/environments/pytorch-1.12-py39-cuda11.6/environment.yaml
  training/general/src/environments/pytorch-1.12-py39-cuda11.6/spec.yaml
  training/general/src/environments/pytorch-1.13-cuda11.7/environment.yaml
  training/general/src/environments/pytorch-1.13-cuda11.7/spec.yaml
  training/general/src/environments/sklearn-1.0/context/Dockerfile
  training/general/src/environments/sklearn-1.0/context/conda_dependencies.yaml
  training/general/src/environments/sklearn-1.0/environment.yaml
  training/general/src/environments/sklearn-1.0/spec.yaml
  training/general/src/environments/sklearn-1.1/spec.yaml
  training/general/src/environments/tensorflow-2.8-cuda11/environment.yaml
  training/general/src/environments/tensorflow-2.8-cuda11/spec.yaml
  training/general/src/environments/tensorflow-2.9-cuda11/spec.yaml
Owners: @azure/aml-training

change sklearn test names
  training/general/src/environments/sklearn-1.0/tests/sklearn_sample_test.py
  training/general/src/environments/sklearn-1.1/tests/sklearn_sample_test.py
Owners: @azure/aml-training

Fix vulnerabilities from the default conda environment (#374)
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/context/conda_dependencies.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/conda_dependencies.yaml
Owners: @azure/aml-assets

Fix vulnerabilities from the default conda environment (#374)
  inference/environments/minimal-ubuntu20.04-py38-cpu-inference/context/conda_dependencies.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/conda_dependencies.yaml
Owners: @azure/aml-assets

Update release branch
  latest/environment/minimal-ubuntu20.04-py38-cpu-inference/context/conda_dependencies.yaml
  latest/environment/minimal-ubuntu20.04-py38-cpu-inference/spec.yaml
  latest/environment/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/conda_dependencies.yaml
  latest/environment/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/spec.yaml
Owners: @azure/aml-assets

fix sklearn 1.0 test
  training/general/src/environments/sklearn-1.0/environment.yaml
  training/general/src/environments/sklearn-1.1/tests/requirements.txt
Owners: @azure/aml-training

Update pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/asset.yaml
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/asset.yaml
Owners: @azure/aml-assets

Update pipelines/environments/mldesigner-minimal-2.0-ubuntu20.04-py38-cpu copy/asset.yaml
  pipelines/environments/mldesigner-minimal-2.0-ubuntu20.04-py38-cpu copy/asset.yaml
Owners: @azure/aml-assets

update test scripts to easily integrate with runners. (#371)
  scripts/release/e2e_test.py
  scripts/release/group_test.py
Owners: @azure/aml-assets

update test scripts to easily integrate with runners. (#371)
  scripts/release/e2e_test.py
  scripts/release/group_test.py
Owners: @azure/aml-assets

Update release branch
  scripts/release/e2e_test.py
  scripts/release/group_test.py
Owners: @azure/aml-assets

update to latest RAI vision and text components and environments
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/text/components/rai_text_insights/spec.yaml
  responsibleai/text/components/src/constants.py
  responsibleai/text/components/src/rai_text_insights.py
  responsibleai/vision/components/rai_vision_insights/spec.yaml
  responsibleai/vision/components/src/aml_dataset_helper.py
  responsibleai/vision/components/src/constants.py
  responsibleai/vision/components/src/rai_vision_insights.py
Owners: @azure/aml-rai

update to latest RAI vision and text environments
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/tests/responsibleai_vision_sample_test.py
Owners: @azure/aml-rai

fix asset.yaml newline
  training/general/src/environments/tensorflow-2.9-cuda11/asset.yaml
Owners: @azure/aml-training

add requirements.txt files, address comments
  test/resources/validate/good-validation/environment.yaml
  training/general/src/environments/pytorch-1.11-cuda11.3/context/Dockerfile
  training/general/src/environments/pytorch-1.11-cuda11.3/context/requirements.txt
  training/general/src/environments/pytorch-1.11-cuda11.3/environment.yaml
  training/general/src/environments/pytorch-1.11-cuda11.3/spec.yaml
  training/general/src/environments/pytorch-1.11-cuda11.5/context/Dockerfile
  training/general/src/environments/pytorch-1.11-cuda11.5/context/requirements.txt
  training/general/src/environments/pytorch-1.11-cuda11.5/environment.yaml
  training/general/src/environments/pytorch-1.11-cuda11.5/spec.yaml
  training/general/src/environments/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/spec.yaml
  training/general/src/environments/pytorch-1.12-cuda11.6/context/Dockerfile
  training/general/src/environments/pytorch-1.12-cuda11.6/context/requirements.txt
  training/general/src/environments/pytorch-1.12-cuda11.6/environment.yaml
  training/general/src/environments/pytorch-1.12-cuda11.6/spec.yaml
  training/general/src/environments/pytorch-1.12-py39-cuda11.6/context/Dockerfile
  training/general/src/environments/pytorch-1.12-py39-cuda11.6/context/requirements.txt
  training/general/src/environments/pytorch-1.12-py39-cuda11.6/environment.yaml
  training/general/src/environments/pytorch-1.12-py39-cuda11.6/spec.yaml
  training/general/src/environments/pytorch-1.13-cuda11.7/context/Dockerfile
  training/general/src/environments/pytorch-1.13-cuda11.7/context/requirements.txt
  training/general/src/environments/pytorch-1.13-cuda11.7/environment.yaml
  training/general/src/environments/pytorch-1.13-cuda11.7/spec.yaml
  training/general/src/environments/sklearn-1.0/context/Dockerfile
  training/general/src/environments/sklearn-1.0/context/conda_dependencies.yaml
  training/general/src/environments/tensorflow-2.9-cuda11/spec.yaml
Owners: @azure/aml-assets, @azure/aml-training

change EOL in spec.yaml
  training/general/src/environments/tensorflow-2.8-cuda11/spec.yaml
Owners: @azure/aml-training

change back line changes
  training/general/src/environments/tensorflow-2.8-cuda11/asset.yaml
  training/general/src/environments/tensorflow-2.8-cuda11/context/Dockerfile
  training/general/src/environments/tensorflow-2.8-cuda11/environment.yaml
  training/general/src/environments/tensorflow-2.9-cuda11/asset.yaml
Owners: @azure/aml-training

add newlines at eof
  training/general/src/environments/sklearn-1.0/context/Dockerfile
  training/general/src/environments/sklearn-1.0/context/conda_dependencies.yaml
Owners: @azure/aml-training

add newlines to DockerFile
  training/general/src/environments/pytorch-1.13-cuda11.7/context/Dockerfile
Owners: @azure/aml-training

Move AzureML-MLDesigner to registry (#335)
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/asset.yaml
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/context/Dockerfile
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/environment.yaml
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/spec.yaml
  pipelines/environments/mldesigner-minimal-2.0-ubuntu20.04-py38-cpu copy/asset.yaml
  pipelines/environments/mldesigner-minimal-2.0-ubuntu20.04-py38-cpu copy/context/Dockerfile
  pipelines/environments/mldesigner-minimal-2.0-ubuntu20.04-py38-cpu copy/context/conda_dependencies.yaml
  pipelines/environments/mldesigner-minimal-2.0-ubuntu20.04-py38-cpu copy/environment.yaml
  pipelines/environments/mldesigner-minimal-2.0-ubuntu20.04-py38-cpu copy/spec.yaml
Owners: @azure/aml-assets

Move AzureML-MLDesigner to registry (#335)
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/asset.yaml
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/context/Dockerfile
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/environment.yaml
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/spec.yaml
  pipelines/environments/mldesigner-minimal-2.0-ubuntu20.04-py38-cpu copy/asset.yaml
  pipelines/environments/mldesigner-minimal-2.0-ubuntu20.04-py38-cpu copy/context/Dockerfile
  pipelines/environments/mldesigner-minimal-2.0-ubuntu20.04-py38-cpu copy/context/conda_dependencies.yaml
  pipelines/environments/mldesigner-minimal-2.0-ubuntu20.04-py38-cpu copy/environment.yaml
  pipelines/environments/mldesigner-minimal-2.0-ubuntu20.04-py38-cpu copy/spec.yaml
Owners: @azure/aml-assets

address comments
  test/resources/validate/good-validation/environment.yaml
  training/general/src/environments/pytorch-1.11-cuda11.3/context/Dockerfile
  training/general/src/environments/pytorch-1.11-cuda11.5/context/Dockerfile
  training/general/src/environments/pytorch-1.12-cuda11.6/context/Dockerfile
  training/general/src/environments/pytorch-1.12-py39-cuda11.6/context/Dockerfile
  training/general/src/environments/pytorch-1.12-py39-cuda11.6/spec.yaml
  training/general/src/environments/pytorch-1.13-cuda11.7/context/Dockerfile
  training/general/src/environments/tensorflow-2.9-cuda11/spec.yaml
Owners: @azure/aml-assets, @azure/aml-training

add additional endline
  training/general/src/environments/tensorflow-2.9-cuda11/spec.yaml
Owners: @azure/aml-training

Update release branch
  latest/environment/mldesigner-minimal/asset.yaml
  latest/environment/mldesigner-minimal/context/Dockerfile
  latest/environment/mldesigner-minimal/context/conda_dependencies.yaml
  latest/environment/mldesigner-minimal/environment.yaml
  latest/environment/mldesigner-minimal/spec.yaml
  latest/environment/mldesigner/asset.yaml
  latest/environment/mldesigner/context/Dockerfile
  latest/environment/mldesigner/context/conda_dependencies.yaml
  latest/environment/mldesigner/environment.yaml
  latest/environment/mldesigner/spec.yaml
Owners: @azure/aml-assets

add more newlines
  training/general/src/environments/pytorch-1.11-cuda11.3/spec.yaml
  training/general/src/environments/pytorch-1.11-cuda11.5/spec.yaml
  training/general/src/environments/pytorch-1.12-cuda11.6/spec.yaml
  training/general/src/environments/pytorch-1.12-py39-cuda11.6/asset.yaml
  training/general/src/environments/pytorch-1.12-py39-cuda11.6/environment.yaml
  training/general/src/environments/pytorch-1.12-py39-cuda11.6/spec.yaml
Owners: @azure/aml-training

Update conda_dependencies.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

update to latest RAI vision and text environments (#378)
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/tests/responsibleai_vision_sample_test.py
Owners: @azure/aml-rai

update to latest RAI vision and text environments (#378)
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/tests/responsibleai_vision_sample_test.py
Owners: @azure/aml-rai

Update release branch
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-assets

rename folder name in repo
  pipelines/environments/mldesigner-minimal/asset.yaml
  pipelines/environments/mldesigner-minimal/context/Dockerfile
  pipelines/environments/mldesigner-minimal/context/conda_dependencies.yaml
  pipelines/environments/mldesigner-minimal/environment.yaml
  pipelines/environments/mldesigner-minimal/spec.yaml
  pipelines/environments/mldesigner/asset.yaml
  pipelines/environments/mldesigner/context/Dockerfile
  pipelines/environments/mldesigner/context/conda_dependencies.yaml
  pipelines/environments/mldesigner/environment.yaml
  pipelines/environments/mldesigner/spec.yaml
Owners: @azure/aml-assets

rename folder name in repo (#383)
  pipelines/environments/mldesigner-minimal/asset.yaml
  pipelines/environments/mldesigner-minimal/context/Dockerfile
  pipelines/environments/mldesigner-minimal/context/conda_dependencies.yaml
  pipelines/environments/mldesigner-minimal/environment.yaml
  pipelines/environments/mldesigner-minimal/spec.yaml
  pipelines/environments/mldesigner/asset.yaml
  pipelines/environments/mldesigner/context/Dockerfile
  pipelines/environments/mldesigner/context/conda_dependencies.yaml
  pipelines/environments/mldesigner/environment.yaml
  pipelines/environments/mldesigner/spec.yaml
Owners: @azure/aml-assets

rename folder name in repo (#383)
  pipelines/environments/mldesigner-minimal/asset.yaml
  pipelines/environments/mldesigner-minimal/context/Dockerfile
  pipelines/environments/mldesigner-minimal/context/conda_dependencies.yaml
  pipelines/environments/mldesigner-minimal/environment.yaml
  pipelines/environments/mldesigner-minimal/spec.yaml
  pipelines/environments/mldesigner/asset.yaml
  pipelines/environments/mldesigner/context/Dockerfile
  pipelines/environments/mldesigner/context/conda_dependencies.yaml
  pipelines/environments/mldesigner/environment.yaml
  pipelines/environments/mldesigner/spec.yaml
Owners: @azure/aml-assets

Update release branch
  latest/environment/pytorch-1.11-cuda11.3/context/requirements.txt
  latest/environment/pytorch-1.11-cuda11.5/context/requirements.txt
  latest/environment/pytorch-1.12-cuda11.6/context/requirements.txt
  latest/environment/pytorch-1.12-py39-cuda11.6/context/requirements.txt
  latest/environment/pytorch-1.13-cuda11.7/context/requirements.txt
Owners: @azure/aml-assets

.github/CODEOWNERS:

*     @azure/aml-assets
/benchmark/ @azure/aims
/responsibleai/ @azure/aml-rai
/training/ @azure/aml-training 
/sample/ @Azure/aml-assets
