Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets

.github/CODEOWNERS:

*     @azure/aml-assets
/benchmark/ @azure/aims
/responsibleai/ @azure/aml-rai
/training/ @azure/aml-training 
/sample/ @Azure/aml-assets

Try using env.scripts_test_dir in job env
  .github/workflows/assets-test.yaml
Owners: @azure/aml-assets

Refactor scripts directory (#306)
  .github/workflows/assets-release.yaml
  .github/workflows/assets-test.yaml
  .github/workflows/scripts-syntax.yaml
  .github/workflows/scripts-test.yaml
  scripts/azureml-assets/azureml/assets/__init__.py
  scripts/azureml-assets/azureml/assets/model/__init__.py
  scripts/azureml-assets/azureml/assets/model/mlflow_utils.py
  scripts/azureml-assets/azureml/assets/model/utils.py
  scripts/azureml-assets/setup.py
  scripts/azureml-assets/validation_rules.json
  scripts/release/asset_publish.py
  scripts/release/e2e_test.py
  scripts/release/group_test.py
  scripts/release/requirements.txt
  scripts/release/test_file_convert.py
  scripts/release/test_results_analysis.py
  scripts/requirements.txt
  scripts/script-check-requirements.txt
  scripts/test-requirements.txt
  scripts/test/create_asset_test_matrix.py
  scripts/test/requirements.txt
  scripts/test/test_assets.py
  scripts/validation/requirements.txt
  test/test_test_assets.py
Owners: @azure/aml-assets

Refactor scripts directory (#306)
  .github/workflows/assets-release.yaml
  .github/workflows/assets-test.yaml
  .github/workflows/scripts-syntax.yaml
  .github/workflows/scripts-test.yaml
  scripts/azureml-assets/azureml/assets/__init__.py
  scripts/azureml-assets/azureml/assets/model/__init__.py
  scripts/azureml-assets/azureml/assets/model/mlflow_utils.py
  scripts/azureml-assets/azureml/assets/model/utils.py
  scripts/azureml-assets/setup.py
  scripts/azureml-assets/validation_rules.json
  scripts/release/asset_publish.py
  scripts/release/e2e_test.py
  scripts/release/group_test.py
  scripts/release/requirements.txt
  scripts/release/test_file_convert.py
  scripts/release/test_results_analysis.py
  scripts/requirements.txt
  scripts/script-check-requirements.txt
  scripts/test-requirements.txt
  scripts/test/create_asset_test_matrix.py
  scripts/test/requirements.txt
  scripts/test/test_assets.py
  scripts/validation/requirements.txt
  test/test_test_assets.py
Owners: @azure/aml-assets

Update release branch
  scripts/azureml-assets/azureml/assets/__init__.py
  scripts/azureml-assets/azureml/assets/model/__init__.py
  scripts/azureml-assets/azureml/assets/model/mlflow_utils.py
  scripts/azureml-assets/azureml/assets/model/utils.py
  scripts/azureml-assets/setup.py
  scripts/azureml-assets/validation_rules.json
  scripts/install_azcopy.sh
  scripts/release/asset_publish.py
  scripts/release/e2e_test.py
  scripts/release/group_test.py
  scripts/release/requirements.txt
  scripts/release/test_file_convert.py
  scripts/release/test_results_analysis.py
  scripts/setup/create_azure_resources.sh
  scripts/setup/create_azure_resources_daily.sh
  scripts/setup/credential_params.json
  scripts/test/create_asset_test_matrix.py
  scripts/test/requirements.txt
  scripts/test/test_assets.py
  scripts/validation/code_health.py
  scripts/validation/copyright_validation.py
  scripts/validation/doc_style.py
  scripts/validation/requirements.txt
Owners: @azure/aml-assets

Disable wget progress bar
  scripts/install_azcopy.sh
Owners: @azure/aml-assets

Disable wget progress bar (#308)
  scripts/install_azcopy.sh
Owners: @azure/aml-assets

Disable wget progress bar (#308)
  scripts/install_azcopy.sh
Owners: @azure/aml-assets

Update release branch
  scripts/install_azcopy.sh
Owners: @azure/aml-assets

updated env
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/context/Dockerfile
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/context/conda_dependencies.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/environment.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/requirements.txt
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/context/Dockerfile
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/context/conda_dependencies.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/requirements.txt
Owners: @azure/aml-training

updated env
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/context/Dockerfile
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/context/conda_dependencies.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/environment.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/requirements.txt
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/context/Dockerfile
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/context/conda_dependencies.yaml
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/requirements.txt
Owners: @azure/aml-training

add image data preprocessing
  training/automl/tests/conftest.py
  training/automl/tests/preprocessing/__init__.py
  training/automl/tests/preprocessing/automl_preprocessing.py
  training/automl/tests/preprocessing/vision/__init__.py
  training/automl/tests/preprocessing/vision/prepare_classification_data.py
  training/automl/tests/preprocessing/vision/prepare_classification_multilabel_data.py
  training/automl/tests/preprocessing/vision/prepare_instance_segmentation_data.py
  training/automl/tests/preprocessing/vision/prepare_object_detection_data.py
  training/automl/tests/preprocessing/vision/utils.py
  training/automl/tests/test_automl_components.py
  training/automl/tests/test_configs/assets/image-classification-fridge-items/training-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/image-classification-fridge-items/training-mltable-folder/train_annotations.jsonl
  training/automl/tests/test_configs/assets/image-classification-fridge-items/validation-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/image-classification-fridge-items/validation-mltable-folder/validation_annotations.jsonl
  training/automl/tests/test_configs/assets/image-classification-multilabel-fridge-items/training-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/image-classification-multilabel-fridge-items/training-mltable-folder/train_annotations.jsonl
  training/automl/tests/test_configs/assets/image-classification-multilabel-fridge-items/validation-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/image-classification-multilabel-fridge-items/validation-mltable-folder/validation_annotations.jsonl
  training/automl/tests/test_configs/assets/image-instance-segmentation-fridge-items/training-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/image-instance-segmentation-fridge-items/training-mltable-folder/train_annotations.jsonl
  training/automl/tests/test_configs/assets/image-instance-segmentation-fridge-items/validation-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/image-instance-segmentation-fridge-items/validation-mltable-folder/validation_annotations.jsonl
  training/automl/tests/test_configs/assets/image-object-detection-fridge-items/training-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/image-object-detection-fridge-items/training-mltable-folder/train_annotations.jsonl
  training/automl/tests/test_configs/assets/image-object-detection-fridge-items/validation-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/image-object-detection-fridge-items/validation-mltable-folder/validation_annotations.jsonl
  training/automl/tests/test_configs/payload/image_classification_fridge_items_payload.json
  training/automl/tests/test_configs/payload/image_classification_multilabel_fridge_items_payload.json
  training/automl/tests/test_configs/payload/image_instance_segmentation_fridge_items_payload.json
  training/automl/tests/test_configs/payload/image_object_detection_fridge_items_payload.json
  training/tests.yml
Owners: @azure/aml-training

address comments
  scripts/release/group_test.py
Owners: @azure/aml-assets

Update to the latest tj-actions/changed-files action
  .github/workflows/assets-test.yaml
  .github/workflows/environments-ci.yaml
  .github/workflows/scripts-syntax.yaml
Owners: @azure/aml-assets

Update to the latest tj-actions/changed-files action (#310)
  .github/workflows/assets-test.yaml
  .github/workflows/environments-ci.yaml
  .github/workflows/scripts-syntax.yaml
Owners: @azure/aml-assets

Update to the latest tj-actions/changed-files action (#310)
  .github/workflows/assets-test.yaml
  .github/workflows/environments-ci.yaml
  .github/workflows/scripts-syntax.yaml
Owners: @azure/aml-assets

remove flak8
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/main.py
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/src/main.py
Owners: @azure/aml-training

remove flak8
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/tests/src/main.py
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/tests/src/main.py
Owners: @azure/aml-training

updated to use latest v2 sdk
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/context/Dockerfile
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/context/Dockerfile
Owners: @azure/aml-training

updated to use latest v2 sdk
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.3-gpu/context/Dockerfile
  training/general/src/environments/acpt-pytorch-1.11-py38-cuda11.5-gpu/context/Dockerfile
Owners: @azure/aml-training

New minimal gpu inference curated environment based on ubuntu20.04 (#282)
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/asset.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/Dockerfile
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/conda_dependencies.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/environment.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/spec.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/tests/minimal_inference_test.py
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/tests/requirements.txt
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/tests/src/main.py
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/tests/src/valid_score.py
Owners: @azure/aml-assets

New minimal gpu inference curated environment based on ubuntu20.04 (#282)
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/asset.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/Dockerfile
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/conda_dependencies.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/environment.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/spec.yaml
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/tests/minimal_inference_test.py
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/tests/requirements.txt
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/tests/src/main.py
  inference/environments/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/tests/src/valid_score.py
Owners: @azure/aml-assets

Update release branch
  latest/environment/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/asset.yaml
  latest/environment/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/Dockerfile
  latest/environment/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/context/conda_dependencies.yaml
  latest/environment/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/environment.yaml
  latest/environment/minimal-ubuntu20.04-py38-cuda11.6.2-gpu-inference/spec.yaml
Owners: @azure/aml-assets

address comments
  scripts/release/e2e_test.py
  scripts/release/group_test.py
  training/automl/tests/preprocessing/vision/prepare_classification_data.py
  training/automl/tests/preprocessing/vision/utils.py
  training/automl/tests/test_configs/assets/classification-bankmarketing/test-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/classification-bankmarketing/test-mltable-folder/bank_marketing_test_data.csv
  training/automl/tests/test_configs/assets/classification-bankmarketing/training-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/classification-bankmarketing/training-mltable-folder/bank_marketing_train_data.csv
  training/automl/tests/test_configs/assets/classification-bankmarketing/validation-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/classification-bankmarketing/validation-mltable-folder/bank_marketing_validation_data.csv
  training/automl/tests/test_configs/assets/forecasting-energy-demand/test-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/forecasting-energy-demand/test-mltable-folder/nyc_energy_test_clean.csv
  training/automl/tests/test_configs/assets/forecasting-energy-demand/training-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/forecasting-energy-demand/training-mltable-folder/nyc_energy_training_clean.csv
  training/automl/tests/test_configs/assets/forecasting-energy-demand/validation-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/forecasting-energy-demand/validation-mltable-folder/nyc_energy_validation_clean.csv
  training/automl/tests/test_configs/assets/regression-hardware-performance/training-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/regression-hardware-performance/training-mltable-folder/training-machine-dataset.csv
  training/automl/tests/test_configs/assets/text-classification-multilabel-paper-categorization/training-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/text-classification-multilabel-paper-categorization/training-mltable-folder/train_data.csv
  training/automl/tests/test_configs/assets/text-classification-multilabel-paper-categorization/validation-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/text-classification-multilabel-paper-categorization/validation-mltable-folder/valid_data.csv
  training/automl/tests/test_configs/assets/text-classification-newsgroup/training-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/text-classification-newsgroup/training-mltable-folder/train_data.csv
  training/automl/tests/test_configs/assets/text-classification-newsgroup/validation-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/text-classification-newsgroup/validation-mltable-folder/valid_data.csv
  training/automl/tests/test_configs/assets/text-ner-conll/training-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/text-ner-conll/training-mltable-folder/train.txt
  training/automl/tests/test_configs/assets/text-ner-conll/validation-mltable-folder/MLTable
  training/automl/tests/test_configs/assets/text-ner-conll/validation-mltable-folder/valid.txt
Owners: @azure/aml-assets, @azure/aml-training

address comments
  training/automl/tests/preprocessing/vision/prepare_classification_data.py
  training/automl/tests/preprocessing/vision/prepare_classification_multilabel_data.py
  training/automl/tests/preprocessing/vision/prepare_instance_segmentation_data.py
  training/automl/tests/preprocessing/vision/prepare_object_detection_data.py
  training/automl/tests/test_automl_components.py
Owners: @azure/aml-training

Move AzureML-AutoML to registry
  training/general/src/environments/azureml-automl/asset.yaml
  training/general/src/environments/azureml-automl/context/Dockerfile
  training/general/src/environments/azureml-automl/environment.yml
  training/general/src/environments/azureml-automl/spec.yaml
  training/general/src/environments/azureml-automl/tests/azureml_automl_test.py
  training/general/src/environments/azureml-automl/tests/requirements.txt
  training/general/src/environments/azureml-automl/tests/training-mltable-folder/MLTable
Owners: @azure/aml-training

Move AzureML-AutoML to registry
  training/general/src/environments/azureml-automl/asset.yaml
  training/general/src/environments/azureml-automl/context/Dockerfile
  training/general/src/environments/azureml-automl/environment.yml
  training/general/src/environments/azureml-automl/spec.yaml
  training/general/src/environments/azureml-automl/tests/azureml_automl_test.py
  training/general/src/environments/azureml-automl/tests/requirements.txt
  training/general/src/environments/azureml-automl/tests/training-mltable-folder/MLTable
  training/general/src/environments/azureml-automl/tests/training-mltable-folder/bank_marketing_train_data.csv
Owners: @azure/aml-training

Fix env
  training/general/src/environments/azureml-automl/context/Dockerfile
  training/general/src/environments/azureml-automl/tests/azureml_automl_test.py
Owners: @azure/aml-training

Fix env
  training/general/src/environments/azureml-automl/context/Dockerfile
  training/general/src/environments/azureml-automl/tests/azureml_automl_test.py
Owners: @azure/aml-training

fix workflow
  .github/workflows/assets-validation.yaml
Owners: @azure/aml-assets

change assets path in workflow
  .github/workflows/assets-validation.yaml
Owners: @azure/aml-assets

Rename environment.yml to environment.yaml
  training/general/src/environments/azureml-automl/environment.yaml
Owners: @azure/aml-training

Rename environment.yml to environment.yaml
  training/general/src/environments/azureml-automl/environment.yaml
Owners: @azure/aml-training

Update release branch
  latest/environment/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/context/Dockerfile
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/sklearn-1.1-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/tensorflow-2.8-ubuntu20.04-py38-cuda11-gpu/context/Dockerfile
  latest/environment/tensorflow-2.9-ubuntu20.04-py38-cuda11-gpu/context/Dockerfile
Owners: @azure/aml-assets

fix image segmentation test
  training/automl/components/automl_image_classification/spec.yaml
  training/automl/components/automl_image_classification_multilabel/spec.yaml
  training/automl/components/automl_image_instance_segmentation/spec.yaml
  training/automl/components/automl_image_object_detection/spec.yaml
  training/automl/components/automl_tabular_classification/spec.yaml
  training/automl/components/automl_tabular_forecasting/spec.yaml
  training/automl/components/automl_tabular_regression/spec.yaml
  training/automl/components/automl_text_classification/spec.yaml
  training/automl/components/automl_text_classification_multilable/spec.yaml
  training/automl/components/automl_text_ner/spec.yaml
  training/automl/tests/preprocessing/automl_preprocessing.py
  training/automl/tests/preprocessing/vision/prepare_classification_data.py
  training/automl/tests/preprocessing/vision/prepare_classification_multilabel_data.py
  training/automl/tests/preprocessing/vision/prepare_instance_segmentation_data.py
  training/automl/tests/preprocessing/vision/prepare_object_detection_data.py
  training/automl/tests/preprocessing/vision/utils.py
  training/automl/tests/test_automl_components.py
Owners: @azure/aml-training

clean payload files
  training/automl/tests/test_configs/payload/classification_bankmarketing_payload.json
  training/automl/tests/test_configs/payload/forecasting_energy_demand_payload.json
  training/automl/tests/test_configs/payload/image_classification_fridge_items_payload.json
  training/automl/tests/test_configs/payload/image_classification_multilabel_fridge_items_payload.json
  training/automl/tests/test_configs/payload/image_instance_segmentation_fridge_items_payload.json
  training/automl/tests/test_configs/payload/image_object_detection_fridge_items_payload.json
  training/automl/tests/test_configs/payload/regression_hardware_performance_payload.json
  training/automl/tests/test_configs/payload/test_paylaod.json
  training/automl/tests/test_configs/payload/text_classification_multilable_newsgroup_payload.json
  training/automl/tests/test_configs/payload/text_classification_newsgroup_payload.json
  training/automl/tests/test_configs/payload/text_ner_conll_payload.json
Owners: @azure/aml-training

undo non-required changes
  scripts/release/e2e_test.py
  scripts/release/group_test.py
  training/automl/components/automl_image_classification/spec.yaml
  training/automl/components/automl_image_classification_multilabel/spec.yaml
  training/automl/components/automl_image_instance_segmentation/spec.yaml
  training/automl/components/automl_image_object_detection/spec.yaml
  training/automl/components/automl_tabular_classification/spec.yaml
  training/automl/components/automl_tabular_forecasting/spec.yaml
  training/automl/components/automl_tabular_regression/spec.yaml
  training/automl/components/automl_text_classification/spec.yaml
  training/automl/components/automl_text_classification_multilable/spec.yaml
  training/automl/components/automl_text_ner/spec.yaml
Owners: @azure/aml-assets, @azure/aml-training

update tests.yml
  training/tests.yml
Owners: @azure/aml-training

Update Dockerfile
  training/general/src/environments/azureml-automl/context/Dockerfile
Owners: @azure/aml-training

Update Dockerfile
  training/general/src/environments/azureml-automl/context/Dockerfile
Owners: @azure/aml-training

undo changes to og envs
  training/general/src/environments/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/context/conda_dependencies.yaml
  training/general/src/environments/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/environment.yaml
  training/general/src/environments/pytorch-1.11-ubuntu20.04-py38-cuda11-gpu/tests/requirements.txt
  training/general/src/environments/sklearn-1.1-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  training/general/src/environments/sklearn-1.1-ubuntu20.04-py38-cpu/environment.yaml
  training/general/src/environments/sklearn-1.1-ubuntu20.04-py38-cpu/tests/requirements.txt
  training/general/src/environments/tensorflow-2.8-ubuntu20.04-py38-cuda11-gpu/context/conda_dependencies.yaml
  training/general/src/environments/tensorflow-2.8-ubuntu20.04-py38-cuda11-gpu/environment.yaml
  training/general/src/environments/tensorflow-2.8-ubuntu20.04-py38-cuda11-gpu/tests/requirements.txt
  training/general/src/environments/tensorflow-2.9-ubuntu20.04-py38-cuda11-gpu/context/conda_dependencies.yaml
  training/general/src/environments/tensorflow-2.9-ubuntu20.04-py38-cuda11-gpu/environment.yaml
  training/general/src/environments/tensorflow-2.9-ubuntu20.04-py38-cuda11-gpu/tests/requirements.txt
Owners: @azure/aml-training
