Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets

.github/CODEOWNERS:

*     @azure/aml-assets
/benchmark/ @azure/aims
/responsibleai/ @azure/aml-rai
/training/ @azure/aml-training 
/sample/ @Azure/aml-assets

Update release branch
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  latest/environment/responsibleai-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  latest/environment/responsibleai-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-assets

Fix copy_unreleased_assets script
  scripts/azureml-assets/azureml/assets/copy_unreleased_assets.py
Owners: @azure/aml-assets

Fix copy_unreleased_assets script (#333)
  scripts/azureml-assets/azureml/assets/copy_unreleased_assets.py
Owners: @azure/aml-assets

Fix copy_unreleased_assets script (#333)
  scripts/azureml-assets/azureml/assets/copy_unreleased_assets.py
Owners: @azure/aml-assets

Update release branch
  scripts/azureml-assets/azureml/assets/copy_unreleased_assets.py
Owners: @azure/aml-assets

add mldesigner
  pipelines/environments/component-2.0-ubuntu20.04-py38-cpu/asset.yaml
  pipelines/environments/component-2.0-ubuntu20.04-py38-cpu/context/Dockerfile
  pipelines/environments/component-2.0-ubuntu20.04-py38-cpu/environment.yaml
  pipelines/environments/component-2.0-ubuntu20.04-py38-cpu/spec.yaml
Owners: @azure/aml-assets

add component sdk
  pipelines/environments/component-1.5-ubuntu20.04-py38-cpu/asset.yaml
  pipelines/environments/component-1.5-ubuntu20.04-py38-cpu/context/Dockerfile
  pipelines/environments/component-1.5-ubuntu20.04-py38-cpu/environment.yaml
  pipelines/environments/component-1.5-ubuntu20.04-py38-cpu/spec.yaml
Owners: @azure/aml-assets

update description for mldesigner
  pipelines/environments/component-2.0-ubuntu20.04-py38-cpu/spec.yaml
Owners: @azure/aml-assets

update name
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/asset.yaml
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/context/Dockerfile
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/environment.yaml
  pipelines/environments/componentsdk-1.5-ubuntu20.04-py38-cpu/spec.yaml
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/asset.yaml
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/context/Dockerfile
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/environment.yaml
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/spec.yaml
Owners: @azure/aml-assets

Address builtin component name convention
  training/automl/components/automl_image_classification/spec.yaml
  training/automl/components/automl_image_classification_multilabel/spec.yaml
  training/automl/components/automl_image_instance_segmentation/spec.yaml
  training/automl/components/automl_image_object_detection/spec.yaml
  training/automl/components/automl_tabular_classification/spec.yaml
  training/automl/components/automl_tabular_forecasting/spec.yaml
  training/automl/components/automl_tabular_regression/spec.yaml
  training/automl/components/automl_text_classification/spec.yaml
  training/automl/components/automl_text_classification_multilabel/spec.yaml
  training/automl/components/automl_text_ner/spec.yaml
Owners: @azure/aml-training

add azure-ai-ml in mldesigner env
  pipelines/environments/mldesigner-2.0-ubuntu20.04-py38-cpu/context/Dockerfile
Owners: @azure/aml-assets

print job log if job fails
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/tests/responsibleai_text_sample_test.py
Owners: @azure/aml-rai

Update responsibleai_text_sample_test.py
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/tests/responsibleai_text_sample_test.py
Owners: @azure/aml-rai

update env name to text for text data tests
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
Owners: @azure/aml-rai

Update Dockerfile
  training/general/src/environments/azureml-automl/context/Dockerfile
Owners: @azure/aml-training

Update Dockerfile
  training/general/src/environments/azureml-automl/context/Dockerfile
Owners: @azure/aml-training

Specified all automl components are in preview
  training/automl/components/automl_image_classification/spec.yaml
  training/automl/components/automl_image_classification_multilabel/spec.yaml
  training/automl/components/automl_image_instance_segmentation/spec.yaml
  training/automl/components/automl_image_object_detection/spec.yaml
  training/automl/components/automl_tabular_classification/spec.yaml
  training/automl/components/automl_tabular_forecasting/spec.yaml
  training/automl/components/automl_tabular_regression/spec.yaml
  training/automl/components/automl_text_classification/spec.yaml
  training/automl/components/automl_text_classification_multilabel/spec.yaml
  training/automl/components/automl_text_ner/spec.yaml
Owners: @azure/aml-training

Specified all automl components are in preview (#338)
  training/automl/components/automl_image_classification/spec.yaml
  training/automl/components/automl_image_classification_multilabel/spec.yaml
  training/automl/components/automl_image_instance_segmentation/spec.yaml
  training/automl/components/automl_image_object_detection/spec.yaml
  training/automl/components/automl_tabular_classification/spec.yaml
  training/automl/components/automl_tabular_forecasting/spec.yaml
  training/automl/components/automl_tabular_regression/spec.yaml
  training/automl/components/automl_text_classification/spec.yaml
  training/automl/components/automl_text_classification_multilabel/spec.yaml
  training/automl/components/automl_text_ner/spec.yaml
Owners: @azure/aml-training

Specified all automl components are in preview (#338)
  training/automl/components/automl_image_classification/spec.yaml
  training/automl/components/automl_image_classification_multilabel/spec.yaml
  training/automl/components/automl_image_instance_segmentation/spec.yaml
  training/automl/components/automl_image_object_detection/spec.yaml
  training/automl/components/automl_tabular_classification/spec.yaml
  training/automl/components/automl_tabular_forecasting/spec.yaml
  training/automl/components/automl_tabular_regression/spec.yaml
  training/automl/components/automl_text_classification/spec.yaml
  training/automl/components/automl_text_classification_multilabel/spec.yaml
  training/automl/components/automl_text_ner/spec.yaml
Owners: @azure/aml-training

Update release branch
  latest/component/automl_classification/spec.yaml
  latest/component/automl_forecasting/spec.yaml
  latest/component/automl_image_classification/spec.yaml
  latest/component/automl_image_classification_multilabel/spec.yaml
  latest/component/automl_image_instance_segmentation/spec.yaml
  latest/component/automl_image_object_detection/spec.yaml
  latest/component/automl_regression/spec.yaml
  latest/component/automl_text_classification/spec.yaml
  latest/component/automl_text_classification_multilabel/spec.yaml
  latest/component/azureml_automl_text_ner/spec.yaml
Owners: @azure/aml-assets

Add code to dump the job error log
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/tests/responsibleai_text_sample_test.py
Owners: @azure/aml-rai

Revert "Add code to dump the job error log"
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/tests/responsibleai_text_sample_test.py
Owners: @azure/aml-rai

Add error log in the tabular tests
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/tests/responsibleai_sample_test.py
Owners: @azure/aml-rai

fix automl release tests
  training/automl/components/automl_text_ner/spec.yaml
  training/automl/tests/test_automl_nlp_components.py
  training/automl/tests/test_automl_tabular_components.py
  training/automl/tests/test_automl_vision_components.py
  training/automl/tests/validate_automl_components.py
Owners: @azure/aml-training

flake fix
  training/automl/tests/validate_automl_components.py
Owners: @azure/aml-training

remove deepspeed, fix comment
  training/deepspeed/data/cifar-10-batches-py/batches.meta
  training/deepspeed/data/cifar-10-batches-py/readme.html
  training/deepspeed/deepspeed-autotuning/README.md
  training/deepspeed/deepspeed-autotuning/create-job.sh
  training/deepspeed/deepspeed-autotuning/ds_config.json
  training/deepspeed/deepspeed-autotuning/model.py
  training/deepspeed/deepspeed-autotuning/start-deepspeed.sh
  training/deepspeed/deepspeed-autotuning/train.py
  training/deepspeed/deepspeed-training/README.md
  training/deepspeed/deepspeed-training/create-job.sh
  training/deepspeed/deepspeed-training/ds_config.json
  training/deepspeed/deepspeed-training/model.py
  training/deepspeed/deepspeed-training/start-deepspeed.sh
  training/deepspeed/deepspeed-training/train.py
  training/general/src/environments/azureml-acpt-pytorch-1.12-py38-cuda11.6-gpu/tests/pytorch1_12_sample_test.py
  training/general/src/environments/azureml-acpt-pytorch-1.12-py39-cuda11.6-gpu/tests/pytorch1_12_sample_test.py
  training/general/src/environments/azureml-lightgbm-3.2-ubuntu20.04-py37-cpu/tests/lightgbm_sample_test.py
Owners: @azure/aml-training

forecasting payload update
  training/automl/tests/test_configs/payload/forecasting_energy_demand_payload.json
Owners: @azure/aml-training

fix AutoML components release tests (#340)
  training/automl/components/automl_text_ner/spec.yaml
  training/automl/tests/test_automl_nlp_components.py
  training/automl/tests/test_automl_tabular_components.py
  training/automl/tests/test_automl_vision_components.py
  training/automl/tests/test_configs/payload/forecasting_energy_demand_payload.json
  training/automl/tests/validate_automl_components.py
Owners: @azure/aml-training

fix AutoML components release tests (#340)
  training/automl/components/automl_text_ner/spec.yaml
  training/automl/tests/test_automl_nlp_components.py
  training/automl/tests/test_automl_tabular_components.py
  training/automl/tests/test_automl_vision_components.py
  training/automl/tests/test_configs/payload/forecasting_energy_demand_payload.json
  training/automl/tests/validate_automl_components.py
Owners: @azure/aml-training

Update release branch
  latest/component/automl_text_ner/asset.yaml
  latest/component/automl_text_ner/spec.yaml
  tests/training/automl/tests/test_automl_nlp_components.py
  tests/training/automl/tests/test_automl_tabular_components.py
  tests/training/automl/tests/test_automl_vision_components.py
  tests/training/automl/tests/test_configs/payload/forecasting_energy_demand_payload.json
  tests/training/automl/tests/validate_automl_components.py
  tests/training/tests.yml
Owners: @azure/aml-assets

Remove old components
  latest/component/microsoft_azureml_automl_classification_component/asset.yaml
  latest/component/microsoft_azureml_automl_classification_component/spec.yaml
  latest/component/microsoft_azureml_automl_forecasting_component/asset.yaml
  latest/component/microsoft_azureml_automl_forecasting_component/spec.yaml
  latest/component/microsoft_azureml_automl_image_classification_component/asset.yaml
  latest/component/microsoft_azureml_automl_image_classification_component/spec.yaml
  latest/component/microsoft_azureml_automl_image_classification_multilabel_component/asset.yaml
  latest/component/microsoft_azureml_automl_image_classification_multilabel_component/spec.yaml
  latest/component/microsoft_azureml_automl_image_instance_segmentation_component/asset.yaml
  latest/component/microsoft_azureml_automl_image_instance_segmentation_component/spec.yaml
  latest/component/microsoft_azureml_automl_image_object_detection_component/asset.yaml
  latest/component/microsoft_azureml_automl_image_object_detection_component/spec.yaml
  latest/component/microsoft_azureml_automl_regression_component/asset.yaml
  latest/component/microsoft_azureml_automl_regression_component/spec.yaml
  latest/component/microsoft_azureml_automl_text_classification_component/asset.yaml
  latest/component/microsoft_azureml_automl_text_classification_component/spec.yaml
  latest/component/microsoft_azureml_automl_text_classification_multilabel_component/asset.yaml
  latest/component/microsoft_azureml_automl_text_classification_multilabel_component/spec.yaml
  latest/component/microsoft_azureml_automl_text_ner_component/asset.yaml
  latest/component/microsoft_azureml_automl_text_ner_component/spec.yaml
Owners: @azure/aml-assets

Remove old components (#342)
  latest/component/microsoft_azureml_automl_classification_component/asset.yaml
  latest/component/microsoft_azureml_automl_classification_component/spec.yaml
  latest/component/microsoft_azureml_automl_forecasting_component/asset.yaml
  latest/component/microsoft_azureml_automl_forecasting_component/spec.yaml
  latest/component/microsoft_azureml_automl_image_classification_component/asset.yaml
  latest/component/microsoft_azureml_automl_image_classification_component/spec.yaml
  latest/component/microsoft_azureml_automl_image_classification_multilabel_component/asset.yaml
  latest/component/microsoft_azureml_automl_image_classification_multilabel_component/spec.yaml
  latest/component/microsoft_azureml_automl_image_instance_segmentation_component/asset.yaml
  latest/component/microsoft_azureml_automl_image_instance_segmentation_component/spec.yaml
  latest/component/microsoft_azureml_automl_image_object_detection_component/asset.yaml
  latest/component/microsoft_azureml_automl_image_object_detection_component/spec.yaml
  latest/component/microsoft_azureml_automl_regression_component/asset.yaml
  latest/component/microsoft_azureml_automl_regression_component/spec.yaml
  latest/component/microsoft_azureml_automl_text_classification_component/asset.yaml
  latest/component/microsoft_azureml_automl_text_classification_component/spec.yaml
  latest/component/microsoft_azureml_automl_text_classification_multilabel_component/asset.yaml
  latest/component/microsoft_azureml_automl_text_classification_multilabel_component/spec.yaml
  latest/component/microsoft_azureml_automl_text_ner_component/asset.yaml
  latest/component/microsoft_azureml_automl_text_ner_component/spec.yaml
Owners: @azure/aml-assets

Update conda_dependencies.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Update conda_dependencies.yaml
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Update conda_dependencies.yaml
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Update conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

update RAI images to raiwidgets and responsibleai 0.24.1 (#331)
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/tests/responsibleai_text_sample_test.py
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

update RAI images to raiwidgets and responsibleai 0.24.1 (#331)
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-text-ubuntu20.04-py38-cpu/tests/responsibleai_text_sample_test.py
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  responsibleai/environments/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai

Update release branch
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/context/Dockerfile
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  latest/environment/responsibleai-text-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  latest/environment/responsibleai-ubuntu20.04-py38-cpu/spec.yaml
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
  latest/environment/responsibleai-vision-ubuntu20.04-py38-cpu/spec.yaml
Owners: @azure/aml-assets

Update conda_dependencies.yaml (#343)
  responsibleai/environments/responsibleai-ubuntu20.04-py38-cpu/context/conda_dependencies.yaml
Owners: @azure/aml-rai
