Repository Azure/azureml-assets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/aml-assets, @azure/aml-benchmarking, @azure/aims, @azure/aml-rai, @azure/aml-training, @Azure/aml-assets, @Azure/azureml-data, @azure/azureml-inference-idc, @Azure/aml-model-monitoring, @azure/aml-llm

use 0.4.2 ft component
  assets/large_language_models/components_pipelines/oai_v2_1p/openai_completions_finetune_pipeline/spec.yaml
Owners: @azure/aml-training, @azure/aml-llm

Fixing singularity components (#1596)
  assets/training/finetune_acft_hf_nlp/components/model_import/question_answering/spec.yaml
  assets/training/finetune_acft_hf_nlp/components/model_import/summarization/spec.yaml
  assets/training/finetune_acft_hf_nlp/components/model_import/text_classification/spec.yaml
  assets/training/finetune_acft_hf_nlp/components/model_import/text_generation/spec.yaml
  assets/training/finetune_acft_hf_nlp/components/model_import/token_classification/spec.yaml
  assets/training/finetune_acft_hf_nlp/components/model_import/translation/spec.yaml
  assets/training/finetune_acft_hf_nlp/components/pipeline_components/text_generation_singularity_basic_high/spec.yaml
  assets/training/finetune_acft_hf_nlp/components/pipeline_components/text_generation_singularity_basic_low/spec.yaml
  assets/training/finetune_acft_hf_nlp/components/pipeline_components/text_generation_singularity_basic_medium/spec.yaml
  assets/training/finetune_acft_hf_nlp/components/pipeline_components/text_generation_singularity_premium_high/spec.yaml
  assets/training/finetune_acft_hf_nlp/components/pipeline_components/text_generation_singularity_premium_low/spec.yaml
  assets/training/finetune_acft_hf_nlp/components/pipeline_components/text_generation_singularity_premium_medium/spec.yaml
  assets/training/finetune_acft_hf_nlp/components/pipeline_components/text_generation_singularity_standard_high/spec.yaml
  assets/training/finetune_acft_hf_nlp/components/pipeline_components/text_generation_singularity_standard_low/spec.yaml
  assets/training/finetune_acft_hf_nlp/components/pipeline_components/text_generation_singularity_standard_medium/spec.yaml
Owners: @azure/aml-training

bert-large-cased with hftransformersv2
  assets/models/system/bert-large-cased/description.md
  assets/models/system/bert-large-cased/model.yaml
  assets/models/system/bert-large-cased/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

microsoft-deberta-base
  assets/models/system/microsoft-deberta-base/description.md
  assets/models/system/microsoft-deberta-base/model.yaml
  assets/models/system/microsoft-deberta-base/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Added the suggestions provided by reviewer.
  assets/aml-benchmark/scripts/custom_dataset_preprocessors/hellaswag_hf.py
Owners: @azure/aml-benchmarking

adding support for presets model registration
  assets/training/finetune_acft_hf_nlp/src/register_model/register_model.py
  assets/training/finetune_acft_hf_nlp/src/register_model/register_presets_model.py
Owners: @azure/aml-training

distilbert-base-cased-hfflavour2_changeModel
  assets/models/system/distilbert-base-cased/description.md
  assets/models/system/distilbert-base-cased/model.yaml
  assets/models/system/distilbert-base-cased/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

reformatted file
  assets/training/finetune_acft_hf_nlp/src/register_model/register_presets_model.py
Owners: @azure/aml-training

adding new func is_model_already_registered + lint fixes
  assets/training/finetune_acft_hf_nlp/src/register_model/register_presets_model.py
Owners: @azure/aml-training

fixing lint issues
  assets/training/finetune_acft_hf_nlp/src/register_model/register_presets_model.py
Owners: @azure/aml-training

adding doc strings
  assets/training/finetune_acft_hf_nlp/src/register_model/register_presets_model.py
Owners: @azure/aml-training

microsoft-deberta-large_hfflavour2
  assets/models/system/microsoft-deberta-large/description.md
  assets/models/system/microsoft-deberta-large/model.yaml
  assets/models/system/microsoft-deberta-large/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Update spec.yaml
  assets/models/system/tiiuae-falcon-40b/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

adding-hf-model-id-tiiuae-falcon-7b
  assets/models/system/tiiuae-falcon-7b/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

adding-hf-model-id-databricks-dolly-v2-12b
  assets/models/system/databricks-dolly-v2-12b/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Update version
  assets/models/system/tiiuae-falcon-7b/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

Update spec.yaml
  assets/models/system/bert-base-cased/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

adding support for presets model registration (#1633)
  assets/training/finetune_acft_hf_nlp/src/register_model/register_model.py
  assets/training/finetune_acft_hf_nlp/src/register_model/register_presets_model.py
Owners: @azure/aml-training

adding hf-model-id for deepset-minilm-uncased-squad2
  assets/models/system/deepset-minilm-uncased-squad2/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

t5-large-hfflavour2_changeModel
  assets/models/system/t5-large/description.md
  assets/models/system/t5-large/model.yaml
  assets/models/system/t5-large/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

roberta large mnli with hftransformersv2
  assets/models/system/roberta-large-mnli/model.yaml
  assets/models/system/roberta-large-mnli/spec.yaml
Owners: @azure/aml-training, @azure/azureml-inference-idc

update model inference section for blip models
  assets/models/system/salesforce-blip-image-captioning-base/description.md
  assets/models/system/salesforce-blip-vqa-base/description.md
  assets/models/system/salesforce-blip2-opt-2-7b-image-to-text/description.md
  assets/models/system/salesforce-blip2-opt-2-7b-vqa/description.md
Owners: @azure/aml-training, @azure/azureml-inference-idc

Fix timeseries data output bug (#1624)
  assets/model_monitoring/components/data_drift/data_drift_signal_monitor/spec.yaml
  assets/model_monitoring/components/data_quality/data_quality_signal_monitor/spec.yaml
  assets/model_monitoring/components/feature_attribution_drift/feature_attribution_drift_signal_monitor/spec.yaml
  assets/model_monitoring/components/model_monitor/model_monitor_output_metrics/spec.yaml
  assets/model_monitoring/components/prediction_drift/prediction_drift_signal_monitor/spec.yaml
  assets/model_monitoring/components/src/shared_utilities/run_metrics_utils.py
Owners: @Azure/aml-model-monitoring

Add tag validation for prompt assets (#1555)
  scripts/azureml-assets/MANIFEST.in
  scripts/azureml-assets/azureml/assets/config/tag_values_prompt.yaml
  scripts/azureml-assets/azureml/assets/config/tag_values_shared.yaml
  scripts/azureml-assets/azureml/assets/validate_assets.py
  scripts/azureml-assets/setup.py
Owners: @azure/aml-assets

Added Hellaswag HF's preprocessor logic as custom script. (#1631)
  assets/aml-benchmark/scripts/custom_dataset_preprocessors/hellaswag_hf.py
  assets/aml-benchmark/tests/data/process_sample_examples.jsonl
  assets/aml-benchmark/tests/data/sample_examples_expected_preprocessed_outputs.jsonl
  assets/aml-benchmark/tests/test_dataset_preprocessor.py
Owners: @azure/aml-benchmarking

Add label_key parameter in prompt crafter (#1593)
  assets/aml-benchmark/components/prompt_crafter/spec.yaml
  assets/aml-benchmark/components/src/prompt_crafter/main.py
  assets/aml-benchmark/components/src/prompt_crafter/package/prompt_crafter.py
  assets/aml-benchmark/components/src/prompt_crafter/package/prompt_factory.py
  assets/aml-benchmark/tests/pipelines/prompt_crafter_pipeline.yaml
  assets/aml-benchmark/tests/test_prompt_crafter.py
Owners: @azure/aml-benchmarking

.
  assets/models/system/salesforce-blip-image-captioning-base/description.md
  assets/models/system/salesforce-blip-vqa-base/description.md
  assets/models/system/salesforce-blip2-opt-2-7b-image-to-text/description.md
  assets/models/system/salesforce-blip2-opt-2-7b-vqa/description.md
Owners: @azure/aml-training, @azure/azureml-inference-idc

fix imports
  assets/aml-benchmark/components/src/aml_benchmark/batch_output_formatter/result_converters.py
  assets/aml-benchmark/tests/test_result_converters.py
Owners: @azure/aml-benchmarking

fix imports
  assets/aml-benchmark/tests/test_checksum.py
  assets/aml-benchmark/tests/test_prompt_crafter_checksum.py
  assets/aml-benchmark/tests/test_prompts.py
  assets/aml-benchmark/tests/test_result_converters.py
Owners: @azure/aml-benchmarking

shorten folder name
  assets/aml-benchmark/components/benchmark-result-aggregator/spec.yaml
  assets/aml-benchmark/components/compute-performance-metrics/spec.yaml
  assets/aml-benchmark/components/src/aml_benchmark/perf_metrics/__init__.py
  assets/aml-benchmark/components/src/aml_benchmark/perf_metrics/main.py
  assets/aml-benchmark/components/src/aml_benchmark/result_aggregator/__init__.py
  assets/aml-benchmark/components/src/aml_benchmark/result_aggregator/main.py
  assets/aml-benchmark/tests/test_compute_perf_metrics.py
Owners: @azure/aml-benchmarking

fix failing tests
  assets/aml-benchmark/tests/test_batch_benchmark_inference.py
  assets/aml-benchmark/tests/test_dataset_preprocessor.py
  assets/aml-benchmark/tests/test_inference_postprocessor.py
Owners: @azure/aml-benchmarking

prompt crafter changes
  assets/aml-benchmark/components/prompt_crafter/spec.yaml
  assets/aml-benchmark/components/src/aml_benchmark/prompt_crafter/main.py
  assets/aml-benchmark/components/src/aml_benchmark/prompt_crafter/package/prompt_factory.py
  assets/aml-benchmark/tests/pipelines/prompt_crafter_pipeline.yaml
Owners: @azure/aml-benchmarking

update model inference section for blip models (#1642)
  assets/models/system/salesforce-blip-image-captioning-base/description.md
  assets/models/system/salesforce-blip-vqa-base/description.md
  assets/models/system/salesforce-blip2-opt-2-7b-image-to-text/description.md
  assets/models/system/salesforce-blip2-opt-2-7b-vqa/description.md
Owners: @azure/aml-training, @azure/azureml-inference-idc

Initial rewrite
  scripts/azureml-assets/azureml/assets/config.py
Owners: @azure/aml-assets

make timeout a constant
  scripts/azureml-assets/azureml/assets/config.py
Owners: @azure/aml-assets

hack the batch_output_formatter to generalize other tasks besides nlp
  assets/aml-benchmark/components/batch-benchmark-inference/spec.yaml
  assets/aml-benchmark/components/perf_pipeline/perf_pipeline.yml
  assets/aml-benchmark/components/src/batch_output_formatter/main.py
  assets/aml-benchmark/components/src/batch_output_formatter/result_converters.py
Owners: @azure/aml-benchmarking

comment cleanup
  scripts/azureml-assets/azureml/assets/config.py
Owners: @azure/aml-assets

if statement logic fix
  scripts/azureml-assets/azureml/assets/config.py
Owners: @azure/aml-assets

remove dataset registration step, and use HOBO path from run document
  assets/training/finetune_acft_hf_nlp/src/register_model/register_model.py
  assets/training/finetune_acft_hf_nlp/src/register_model/register_presets_model.py
Owners: @azure/aml-training

fix lint
  assets/training/finetune_acft_hf_nlp/src/register_model/register_presets_model.py
Owners: @azure/aml-training

.github/CODEOWNERS:

*     @azure/aml-assets
/assets/aml-benchmark/ @azure/aml-benchmarking
/assets/benchmark/ @azure/aims
/assets/responsibleai/ @azure/aml-rai
/assets/training/ @azure/aml-training
/assets/sample/ @Azure/aml-assets
/assets/data/ @Azure/azureml-data
/assets/models/ @azure/aml-training @azure/azureml-inference-idc
/assets/common/ @azure/aml-training
/assets/model_monitoring/ @Azure/aml-model-monitoring
/assets/large_language_models/ @azure/aml-training @azure/aml-llm
/assets/evaluation_results/ @azure/aml-benchmarking @azure/aml-llm
